<template>
  <div>
    <h1 ref="page-title" class="headline mt-4 mb-4">Digital Currency Account</h1>

    <div v-if="getActiveDigitalCurrencyAccount.accountId">
      <!-- Account Profile Picture Setting -->
      <v-list>
        <v-list-item>
          <v-list-item-icon>
            <DigitalCurrency6AccountUserProfilePicture :imageSrcUrl="getActiveDigitalCurrencyAccount.accountProfilePictureUrl" />
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-subtitle>
              <v-file-input class="mt-4 mb-4" label="Account Profile Picture"
            outlined prepend-icon="photo_camera"
            v-model="profilePictureFileList"
            counter :show-size="1000"></v-file-input>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>

      <!-- Account Settings -->

      <Input3InputWithUpdateButton :label="'Account Id'" :outlined="true" :disabled="true" :prependIcon="'person'"
        :initialValue="getActiveDigitalCurrencyAccount.accountId" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccount('accountId', $event)" />
      
      <Input3InputWithUpdateButton :label="'Account Name'" :outlined="true" :prependIcon="'person'"
        :initialValue="getActiveDigitalCurrencyAccount.accountName" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccount('accountName', $event)"
        :rules="[requireInput, requireLessThanN1Characters]" />
      
      <Input3InputWithUpdateButton :label="'Account Username'" :outlined="true" :prependIcon="'person'"
        :initialValue="getActiveDigitalCurrencyAccount.accountUsername" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccount('accountUsername', $event)"
        :rules="[requireInput, requireLessThanN2Characters, requireAlphanumericCharacters]" />

      <!-- Account Basic Description Settings -->

      <h1 class="headline mt-4 mb-4">Account Basic Description</h1>

      <Input3InputWithUpdateButton :label="'Account Minimum Description'" :outlined="true" :prependIcon="'message'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).accountMinimumDescription" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'accountMinimumDescription', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Account Median Description'" :outlined="true" :prependIcon="'message'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).accountMedianDescription" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'accountMedianDescription', $event)"
        :rules="[]" />
      
      <Input3InputWithUpdateButton :label="'Phone Number'" :outlined="true" :prependIcon="'phone'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).phoneNumber" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'phoneNumber', $event)"
        :rules="[]" />
      
      <Input3InputWithUpdateButton :label="'Email Address'" :outlined="true" :prependIcon="'mail_outline'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).emailAddress" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'emailAddress', $event)"
        :rules="[]" />
      
      <Input3InputWithUpdateButton :label="'Website Address'" :outlined="true" :prependIcon="'public'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).homeWebsiteAddress" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'homeWebsiteAddress', $event)"
        :rules="[]" />
      
      <Input3InputWithUpdateButton :label="'Physical Address - Street and House Number'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).physicalLocationAddress.streetAndHouseNumber" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'physicalLocationAddress', { 'streetAndHouseNumber': $event })"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Physical Address - City / Town Name'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).physicalLocationAddress.cityTownName" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'physicalLocationAddress', { 'cityTownName': $event })"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Physical Address - State / Province Name'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).physicalLocationAddress.stateProvinceName" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'physicalLocationAddress', { 'stateProvinceName': $event })"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Physical Address - Zip Code'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).physicalLocationAddress.zipCode" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'physicalLocationAddress', { 'zipCode': $event })"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Physical Address - Country Name'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).physicalLocationAddress.countryName" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'physicalLocationAddress', { 'countryName': $event })"
        :rules="[]" />
      
      <Input4PropertyIdMapper :generalItemName="'Social Media'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).socialMediaAccountList"
        :propertyNameForId="'Website Title'" :prependIcon="'groups'"
        :propertyNameForValue="'Your URL'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'socialMediaAccountList', $event)" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, BASIC_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(BASIC_DESCRIPTION, 'generalUserDescriptionList', $event)" />

      <!-- Transaction Resource Center Description Settings -->

      <h1 class="headline mt-4 mb-4">Transaction Resource Center Description</h1>

      <Input3InputWithUpdateButton :label="'Places Where Transactions Are Accepted From'" :outlined="true" :prependIcon="'location_on'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, TRANSACTION_RESOURCE_CENTER_DESCRIPTION).placesWhereTransactionsAreAcceptedFrom" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(TRANSACTION_RESOURCE_CENTER_DESCRIPTION, 'placesWhereTransactionsAreAcceptedFrom', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, TRANSACTION_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotions"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(TRANSACTION_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotions', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions of Type'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, TRANSACTION_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotionsOfType"
        :selectList="TRANSACTION_PROMOTION_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(TRANSACTION_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotionsOfType', $event)"
        :rules="[]" :chips="true" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, TRANSACTION_RESOURCE_CENTER_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(TRANSACTION_RESOURCE_CENTER_DESCRIPTION, 'generalUserDescriptionList', $event)" />
      
      <!-- Product Resource Center Description Settings -->

      <h1 class="headline mt-4 mb-4">Product Resource Center Description</h1>

      <Input3InputWithUpdateButton :label="'Business Description'" :outlined="true" :prependIcon="'business'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).businessDescription" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'businessDescription', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Product Genre List'" :outlined="true" :prependIcon="'shopping_bag'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).productGenreList"
        :selectList="PRODUCT_RESOURCE_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'productGenreList', $event)"
        :rules="[]" :chips="true" />

      <Input3InputWithUpdateButton :label="'Estimated Time To Deliver Product'" :outlined="true" :prependIcon="'watch_later'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).estimatedTimeToDeliverProduct" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'estimatedTimeToDeliverProduct', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotions"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotions', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions of Type'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotionsOfType"
        :selectList="PRODUCT_RESOURCE_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotionsOfType', $event)"
        :rules="[]" :chips="true" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, PRODUCT_RESOURCE_CENTER_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(PRODUCT_RESOURCE_CENTER_DESCRIPTION, 'generalUserDescriptionList', $event)" />

      <!-- Job Employment Resource Center Description Settings -->

      <h1 class="headline mt-4 mb-4">Job Employment Resource Center Description</h1>

      <Input3InputWithUpdateButton :label="'Company Work Culture'" :outlined="true" :prependIcon="'people'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).companyWorkCulture" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'companyWorkCulture', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Currently Hiring Position List'" :outlined="true" :prependIcon="'work_outline'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).currentlyHiringPositionList"
        :selectList="JOB_EMPLOYMENT_POSITION_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'currentlyHiringPositionList', $event)"
        :rules="[]" :chips="true" />

      <Input3InputWithUpdateButton :label="'Estimated Time to Hire'" :outlined="true" :prependIcon="'watch_later'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).estimatedTimeToHire" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'estimatedTimeToHire', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotions"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotions', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions of Type'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotionsOfType"
        :selectList="JOB_EMPLOYMENT_POSITION_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotionsOfType', $event)"
        :rules="[]" :chips="true" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION, 'generalUserDescriptionList', $event)" />

      <!-- Currency Exchange Resource Center Description Settings -->

      <h1 class="headline mt-4 mb-4">Currency Exchange Resource Center Description</h1>

      <Input3InputWithUpdateButton :label="'Currency Exchange Description'" :outlined="true" :prependIcon="'business'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).currencyExchangeDescription" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'currencyExchangeDescription', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Currency Trade List'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).currencyTradeList"
        :selectList="CURRENCY_EXCHANGE_CURRENCY_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'currencyTradeList', $event)"
        :rules="[]" :chips="true" />

      <Input3InputWithUpdateButton :label="'Estimated Time to Deliver Trade Payout'" :outlined="true" :prependIcon="'watch_later'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).estimatedTimeToDeliverTradePayout" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'estimatedTimeToDeliverTradePayout', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotions"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotions', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions of Type'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotionsOfType"
        :selectList="CURRENCY_EXCHANGE_CURRENCY_TYPE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotionsOfType', $event)"
        :rules="[]" :chips="true" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION, 'generalUserDescriptionList', $event)" />

      <!-- Digital Currency Alternative Resource Center Description Settings -->

      <h1 class="headline mt-4 mb-4">Digital Currency Alternative Resource Center Description</h1>

      <Input3InputWithUpdateButton :label="'Business Description'" :outlined="true" :prependIcon="'business'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).businessDescription" :inputType="'INPUT_TYPE_TEXT_AREA'"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'businessDescription', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Business Feature List'" :outlined="true" :prependIcon="'list'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).businessFeatureList"
        :selectList="DIGITAL_CURRENCY_ALTERNATIVE_FEATURE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'businessFeatureList', $event)"
        :rules="[]" :chips="true" />

      <Input3InputWithUpdateButton :label="'Business Website URL'" :outlined="true" :prependIcon="'public'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).businessWebsiteUrl" :inputType="'INPUT_TYPE_TEXT_FIELD'"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'businessWebsiteUrl', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Representative of An Alternative Digital Currency?'" :outlined="true" :prependIcon="'person'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).doesRepresentDigitalCurrencyAlternative"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'doesRepresentDigitalCurrencyAlternative', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotions"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotions', $event)"
        :rules="[]" />

      <Input3InputWithUpdateButton :label="'Willing To Receive Promotions of Type'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).willingToReceivePromotionsOfType"
        :selectList="DIGITAL_CURRENCY_ALTERNATIVE_FEATURE_LIST"
        :inputType="'INPUT_TYPE_SELECT_INPUT'" :multipleSelect="true"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'willingToReceivePromotionsOfType', $event)"
        :rules="[]" :chips="true" />

      <Input4PropertyIdMapper :generalItemName="'Additional Information'" :outlined="true"
        :initialItemList="getDigitalCurrencyAccountDescription(getActiveDigitalCurrencyAccount.accountId, DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION).generalUserDescriptionList"
        :propertyNameForId="'Title'" :prependIcon="'info_outline'"
        :propertyNameForValue="'Description'"
        v-on:update-value="updateAccountDescription(DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION, 'generalUserDescriptionList', $event)" />


      <!-- Delete Account Button -->

      <v-btn class="warning" @click="showAreYouSureDeleteDialog = true">
        <v-icon left>delete</v-icon>
        Delete Account
      </v-btn>

      <UserInterface5AreYouSure :title="areYouSureDeleteDialogTitle"
      :iconId="areYouSureDeleteDialogIconId"
      :areYouSureMessage="areYouSureDeleteDialogMessage"
      :headerCssClass="areYouSureDeleteDialogHeaderCssClass"
      :showDialog="showAreYouSureDeleteDialog"
      :yesOptionEvaluationFunction="deleteAccount"
      v-on:show-dialog="showAreYouSureDeleteDialog = $event"  />

      <UserInterface3ErrorMessage
        :showErrorMessageDialog="showErrorMessage"
        :errorMessage="errorMessage"
        v-on:close-dialog="showErrorMessage = false" />
      
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter, Action } from 'vuex-class'
import { Watch } from 'vue-property-decorator'

import DigitalCurrency6AccountUserProfilePicture from '../../../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'

import Input3InputWithUpdateButton from '../../../../../../html-components-type-1-basic/basic-type-3-input/input-3-input-with-update-button.vue'
import UserInterface3ErrorMessage from '../../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'
import Input4PropertyIdMapper from '../../../../../../html-components-type-1-basic/basic-type-3-input/input-4-property-id-mapper.vue'
import UserInterface5AreYouSure from '../../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-5-are-you-sure.vue'


import {
  TRANSACTION_PROMOTION_TYPE_LIST,
  PRODUCT_RESOURCE_TYPE_LIST,
  JOB_EMPLOYMENT_POSITION_TYPE_LIST,
  CURRENCY_EXCHANGE_CURRENCY_TYPE_LIST,
  DIGITAL_CURRENCY_ALTERNATIVE_FEATURE_LIST
} from '../../../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-constants/helper-constants-2'


// import { projectVariables } from '../../../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


const namespace = 'digitalCurrency'

@Component({
  components: {
    DigitalCurrency6AccountUserProfilePicture,
    Input3InputWithUpdateButton,
    UserInterface3ErrorMessage,
    Input4PropertyIdMapper,
    UserInterface5AreYouSure
  }
})
class AccountInformationSettings1ServiceAccountSettings extends Vue {
  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyAccountDescription', { namespace }) getDigitalCurrencyAccountDescription?: any

  @Action('deleteDigitalCurrencyAccount', { namespace }) deleteDigitalCurrencyAccount?: any
  @Action('updateDigitalCurrencyAccount', { namespace }) updateDigitalCurrencyAccount?: any
  @Action('updateDigitalCurrencyAccountDescription', { namespace }) updateDigitalCurrencyAccountDescription?: any

  showAreYouSureDeleteDialog: boolean = false
  areYouSureDeleteDialogIconId = 'delete'
  areYouSureDeleteDialogTitle = 'Delete Account'
  areYouSureDeleteDialogMessage = `Are you sure you wish to delete this account?`
  areYouSureDeleteDialogHeaderCssClass = 'error'

  showErrorMessage: boolean = false
  errorMessage: string = 'errorMessage'

  profilePictureFileList: any = []

  BASIC_DESCRIPTION = 'basic-description'
  TRANSACTION_RESOURCE_CENTER_DESCRIPTION = 'transaction-resource-center-description'
  PRODUCT_RESOURCE_CENTER_DESCRIPTION = 'product-resource-center-description'
  JOB_EMPLOYMENT_RESOURCE_CENTER_DESCRIPTION = 'job-employment-resource-center-description'
  CURRENCY_EXCHANGE_RESOURCE_CENTER_DESCRIPTION = 'currency-exchange-resource-center-description'
  DIGITAL_CURRENCY_ALTERNATIVE_RESOURCE_CENTER_DESCRIPTION = 'digital-currency-alternative-resource-center-description'

  TRANSACTION_PROMOTION_TYPE_LIST: string[] = TRANSACTION_PROMOTION_TYPE_LIST

  get PRODUCT_RESOURCE_TYPE_LIST () {
    return PRODUCT_RESOURCE_TYPE_LIST.map(productResource => productResource.productResourceName)
  }

  get JOB_EMPLOYMENT_POSITION_TYPE_LIST () {
    return JOB_EMPLOYMENT_POSITION_TYPE_LIST.map(jobEmploymentPosition => jobEmploymentPosition.jobEmploymentPositionName)
  }

  get CURRENCY_EXCHANGE_CURRENCY_TYPE_LIST () {
    return CURRENCY_EXCHANGE_CURRENCY_TYPE_LIST.map(currencyExchangeCurrency => currencyExchangeCurrency.currencyExchangeCurrencyName)
  }

  get DIGITAL_CURRENCY_ALTERNATIVE_FEATURE_LIST () {
    return DIGITAL_CURRENCY_ALTERNATIVE_FEATURE_LIST.map(digitalCurrencyAlternativeFeature => digitalCurrencyAlternativeFeature.digitalCurrencyAlternativeFeatureName)
  }

  @Watch('profilePictureFileList') updateProfilePictureFileList () {
    this.updateAccount('accountProfilePictureUrl', this.profilePictureFileList)
  }

  async deleteAccount () {
    this.showAreYouSureDeleteDialog = false
    this.scrollToTop()

    this.deleteDigitalCurrencyAccount(this.getActiveDigitalCurrencyAccount.accountId)
    .catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }

  updateAccount (propertyId: string, propertyValue: any) {
    this.updateDigitalCurrencyAccount({
      digitalCurrencyAccountId: this.getActiveDigitalCurrencyAccount.accountId,
      propertyId,
      propertyValue
    }).catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }

  updateAccountDescription (descriptionType: string, propertyId: string, propertyValue: any) {
    this.updateDigitalCurrencyAccountDescription({
      digitalCurrencyAccountId: this.getActiveDigitalCurrencyAccount.accountId,
      descriptionType,
      propertyId,
      propertyValue
    }).catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }

  scrollToTop () {
    const titleElement = this.$refs['page-title'] as HTMLElement
    const titleElementTopPosition = titleElement.getBoundingClientRect().top + window.scrollY
    window.scrollTo({ top: titleElementTopPosition - 800, behavior: 'smooth' })
  }

  // Input Validation Rules

  requireInput (inputValue: any) {
    return !!inputValue || 'Must have input value'
  }

  requireLessThanN1Characters (inputValue: any) {
    return inputValue.length <= 30 || 'Must have less than 30 characters'
  }

  requireLessThanN2Characters (inputValue: any) {
    return inputValue.length <= 20 || 'Must have less than 20 characters'
  }

  requireAlphanumericCharacters (inputValue: any) {
    const regularExpressionPattern = /^([a-zA-Z0-9_-]+)$/

    return regularExpressionPattern.test(inputValue) || 'Must contain alphanumeric characters only'
  }

}

export default AccountInformationSettings1ServiceAccountSettings

</script>

<style lang="scss">

</style>