<template>
  <div>
    
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'



@Component({
  components: {
  }
})
class AccountInformationSettings1ServiceAccountSettings extends Vue {

}

export default AccountInformationSettings1ServiceAccountSettings

</script>

<style lang="scss">

</style>