<template>
  <div class="account-information-settings-2-active-account-settings">
    <h1 class="headline mt-4 mb-4">Digital Currency Account List</h1>
    <v-data-table
      :headers="digitalCurrencyAccountTableHeader"
      :items="getServiceAccountDigitalCurrencyAccountList.reverse()"
      :single-select="true"
      item-key="accountId"
      v-model="selectedDigitalCurrencyAccount"
      class="elevation-1">
      <template v-slot:top>
        <div style="display: flex; flex-direction: row; justify-content: flex-end;">
          <v-btn @click="createAccount()" color="primary" dark class="mb-2">
            <v-icon left>add</v-icon>
            Create Account
          </v-btn>
        </div>
      </template>
      <template v-slot:item.accountName="{ item }">
        <div>{{ item.accountName }}</div>
        <div>(@{{ item.accountUsername }})</div>
      </template>
      <template v-slot:item.accountProfilePictureUrl="{ item }">
        <DigitalCurrency6AccountUserProfilePicture :imageSize="36" :imageSrcUrl="item.accountProfilePictureUrl" />
      </template>
      <template v-slot:item.accountCurrencyAmount="{ item }">
        <DigitalCurrency4PriceLabel
          :digitalCurrencyAmount="item.accountCurrencyAmount"
          :accountId="item.accountId"
          :showVerticalIncrementDecrementAnimation="false"
          :showIncrementDecrementAnimationSinceTimeUpdate="false"
          :showIncrementDecrementAnimationNumberOfTransactions="true"
          :showIncrementDecrementAnimationTransactionTextAbbreviated="true" />
      </template>
      <template v-slot:item.activateAccount="{ item }">
        <v-btn v-if="!isSelectedAccount(item)" class="primary" @click="selectActiveDigitalCurrencyAccount(item)">
          Set Active
        </v-btn>
        <v-chip v-else class="success">Active</v-chip>
      </template>
    </v-data-table>
    <UserInterface3ErrorMessage
      :showErrorMessageDialog="showErrorMessage"
      :errorMessage="errorMessage"
      v-on:close-dialog="showErrorMessage = false" />
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter, Action } from 'vuex-class'
import { mapGetters } from 'vuex'

import DigitalCurrency4PriceLabel from '../../../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-4-price-label.vue'
import DigitalCurrency6AccountUserProfilePicture from '../../../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'
import UserInterface3ErrorMessage from '../../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'



const namespace = 'digitalCurrency'

@Component({
  components: {
    DigitalCurrency4PriceLabel,
    DigitalCurrency6AccountUserProfilePicture,
    UserInterface3ErrorMessage
  },
  computed: mapGetters(['getActiveDigitalCurrencyAccount'])
})
class AccountInformationSettings2ActiveAccountSettings extends Vue {

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getServiceAccountDigitalCurrencyAccountList', { namespace }) getServiceAccountDigitalCurrencyAccountList: any

  @Action('createDigitalCurrencyAccount', { namespace }) createDigitalCurrencyAccount?: any
  @Action('updateServiceAccountActiveDigitalCurrencyAccountId', { namespace }) updateServiceAccountActiveDigitalCurrencyAccountId?: any

  showErrorMessage: boolean = false
  errorMessage: string = ''

  selectedDigitalCurrencyAccountList: any[] = []

  digitalCurrencyAccountTableHeader: any[] = [
    { align: 'start', value: 'accountProfilePictureUrl', sortable: false },
    { text: 'Account Name', value: 'accountName' },
    { text: 'Account Balance', value: 'accountCurrencyAmount' },
    { text: 'Set Active', value: 'activateAccount', sortable: false }
  ]

  createAccountPromise: Promise<any> | null = null

  isSelectedAccount (account: any): boolean {
    if (!this.getActiveDigitalCurrencyAccount) {
      return false
    }
    return this.getActiveDigitalCurrencyAccount.accountId === account.accountId
  }

  selectActiveDigitalCurrencyAccount (account: any) {
    // Vue.set(this.selectedDigitalCurrencyAccountList, 0, account)
    this.updateServiceAccountActiveDigitalCurrencyAccountId(account.accountId)
  }

  createAccount () {
    if (this.createAccountPromise) {
      return
    }

    this.createAccountPromise = this.createDigitalCurrencyAccount()
    .then(() => {
      this.createAccountPromise = null
    }).catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      this.createAccountPromise = null
    })
  }

  get selectedDigitalCurrencyAccount () {
    return [this.getActiveDigitalCurrencyAccount]
  }

  set selectedDigitalCurrencyAccount (item: any) {
    this.updateServiceAccountActiveDigitalCurrencyAccountId(item[0].accountId)
  }
}

export default AccountInformationSettings2ActiveAccountSettings

</script>

<style lang="scss">

// .account-information-settings-2-active-account-settings {
//   .v-data-table__wrapper, .v-data-table__mobile-table-row {
//     // overflow: visible !important;
//   }

//   .v-data-table__mobile-row, .v-data-table__mobile-row__cell {
//     // overflow: visible !important;
//   }
// }

</style>