<template>
  <div>
    <h1 class="headline mt-4 mb-4">Service Account Settings</h1>

    <v-text-field outlined
      label="Firebase Auth Uid"
      :value="serviceAccount ? serviceAccount.serviceAccountId : ''" disabled></v-text-field>

    <v-text-field outlined
      label="Is Anonymous User"
      :value="serviceAccount ? serviceAccount.isAnonymousAccount : ''" disabled></v-text-field>

    <v-text-field v-if="serviceAccount && !serviceAccount.isAnonymousAccount" outlined
      label="Is Email Verified"
      :value="serviceAccount ? serviceAccount.isEmailVerified : ''" disabled></v-text-field>

    <v-text-field v-if="serviceAccount && serviceAccount.emailAddress" outlined
      label="Email Address"
      :value="serviceAccount ? serviceAccount.emailAddress : ''" disabled></v-text-field>

    <DigitalCurrency17AccountSignInButton />

    
    <div class="mt-4 mb-4">
      To access your account on other devices,
      try signing in with an email or signing in with Google.
    </div>

    <v-btn class="warning mt-4" @click="showAreYouSureLogoutDialog = true">
      <v-icon left>logout</v-icon>
      Sign Out
    </v-btn>

    <!-- Are You Sure To Logout Dialog -->

    <v-dialog v-model="showAreYouSureLogoutDialog" width="400">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
          <v-toolbar-title>
            <v-icon left>logout</v-icon>
            Sign Out
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="showAreYouSureLogoutDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4" style="text-align: center">
          <h1 class="headline mb-4">Are You Sure?</h1>
          <div style="margin: auto;">
            <v-btn style="display: inline-block;" class="warning mr-4 mb-4" @click="signOut()">Yes, Sign Out</v-btn>
            <v-btn style="display: inline-block;" class="mb-4" @click="showAreYouSureLogoutDialog = false">No. Stay Logged In</v-btn>
          </div>
        </div>
      </v-card>
    </v-dialog>

    <UserInterface3ErrorMessage
      :showErrorMessageDialog="showErrorMessage"
      :errorMessage="errorMessage"
      v-on:close-dialog="showErrorMessage = false" />
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { State, Action } from 'vuex-class'

import Input2PasswordInput from '../../../../../../html-components-type-1-basic/basic-type-3-input/input-2-password-input.vue'
import UserInterface3ErrorMessage from '../../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'
import DigitalCurrency17AccountSignInButton from '../../../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-17-account-sign-in-button.vue'

@Component({
  components: {
    Input2PasswordInput,
    UserInterface3ErrorMessage,
    DigitalCurrency17AccountSignInButton
  }
})
class AccountInformationSettings1ServiceAccountSettings extends Vue {
  @State('serviceAccount') serviceAccount?: any

  @Action('uninitializeServiceAccount') uninitializeServiceAccount?: any

  showAreYouSureLogoutDialog: boolean = false

  showErrorMessage: boolean = false
  errorMessage: string = ''

  signOut () {
    this.uninitializeServiceAccount()
    .then(() => {
      this.showAreYouSureLogoutDialog = false
    })
    .catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }
}

export default AccountInformationSettings1ServiceAccountSettings

</script>

<style lang="scss">

.sign-in-with-provider-list {
  * {
    display: inline-block;
  }
}

</style>