
<template>
  <div class="user-interface-4-notification-list">
    <div>
      <v-snackbar class="notification" top left v-model="showNotification" :timeout="millisecondDelayToHideNotification">
        <div class="notification-content">
          <v-card v-for="(notification, index) in notificationItemListWithFilter"
            v-bind:key="index" class="notification-item ma-2 pa-2">
            <div>
              <v-icon v-if="notification.notificationType === NOTIFICATION_TYPE_GENERAL">
                {{ notification.notificationIconImageUrl }}
              </v-icon>
              <DigitalCurrency6AccountUserProfilePicture v-else-if="notification.notificationType === NOTIFICATION_TYPE_ACCOUNT"
                :imageSrcUrl="notification.notificationIconImageUrl"
                :imageSize="36"/>
              <v-icon v-else-if="notification.notificationType === NOTIFICATION_TYPE_TRANSACTION">
                description
              </v-icon>
            </div>
            <div class="notification-message">
              <a :href="notification.notificationMoreInformationUrl || null">
                <UserInterface6HtmlReader :messageString="notification.notificationMessage" :messageHtmlItemList="notification.notificationMessageHtmlItemList" />
              </a>
              <div style="color: #AAAAAA">
                {{ getTimeAgoSinceNow(notification.notificationDate) }}
              </div>
            </div>
            <v-btn icon @click="removeNotificationItem(index)">
              <v-icon>close</v-icon>
            </v-btn>
          </v-card>
        </div>
      </v-snackbar>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State, Mutation } from 'vuex-class'

import DigitalCurrency1DigitalCurrencySymbol from '../basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
import DigitalCurrency6AccountUserProfilePicture from '../basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'

import UserInterface6HtmlReader from './user-interface-6-html-reader.vue'

import {
  NOTIFICATION_TYPE_ACCOUNT,
  NOTIFICATION_TYPE_TRANSACTION,
  NOTIFICATION_TYPE_GENERAL
} from '../../../../service-for-game-evaluation-loop/game-evaluation-loop-type-2-support/support-type-2-random/random-type-2-store/service-for-store-support-vectors/store-support-vectors-type-1-data-structures/data-structures-1-root-state'

import {
  REMOVE_NOTIFICATION,
  TOGGLE_SHOW_NOTIFICATION_LIST
} from '../../../../service-for-game-evaluation-loop/game-evaluation-loop-type-2-support/support-type-2-random/random-type-2-store/service-for-store-support-vectors/store-support-vectors-type-2-algorithms/algorithms-type-1-mutations/mutations-1-general'

import { getTimeAgoSinceNow } from '../basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-6-get-time-ago-since-now'

// import { getIndexListForSubstring } from './service-for-algorithms/algorithms-4-get-index-list-for-substring'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol,
    DigitalCurrency6AccountUserProfilePicture,
    UserInterface6HtmlReader
  }
})
class UserInterface4NotificationList extends Vue {

  @State('showNotificationList') showNotificationList?: boolean
  @State('notificationList') notificationList?: any[]

  @Mutation(REMOVE_NOTIFICATION) REMOVE_NOTIFICATION?: any
  @Mutation(TOGGLE_SHOW_NOTIFICATION_LIST) TOGGLE_SHOW_NOTIFICATION_LIST?: any

  digitalCurrencySymbolImageIconUrl = projectVariables.digitalCurrencySymbolImageIconUrl

  NOTIFICATION_TYPE_ACCOUNT: string = NOTIFICATION_TYPE_ACCOUNT
  NOTIFICATION_TYPE_TRANSACTION: string = NOTIFICATION_TYPE_TRANSACTION
  NOTIFICATION_TYPE_GENERAL: string = NOTIFICATION_TYPE_GENERAL

  millisecondDelayToHideNotification: number = -1 // 10 * 1000 // 10 seconds

  maximumNumberOfNotificationsToShow: number = 2

  get showNotification () {
    return this.showNotificationList
  }

  set showNotification (value: any) {
    this.TOGGLE_SHOW_NOTIFICATION_LIST(value)
  }

  get notificationItemListWithFilter () {
    return (this.notificationList || []).filter((_notificationItem: any, index: number) => {
      return ((index + 1) <= this.maximumNumberOfNotificationsToShow) ? true : false
    })
  }

  removeNotificationItem (itemIndex: number) {
    this.REMOVE_NOTIFICATION(itemIndex)
  }

  getTimeAgoSinceNow (date: Date) {
    return getTimeAgoSinceNow(date)
  }
}

export default UserInterface4NotificationList

</script>

<style lang="scss" scoped>


.notification {

  .notification-content {
    max-height: 200px;
    overflow-y: scroll;
  }

  .notification-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    overflow-y: scroll;

    .notification-message {
      margin-left: 12px !important;
      margin-right: 12px !important;
      flex-grow: 3;

      a {
        text-decoration: none;
        color: inherit;
      }
    }
  }
}


</style>