<template>
  <div class="user-interface-2-folder-data-table">
    <v-btn text
      v-if="currentFileItemIdList.length > 0"
      @click="navigateBackToPreviousFileItem()">
      <v-icon left>arrow_back</v-icon>
      Back
    </v-btn>
    <div ref="folder-data-table-header" class="folder-data-table-header">
      <div class="folder-header">
        <div class="folder-header-item-name" v-for="(fileName, index) in currentFileItemNameList" v-bind:key="index">

          <h2 class="headline">
            <v-icon left v-if="!isValidHttpUrl(currentFileItemIconImage[index])">{{ currentFileItemIconImage[index] }}</v-icon>
            {{ fileName }}
          </h2>
          <h2 class="headline ml-2 mr-2" v-if="index !== currentFileItemNameList.length - 1" >></h2>
        </div>
      </div>
    </div>
    <div v-if="isCurrentItemFolder()" class="folder-data-table-content">
      <v-data-table
        :headers="getDataTableHeaderList"
        :items="dataTableItemList"
        item-key="itemName"
        :search="searchText"
        :hide-default-header="true"
        :hide-default-footer="true"
        :page.sync="page"
        :items-per-page="itemsPerPage"
        @page-count="pageCount = $event">
        <template v-slot:top>
          <v-container v-if="currentSelectedItem ? currentSelectedItem.itemData ? currentSelectedItem.itemData.pageTitle : false : false"
            class="headline" text-center>
            {{ currentSelectedItem.itemData.pageTitle }}
          </v-container>
          <div style="display: flex; flex-direction: row; align-items: center;">
            <v-text-field v-if="showSearchTextField"
              outlined v-model="searchText"
              prepend-icon="search"
              :label="dataTableSearchTextFieldLabel"
              class="ma-4 search-text-field"></v-text-field>
            <v-text-field v-if="showCustomSearchTextField"
              outlined v-model="customSearchText"
              prepend-icon="search"
              :label="dataTableSearchTextFieldLabel"
              class="ma-4 search-text-field"></v-text-field>
            <v-progress-circular v-if="showCustomSearchTextField && showSearchLoadingIcon"
              color="blue" indeterminate></v-progress-circular>
          </div>
          <v-container v-if="currentSelectedItem && currentSelectedItem.actionButtonList" text-center>
            <v-btn v-for="(button, index) in currentSelectedItem.actionButtonList" v-bind:key="index"
              tile :class="button.cssClass" class="ma-2"
              @click="button.evaluateFunction()">
              <v-icon v-if="button.iconImageId" left>
                {{ button.iconImageId }}
              </v-icon>
              {{ button.text }}
            </v-btn>
          </v-container>
        </template>
        <template v-slot:body="{ items }">
          <div class="folder-content-container">
            <div v-for="(item, index) in items" v-bind:key="index">
              <v-container v-if="item.itemType === itemTypeAccount"
                style="width: 150px; overflow-x: hidden"
                class="ma-2 folder-item"
                @click="openFolderOrFileItem(item, index)"
                text-center>
                <DigitalCurrency6AccountUserProfilePicture
                  :imageSrcUrl="item.itemIconImageUrl"/>
                <div class="ma-2">{{ item.itemName }}</div>
              </v-container>
              <v-card v-else class="ma-2 folder-item" max-width="150px" min-width="150px" @click="openFolderOrFileItem(item, index)">
                <v-img v-if="isValidHttpUrl(item.itemIconImageUrl)" height="80px" class="white--text align-end"
                  :src="item.itemIconImageUrl">
                </v-img>
                <div v-else class="folder-or-file-image">
                  <v-icon large>
                    {{ item.itemIconImageUrl }}
                  </v-icon>
                </div>
            
                <v-card-subtitle>
                  {{ item.itemName }}
                </v-card-subtitle>

                <!--
                <v-card-text class="text--primary">
                  <span>2 days ago</span><br>
                  <span>2,000 views</span>
                </v-card-text>
                -->
                <v-card-actions>
                  
                </v-card-actions>
              </v-card>
            </div>
          </div>
        </template>
      </v-data-table>
      <v-pagination class="ma-4" v-model="page" :length="pageCount" :total-visible="7"></v-pagination>
    </div>
    <div v-else class="ma-4 mb-4">
      <FolderItemView1DescriptionListView v-if="currentSelectedItem.itemType === itemTypeDescriptionList"
        :descriptionList="currentSelectedItem.itemData.descriptionListItemList" />
      <FolderItemView2GraphView v-show="currentSelectedItem.itemType === itemTypeGraph"
        :graphType="currentSelectedItem ? currentSelectedItem.itemData ? currentSelectedItem.itemData.graphType : '' : ''"
        :graphData="currentSelectedItem ? currentSelectedItem.itemData ? currentSelectedItem.itemData.graphData : {} : {}"
        v-on:openFolderOrFileItem="openFolderOrFileItem($event)"
        v-on:graphViewDataTablePageData="onUpdateGraphViewDataTablePageData($event)" />
      <FolderItemView3AccountView v-if="currentSelectedItem.itemType === itemTypeAccount"
        :accountId="currentSelectedItem.itemId" />
      <TransactionHelperComponents1MainPage v-if="currentSelectedItem.itemType === itemTypeTransaction"
        :transactionId="currentSelectedItem.itemId"
        :transactionOwnerAccountId="digitalCurrencyAccountId"
        :openWebsitePageInNewTab="false"
        v-on:openFolderOrFileItem="openFolderOrFileItem($event)"
        v-on:navigateBackToPreviousFileItem="navigateBackToPreviousFileItem($event)" />
      <!--
      <FolderItemView4ProductResourceView v-else-if="currentSelectedItem.itemType === itemTypeProductResource" />
      <FolderItemView5SettingsView v-else-if="currentSelectedItem.itemType === itemTypeSettings" />
      -->
    </div>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

import { isValidHttpUrl } from './service-for-algorithms/algorithms-1-is-valid-http-url'

import {
  DataTableFile,
  itemTypeFolder,
  itemTypeAccount,
  itemTypeTransaction,
  itemTypeDescriptionList,
  itemTypeGraph,
  itemTypeProductResource,
  itemTypeSettings
} from './service-for-data-structures/data-structures-1-file-system-data-structure'


import FolderItemView1DescriptionListView from './service-for-folder-item-view/folder-item-view-1-description-list-view.vue'
import FolderItemView2GraphView from './service-for-folder-item-view/folder-item-view-2-graph-view.vue'
import FolderItemView3AccountView from './service-for-folder-item-view/folder-item-view-3-account-view.vue'
import FolderItemView4ProductResourceView from './service-for-folder-item-view/folder-item-view-4-product-resource-view.vue'
import FolderItemView5SettingsView from './service-for-folder-item-view/folder-item-view-5-settings-view.vue'
import TransactionHelperComponents1MainPage from '../../html-components-type-2-application-specific/application-specific-type-2-pages/pages-type-6-transaction/service-for-transaction-helper-components/transaction-helper-components-1-main-page.vue'

import DigitalCurrency6AccountUserProfilePicture from '../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'


@Component({
  name: 'UserInterface2FolderDataTable',
  components: {
    FolderItemView1DescriptionListView,
    FolderItemView2GraphView,
    FolderItemView3AccountView,
    FolderItemView4ProductResourceView,
    FolderItemView5SettingsView,
    TransactionHelperComponents1MainPage,
    DigitalCurrency6AccountUserProfilePicture
  }
})
class UserInterface2FolderDataTable extends Vue {
  @Prop({ default: '' }) tableId?: string
  @Prop({ default: 'Search' }) dataTableSearchTextFieldLabel?: any
  @Prop({ default: () => [] }) folderActionButtonList?: any

  @Prop({ default: '' }) digitalCurrencyAccountId?: string

  // @Prop({ default: () => fileSystemForAccountDescription.fileSystemFolderOrFileList }) initialFileSystemDataStructureFolderOrFileList?: any
  @Prop({ default: () => { return {} } }) initialFile?: any

  searchText: string = ''

  customSearchText: string = ''
  isWaitingToSearch: boolean = false
  lastDateStartedTyping: number = 0
  customSearchDelayTime: number = 3 * 1000 // 3 seconds
  showSearchLoadingIcon: boolean = false

  page: number = 1
  pageCount: number = 0
  itemsPerPage: number = 10

  dataTableItemList: any[] = []

  rootFile: DataTableFile = new DataTableFile()

  currentFileItemIdList: string[] = []
  currentFileItemNameList: string[] = []
  currentFileItemIconImage: string[] = []

  currentSelectedItem: any = null

  itemTypeAccount: string = itemTypeAccount
  itemTypeTransaction: string = itemTypeTransaction
  itemTypeDescriptionList: string = itemTypeDescriptionList
  itemTypeGraph: string = itemTypeGraph
  itemTypeProductResource: string = itemTypeProductResource
  itemTypeSettings: string = itemTypeSettings

  isValidHttpUrl = isValidHttpUrl

  @Watch('initialFile', { deep: true }) async updateInitialFile () {
    Vue.set(this, 'rootFile', await this.initialFile)
    await this.updateCurrentSelectedFileFromInitialFolder()
  }

  @Watch('page') updatePage () {
    this.scrollToTop()
  }

  @Watch('customSearchText') updateCustomSearchText () {
    const onUpdateCustomSearchTextField = this.currentSelectedItem ? this.currentSelectedItem.itemData ? this.currentSelectedItem.itemData.onUpdateCustomSearchTextField !== undefined ? this.currentSelectedItem.itemData.onUpdateCustomSearchTextField : null : null : null
    if (!onUpdateCustomSearchTextField) {
      return
    }

    this.lastDateStartedTyping = (new Date()).getTime()

    if (this.isWaitingToSearch) {
      return
    }

    this.isWaitingToSearch = true
    this.checkIfUserHasStoppedTyping()

    setTimeout(() => {
      onUpdateCustomSearchTextField(this.customSearchText)
      this.isWaitingToSearch = false
    }, this.customSearchDelayTime)
  }

  checkIfUserHasStoppedTyping () {
    let dateSetIntervalId = setInterval(() => {
      const timeSinceLastTyping = (new Date()).getTime() - this.lastDateStartedTyping

      this.showSearchLoadingIcon = timeSinceLastTyping < this.customSearchDelayTime

      if (!this.showSearchLoadingIcon) {
        clearInterval(dateSetIntervalId)
      }
    }, 100)
  }

  get showSearchTextField () {
    const showSearchTextField = this.currentSelectedItem ? this.currentSelectedItem.itemData ? this.currentSelectedItem.itemData.showSearchTextField !== undefined ? this.currentSelectedItem.itemData.showSearchTextField : true : true : true
    const showCustomSearchTextField = this.currentSelectedItem ? this.currentSelectedItem.itemData ? this.currentSelectedItem.itemData.showCustomSearchTextField !== undefined ? this.currentSelectedItem.itemData.showCustomSearchTextField : false : false : false
    return showSearchTextField && !showCustomSearchTextField
  }

  get showCustomSearchTextField () {
    const showSearchTextField = this.currentSelectedItem ? this.currentSelectedItem.itemData ? this.currentSelectedItem.itemData.showSearchTextField !== undefined ? this.currentSelectedItem.itemData.showSearchTextField : true : true : true
    const showCustomSearchTextField = this.currentSelectedItem ? this.currentSelectedItem.itemData ? this.currentSelectedItem.itemData.showCustomSearchTextField !== undefined ? this.currentSelectedItem.itemData.showCustomSearchTextField : false : false : false
    return showSearchTextField && showCustomSearchTextField
  }

  get getDataTableHeaderList () {
    const fileSystemFolderOrFile = new DataTableFile()

    const headerList = []

    for (let propertyId in fileSystemFolderOrFile) {
      if (!fileSystemFolderOrFile.hasOwnProperty(propertyId)) {
        continue
      }

      headerList.push({ text: propertyId, value: propertyId })
    }

    headerList.push({ text: 'itemDataAsString', value: 'itemDataAsString' })

    return headerList
  }

  updateDataTableItemList () {
    if (!this.currentSelectedItem || !this.currentSelectedItem.fileVariableTable) {
      return []
    }
    const fileList = Object.keys(this.currentSelectedItem.fileVariableTable).map((fileItemId: string) => {
      const fileItem = this.currentSelectedItem.fileVariableTable[fileItemId]
      return {
        ...fileItem,
        // Useful for search with the data table default search
        itemDataAsString: JSON.stringify(fileItem)
      }
    })

    this.dataTableItemList = fileList
  }

  isCurrentItemFolder (): boolean {
    if (!this.currentSelectedItem) {
      return true
    }
    const isCurrentSelectedItemTypeFolder: boolean = this.currentSelectedItem.itemType === itemTypeFolder
    const isCurrentSelectedItemList: boolean = Array.isArray(this.currentSelectedItem)

    const isCurrentItemFolder = isCurrentSelectedItemTypeFolder || isCurrentSelectedItemList
    return isCurrentItemFolder
  }

  async mounted () {
    this.rootFile = await this.initialFile
    this.currentSelectedItem = this.rootFile
    this.updateDataTableItemList()
  }

  async openFolderOrFileItem (item: DataTableFile, _itemIndex: number) {
    this.currentFileItemIdList.push(item.itemId)
    this.currentFileItemNameList.push(item.itemName)
    this.currentFileItemIconImage.push(item.itemIconImageUrl)

    if (this.currentSelectedItem) {
      if (!this.currentSelectedItem.fileVariableTable) {
        this.currentSelectedItem.fileVariableTable = {}
      }
      if (!this.currentSelectedItem.fileVariableTable[item.itemId]) {
        this.currentSelectedItem.fileVariableTable[item.itemId] = item
      }
    }

    // this.rootFile = item
    this.currentSelectedItem = item

    this.scrollToTop()

    this.$emit('selectedItem', item)
    this.searchText = ''
    this.customSearchText = ''

    this.updateDataTableItemList()
    await this.updateCurrentSelectedFileFromInitialFolder()
  }

  scrollToTop () {
    const headerElement = this.$refs['folder-data-table-header'] as HTMLElement
    if (!headerElement) {
      return
    }
    const headerElementTopPosition = headerElement.getBoundingClientRect().top + window.scrollY
    window.scrollTo({ top: headerElementTopPosition - 200, behavior: 'smooth' })
  }

  async navigateBackToPreviousFileItem (deleteFileItem?: boolean) {

    if (this.currentFileItemIdList.length === 0) {
      return
    }

    // Remove the latest file from the index list
    const currentFileItemId = this.currentFileItemIdList.pop() || ''
    this.currentFileItemNameList.pop()
    this.currentFileItemIconImage.pop()

    // Navigate to the new file after the latest file
    // has been removed
    let rootFile: DataTableFile = await this.initialFile
    this.currentSelectedItem = null

    for (let i = 0; i < this.currentFileItemIdList.length; i++) {
      const fileItemId = this.currentFileItemIdList[i]
      let fileItem: any = rootFile

      if (rootFile.fileVariableTable) {
        fileItem = rootFile.fileVariableTable[fileItemId]
      }

      if (!fileItem) {
        break
      }

      rootFile = fileItem
    }

    // this.rootFile = rootFile
    this.currentSelectedItem = rootFile

    this.scrollToTop()

    this.$emit('selectedItem', this.currentSelectedItem)
    this.searchText = ''
    this.customSearchText = ''
    this.updateDataTableItemList()

    if (deleteFileItem && this.currentSelectedItem.fileVariableTable) {
      this.$emit('deleteItem', currentFileItemId)
    }
  }

  async updateCurrentSelectedFileFromInitialFolder () {
    let rootFile: DataTableFile = await this.initialFile

    for (let i = 0; i < this.currentFileItemIdList.length; i++) {
      const fileItemId = this.currentFileItemIdList[i]
      let fileItem: DataTableFile = rootFile

      if (rootFile.fileVariableTable) {
        fileItem = rootFile.fileVariableTable[fileItemId]
      }

      if (!fileItem) {
        this.currentFileItemIdList.splice(i, this.currentFileItemIdList.length)
        this.currentFileItemNameList.splice(i, this.currentFileItemNameList.length)
        this.currentFileItemIconImage.splice(i, this.currentFileItemIconImage.length)
        break
      }

      if (fileItem.itemName) {
        Vue.set(this.currentFileItemNameList, i, fileItem.itemName)
      }

      if (fileItem.itemIconImageUrl) {
        Vue.set(this.currentFileItemIconImage, i, fileItem.itemIconImageUrl)
      }

      rootFile = fileItem
    }

    // Vue.set(this, 'rootFile', rootFile)
    Vue.set(this, 'currentSelectedItem', rootFile)
  }

  onUpdateGraphViewDataTablePageData (pageData: any) {
    this.$emit('graphViewDataTablePageData', pageData)
  }
}


export default UserInterface2FolderDataTable


</script>

<style lang="scss">

.user-interface-2-folder-data-table {
  width: 100%;
}

.search-text-field {
  .v-input__slot {
    margin-bottom: 0px !important;
  }
  .v-text-field__details {
    display: none !important;
  }
}

.folder-data-table-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.folder-content-container {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .folder-item {
    cursor: pointer;
  }
}

.folder-or-file-image {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  height: 80px;
  background-color: #DDDDDD;

  .v-responsive__content {
    flex: none !important;
    margin: auto 0;
  }
}

.folder-header {
  * {
    display: inline-block;

    * {
      display: inline-block;
    }
  }
}

</style>