
<template>
  <div class="user-interface-3-error-message">
    <v-dialog v-model="showAreYouSureDialog" width="400">
      <v-card style="position: relative">
        <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;"
          :class="headerCssClass">
          <v-toolbar-title>
            <v-icon left>{{ iconId }}</v-icon>
            {{ title }}
          </v-toolbar-title>
          <v-spacer></v-spacer>

          <v-btn icon @click="showAreYouSureDialog = false">
            <v-icon>close</v-icon>
          </v-btn>
        </v-app-bar>
        <div class="pa-4" style="text-align: center">
          <h1 class="headline mb-4">
            {{ areYouSureMessage }}
          </h1>
          <div style="margin: auto;">
            <v-btn style="display: inline-block;" class="warning mr-4 mb-4" @click="yesOptionEvaluationFunction()">Yes</v-btn>
            <v-btn style="display: inline-block;" class="mb-4" @click="showAreYouSureDialog = false">No</v-btn>
          </div>
        </div>
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

@Component({
  components: {}
})
class UserInterface5AreYouSure extends Vue {
  @Prop({ default: '' }) title?: string
  @Prop({ default: '' }) iconId?: string
  @Prop({ default: 'Are you sure?' }) areYouSureMessage?: string
  @Prop({ default: '' }) headerCssClass?: any

  @Prop({ default: () => () => false }) yesOptionEvaluationFunction?: any

  @Prop({ default: false }) showDialog?: boolean
  @Prop({ default: '' }) errorMessage?: string

  get showAreYouSureDialog () {
    return this.showDialog
  }

  set showAreYouSureDialog (value: any) {
    this.$emit('show-dialog', value)
  }
}

export default UserInterface5AreYouSure

</script>

