
<template>
  <div class="horizontal-list">
    <slot></slot>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  components: {}
})
class HorizontalList extends Vue {

}

export default HorizontalList
</script>
<style lang="scss">

.horizontal-list {
  display: flex;
  flex-direction: row;

  overflow-x: scroll;

  flex: 1 0;

  .horizontal-list-item {
    border-right: 1px solid #BBBBBB;

    &:last-child {
      border-right: none;
    }
  }
}

</style>
