
<template>
  <div class="input-3-input-with-update-button mb-4">
    <div>
      <!-- Text Field -->
      <v-text-field v-if="inputType === INPUT_TYPE_TEXT_FIELD"
        :outlined="outlined" :label="label" :disabled="disabled"
        v-model="inputValue" :rules="rules" :prepend-icon="prependIcon"
        v-on:update:error="receiveErrorFromInput($event)"></v-text-field>
      
      <!-- Text Area -->
      <v-textarea v-else-if="inputType === INPUT_TYPE_TEXT_AREA"
        :outlined="outlined" :label="label" :disabled="disabled"
        v-model="inputValue" :rules="rules" :prepend-icon="prependIcon"
        v-on:update:error="receiveErrorFromInput($event)"></v-textarea>
      
      <!-- Select -->
      <v-select v-else-if="inputType === INPUT_TYPE_SELECT_INPUT"
        :outlined="outlined" :label="label" :disabled="disabled"
        :items="selectList" v-model="inputValue" :rules="rules"
        :prepend-icon="prependIcon" :multiple="multipleSelect"
        :chips="chips"
        v-on:update:error="receiveErrorFromInput($event)"></v-select>
    </div>
    <div v-if="isInitialValueChanged && !hasErrorInput" class="update-input-action-buttons">
      <v-btn class="mr-4 success" @click="updateValue()">
        <v-icon left>update</v-icon>
        Update
      </v-btn>
      <v-btn @click="resetInputValue()">
        <v-icon left>cancel</v-icon>
        Cancel
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

@Component({
  components: {}
})
class Input3InputWithUpdateButton extends Vue {

  @Prop({ default: 'INPUT_TYPE_TEXT_FIELD' }) inputType?: string

  @Prop({ default: '' }) initialValue?: any
  @Prop({ default: '' }) selectList?: any[]

  @Prop({ default: '' }) label?: string
  @Prop({ default: false }) outlined?: boolean
  @Prop({ default: false }) disabled?: boolean
  @Prop({ default: () => [] }) rules?: any
  @Prop({ default: '' }) prependIcon?: string
  @Prop({ default: false }) multipleSelect?: boolean
  @Prop({ default: false }) chips?: boolean

  INPUT_TYPE_TEXT_FIELD = 'INPUT_TYPE_TEXT_FIELD'
  INPUT_TYPE_TEXT_AREA = 'INPUT_TYPE_TEXT_AREA'
  INPUT_TYPE_SELECT_INPUT = 'INPUT_TYPE_SELECT_INPUT'

  inputValue: any = ''

  hasErrorInput: boolean = false


  get isInitialValueChanged (): boolean {
    return JSON.stringify(this.initialValue) !== JSON.stringify(this.inputValue)
  }

  @Watch('initialValue') updateInitialValue () {
    if (Array.isArray(this.initialValue)) {
      Vue.set(this, 'inputValue', Object.assign([], this.initialValue) || [])
    } else {
      this.inputValue = this.initialValue
    }
  }

  mounted () {
    if (Array.isArray(this.initialValue)) {
      Vue.set(this, 'inputValue', Object.assign([], this.initialValue) || [])
    } else {
      this.inputValue = this.initialValue
    }
  }

  updateValue () {
    this.$emit('update-value', this.inputValue)
  }

  resetInputValue () {
    if (Array.isArray(this.initialValue)) {
      Vue.set(this, 'inputValue', Object.assign([], this.initialValue) || [])
    } else {
      this.inputValue = this.initialValue
    }
  }

  receiveErrorFromInput (hasErrorInput: any) {
    this.hasErrorInput = hasErrorInput
  }
}

export default Input3InputWithUpdateButton

</script>

<style lang="scss" scoped>


.update-input-action-buttons {
  * {
    display: inline-block;
  }
}


</style>
