<template>
  <div class="product-resources-resource-item" style="text-align: left">

    <v-container text-center>
      <h1 class="headline">
        <v-icon left>shopping_bag</v-icon>
        Product Resources
      </h1>
    </v-container>

    <!-- Product Resources Expansion Group -->
    <div class="account-resources-expansion-group">
      <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
        <!-- Your Shop -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>shopping_bag</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Shop
                <div style="display: inline-block;">
                  <v-icon color="green">check_circle</v-icon> 10 New Product Purchases
                </div>
              </span>
              <span v-else>Shop</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Places To Shop -->
        <v-expansion-panel v-if="!isPublicAccountViewing"
          multiple :value="isOpenAccountStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>shopping_bag</v-icon>
              Find Places To Shop
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10,000 New Products
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Customers To Sell To -->
        <v-expansion-panel v-if="!isPublicAccountViewing"
          multiple :value="isOpenTransactionStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>shopping_bag</v-icon>
              Find Customers To Sell To
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10,000 New Customers
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ProductResourceResourceItem3FindCustomersToSellTo />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Your Shopping Statistics -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Shopping Statistics 
                <div style="display: inline-block;">
                  <v-icon color="green">check_circle</v-icon> 10 Products Have Been Mailed
                </div>
              </span>
              <span v-else>Shopping Statistics</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import ProductResourceResourceItem3FindCustomersToSellTo from './service-for-product-resource-resource-item/product-resource-resource-item-3-find-customers-to-sell-to.vue'


@Component({
  components: {
    ProductResourceResourceItem3FindCustomersToSellTo
  }
})
class YourAccountHelperComponents5ProductResourceResourceItem extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean

  projectName: string = projectVariables.projectName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default YourAccountHelperComponents5ProductResourceResourceItem

</script>
<style lang="scss">

.product-resources-resource-item {
  position: relative;
  z-index: 1;
}
</style>