
<template>
  <div class="your-account-helper-components-2-header">
    <v-container text-center class="account-name-introduction">
      <div style="width: 100%; text-align: center;">
        <DigitalCurrency6AccountUserProfilePicture :imageSize="120" :imageSrcUrl="selectedAccount.accountProfilePictureUrl" />
      </div>
      <div class="headline">{{ selectedAccount.accountName }}</div>
      <div v-if="selectedAccount.accountUsername">(@{{ selectedAccount.accountUsername }})</div>
      <ul style="margin: 0px; padding: 0px; list-style-type: none;">
        <li v-if="selectedAccountBasicDescription.physicalLocationAddress.cityTownName && selectedAccountBasicDescription.physicalLocationAddress.stateProvinceName">
          <v-icon left>place</v-icon>
          <span>
            {{ selectedAccountBasicDescription.physicalLocationAddress.cityTownName }}
            <span v-show="selectedAccountBasicDescription.physicalLocationAddress.cityTownName && selectedAccountBasicDescription.physicalLocationAddress.stateProvinceName">,</span>
            {{ selectedAccountBasicDescription.physicalLocationAddress.stateProvinceName }}
          </span>
        </li>
        <li v-if="selectedAccountBasicDescription.homeWebsiteAddress">
          <v-icon left>public</v-icon>
          <span>
            <a target="_blank" class="router-link" :href="selectedAccountBasicDescription.homeWebsiteAddress">
              {{ selectedAccountBasicDescription.homeWebsiteAddress }}
            </a>
          </span>
        </li>
      </ul>
    </v-container>
    <v-list class="account-introduction">
      <v-divider></v-divider>
      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <DigitalCurrency20AnimatedCurrencyLabel
              :currencyAmountAndAccountId="{ currencyAmount: selectedAccount.accountCurrencyAmount, accountId: selectedAccount.accountId }"
              :isDigitalCurrencyAccountUpdate="true"
              :showVerticalUpdateList="false"
              :showSinceTimeUpdate="false"
              :showNumberOfTransactions="true"
              :showTransactionTextAbbreviated="false"
              :maximumNumberOfUnitPlaces="Infinity"
              :maximumNumberOfDecimalPlaces="Infinity" />
          </v-list-item-title>
          <v-list-item-subtitle>Account Balance</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-icon>
          <DigitalCurrency1DigitalCurrencySymbol />
        </v-list-item-icon>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>
            <router-link class="router-link" :to="selectedAccount.accountUsername"
              target="_blank">
              {{ accountUsernameWebsiteAddress }}
            </router-link>
          </v-list-item-title>
          <v-list-item-subtitle>Account Username</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-icon>person</v-icon>
        </v-list-item-icon>
      </v-list-item>

      <v-divider></v-divider>
    </v-list>
    <div v-if="!isUsedForWebComponent" class="action-button-list ma-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
      <DigitalCurrency2SendPaymentButton
        v-if="isPublicAccountViewing ? accountId !== getActiveDigitalCurrencyAccount.accountId : true"
        :initialTransaction="{ accountRecipientIdVariableTable: { [accountId]: { transactionCurrencyAmount: 0 } } }" class="ma-2" />
      <DigitalCurrency9AccountShortIntroductionButton :accountId="accountId" class="ma-2" />
      <DigitalCurrency11QrCodeScannerButton v-if="!isPublicAccountViewing" class="ma-2" />
      <Groups1AddToGroupButton class="ma-2"
        v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
        :selectedItemId="accountId" :selectedItemType="GROUP_ITEM_TYPE_ACCOUNT" />
      <DigitalCurrency15AccountSettingsButton class="ma-2"
        v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
        :accountId="accountId" />
    </div>
    <v-divider v-if="isPublicAccountViewing"></v-divider>

    <v-list v-if="!isPublicAccountViewing" class="universal-basic-income-introduction">
      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ getDigitalCurrencyAmountWithCommaSeparatedValue(universalBasicIncomeAmountDistributed) }} {{ digitalCurrencyName }}</v-list-item-title>
          <v-list-item-subtitle class="v-list-item-subtitle">Amount of Universal Basic Income Distributed Per {{ universalBasicIncomeDistributionInterval }}. For free, forever.</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-icon>
          <v-icon>monetization_on</v-icon>
        </v-list-item-icon>
      </v-list-item>

      <v-divider></v-divider>

      <v-list-item>
        <v-list-item-content>
          <v-list-item-title>{{ timeRemainingUntilUniversalBasicIncomeDistribution }}</v-list-item-title>
          <v-list-item-subtitle class="v-list-item-subtitle">Time Until Universal Basic Income Is Distributed To Your Account</v-list-item-subtitle>
        </v-list-item-content>

        <v-list-item-icon>
          <span v-if="showUniversalBasicIncomeNotification">
            {{ Math.floor(millisecondTimeLeftToHideNotification / 1000) }}
          </span>
          <v-icon>schedule</v-icon>
        </v-list-item-icon>
      </v-list-item>
      <v-progress-linear v-if="isActiveServiceDaemon" color="blue" height="30" :value="percentTimeRemaining">
        <b class="subtitle" style="color: black;">{{ percentTimeRemaining }}% Complete</b>
      </v-progress-linear>
      <v-progress-linear v-else color="red" height="30">
        <b class="subtitle" style="color: black;">Server Is Inactive</b>
      </v-progress-linear>
      <v-divider></v-divider>
    </v-list>
    <div v-if="!isPublicAccountViewing" class="universal-basic-income-scene-container">
      <div v-show="showUniversalBasicIncomeAnimationScene && selectedAccount.accountId && isActiveServiceDaemon" ref="universalBasicIncomeAnimationScene" class="universal-basic-income-animation-scene-container" :class="{ 'fade-out': !showUniversalBasicIncomeNotification }"></div>
    </div>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue'
// import Component from 'vue-class-component'

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Getter, Mutation, Action } from 'vuex-class'


import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
import DigitalCurrency2SendPaymentButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-2-send-payment-button.vue'
import DigitalCurrency6AccountUserProfilePicture from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'
import DigitalCurrency7AccountBalanceNumberWithIcon from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-7-account-balance-number-with-icon.vue'
import DigitalCurrency9AccountShortIntroductionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-9-account-short-introduction-button.vue'
import DigitalCurrency11QrCodeScannerButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-11-qr-code-scanner-button.vue'
import DigitalCurrency15AccountSettingsButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-15-account-settings-button.vue'
import DigitalCurrency20AnimatedCurrencyLabel from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-20-animated-currency-label.vue'

import Groups1AddToGroupButton from '../../../../html-components-type-1-basic/basic-type-5-groups/groups-1-add-to-group-button.vue'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { BASIC_DESCRIPTION } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-2-digital-currency-account/digital-currency-account-type-3-constants/constants-1-account-description'

import { GROUP_ITEM_TYPE_ACCOUNT } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-2-digital-currency-account/digital-currency-account-type-2-data-structures/data-structures-type-5-account-groups/account-groups-1'

import {
  universalBasicIncomeTransaction
} from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-4-digital-currency'

import { getTimeUntilMillisecondDurationReached } from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-4-get-time-until-millisecond-duration-reached'

import { getDigitalCurrencyAmountWithCommaSeparatedValue } from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-2-get-digital-currency-amount-with-comma-separated-value'

import { createDigitalCurrencyFountainParticleEffectFunctionAlgorithm } from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-5-create-digital-currency-fountain-particle-effect'

import { getUTCDate1 } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-1-algorithms/algorithms-type-3-get-utc-date/get-utc-date-1'
import { NUMBER_OF_MILLISECONDS_IN_A_MINUTE } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-3-constants/constants-3-time'

// import { getLocalDateFromUTCDate1 } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-1-algorithms/algorithms-type-8-get-local-date-from-utc-date/get-local-date-from-utc-date-1'

const namespace = 'digitalCurrency'



@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol,
    DigitalCurrency2SendPaymentButton,
    DigitalCurrency6AccountUserProfilePicture,
    DigitalCurrency7AccountBalanceNumberWithIcon,
    DigitalCurrency9AccountShortIntroductionButton,
    DigitalCurrency11QrCodeScannerButton,
    DigitalCurrency15AccountSettingsButton,
    DigitalCurrency20AnimatedCurrencyLabel,
    Groups1AddToGroupButton
  }
})
class AccountPageHeader extends Vue {
  @Prop({ default: false }) isUsedForWebComponent?: boolean

  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean

  @Prop({ default: false }) showInNav?: boolean

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any

  @Getter('getDigitalCurrencyAccount', { namespace }) getDigitalCurrencyAccount: any
  @Getter('getDigitalCurrencyAccountDescription', { namespace }) getDigitalCurrencyAccountDescription?: any

  // @Getter('getYourActiveDigitalCurrencyAccount', { namespace }) getYourActiveDigitalCurrencyAccount: any
  // @Getter('getAccountPageCurrentAccount', { namespace }) getAccountPageCurrentAccount: any


  @Mutation('toggleShowCreateTransactionDialog') toggleShowCreateTransactionDialog: any
  @Mutation('toggleShowQRCodeDialog') toggleShowQRCodeDialog: any

  @Mutation('toggleShowSettingsDialog') toggleShowSettingsDialog: any

  @Action('serviceInformation1GetServiceInformationByDaemonStatus') serviceInformation1GetServiceInformationByDaemonStatus?: any

  PROJECT_WEBSITE_URL: string = projectVariables.projectWebsiteUrlTable.userServiceWebsiteList[0]
  digitalCurrencyName = projectVariables.digitalCurrencyName

  GROUP_ITEM_TYPE_ACCOUNT: string = GROUP_ITEM_TYPE_ACCOUNT

  percentTimeRemaining: number = 0
  timeRemainingUntilUniversalBasicIncomeDistribution: string = ''
  setIntervalUniversalBasicIncomeTimerId: any = null

  universalBasicIncomeAmountDistributed: number = universalBasicIncomeTransaction.transactionCurrencyAmount
  millisecondDelayBetweenUniversalBasicIncomeDistribution: number = universalBasicIncomeTransaction.millisecondRecurringDelay

  currentRouteName: string = ''

  showUniversalBasicIncomeNotification: boolean = false
  showUniversalBasicIncomeAnimationScene: boolean = false

  millisecondDelayToHideUniversalBasicIncomeNotification: number = 15 * 1000 // 15 seconds
  millisecondDelayToHideUniversalBasicIncomeAnimationScene: number = 2 * 1000 // 2 seconds

  millisecondTimeLeftToHideNotification: number = 0
  startUniversalBasicIncomeAnimationSceneRenderLoopFunction: Function = () => { /* */ }

  isActiveServiceDaemon: boolean = true
  isActiveServiceDaemonIntervalId: any = null

  getDigitalCurrencyAmountWithCommaSeparatedValue = getDigitalCurrencyAmountWithCommaSeparatedValue


  @Watch('$route') routeChange () {
    this.currentRouteName = this.$router.currentRoute.name || ''
  }

  @Watch('percentTimeRemaining') updateShowUniversalBasicIncomeNotification () {

    if (!this.isActiveServiceDaemon) {
      return
    }

    const isTimeToShowUniversalBasicIncomeNotification = !this.showUniversalBasicIncomeNotification && (this.percentTimeRemaining >= 99 || this.percentTimeRemaining <= 1)
    if (!isTimeToShowUniversalBasicIncomeNotification) {
      return
    }

    this.showUniversalBasicIncomeNotification = true
    this.showUniversalBasicIncomeAnimationScene = true

    this.startUniversalBasicIncomeAnimationSceneRenderLoopFunction()

    this.millisecondTimeLeftToHideNotification = this.millisecondDelayToHideUniversalBasicIncomeNotification

    const millisecondTimeToHideNotificationInterval = setInterval(() => {
      this.millisecondTimeLeftToHideNotification -= 1000
    }, 1000)

    // Hide the universal basic income notification
    setTimeout(() => {
      clearInterval(millisecondTimeToHideNotificationInterval)
      this.hideUniversalBasicIncomeNotification()
      this.showUniversalBasicIncomeNotification = false
    }, this.millisecondDelayToHideUniversalBasicIncomeNotification)
  }

  hideUniversalBasicIncomeNotification () {
    this.showUniversalBasicIncomeNotification = false

    setTimeout(() => {
      this.showUniversalBasicIncomeAnimationScene = false
    }, this.millisecondDelayToHideUniversalBasicIncomeAnimationScene)
  }

  startTimerUntilUniversalBasicIncomeDistribution () {
    const self = this

    const ubiStartDate = new Date(universalBasicIncomeTransaction.dateTransactionCreated!)
    const ubiMillisecondDelayBetweenDistribution = universalBasicIncomeTransaction.millisecondRecurringDelay || 0

    this.setIntervalUniversalBasicIncomeTimerId = setInterval(function () {

      if (!self.isActiveServiceDaemon) {
        self.timeRemainingUntilUniversalBasicIncomeDistribution = '??'
        return
      }
      const delayTimeToStart = getUTCDate1(new Date()).getTime() - ubiStartDate.getTime()
      const isPastStartDate = delayTimeToStart > 0

      if (!isPastStartDate) {
        return
      }

      const delayTimeToStartAtPreviousInterval = ((delayTimeToStart / ubiMillisecondDelayBetweenDistribution) % 1) * ubiMillisecondDelayBetweenDistribution
      const delayTimeToStartAtNextInterval = (1 - ((delayTimeToStart / ubiMillisecondDelayBetweenDistribution) % 1)) * ubiMillisecondDelayBetweenDistribution
      const millisecondsRemainingUntilDistribution = isPastStartDate ? delayTimeToStartAtPreviousInterval : Math.abs(delayTimeToStart)

      self.percentTimeRemaining = Math.floor((millisecondsRemainingUntilDistribution / ubiMillisecondDelayBetweenDistribution) * 100)
      self.timeRemainingUntilUniversalBasicIncomeDistribution = getTimeUntilMillisecondDurationReached(Math.floor(delayTimeToStartAtNextInterval))
    }, 1000) as any
  }

  get universalBasicIncomeDistributionInterval (): string {
    const milliseconDuration = universalBasicIncomeTransaction.millisecondRecurringDelay
    return getTimeUntilMillisecondDurationReached(milliseconDuration || 0)
  }

  get selectedAccount () {
    const account = this.getDigitalCurrencyAccount(this.accountId)
    return account
  }

  get selectedAccountBasicDescription () {
    const accountDescription = this.getDigitalCurrencyAccountDescription(this.accountId, BASIC_DESCRIPTION)
    return accountDescription
  }

  get accountUsernameWebsiteAddress () {
    return `${location.origin}/${this.selectedAccount.accountUsername}`
  }

  async mounted () {
    this.currentRouteName = this.$router.currentRoute.name || ''
    this.startTimerUntilUniversalBasicIncomeDistribution()

    this.addUniversalBasicIncomeAnimationScene()
    await this.initializeGetIsActiveServiceDaemon()
  }

  destroyed () {
    clearInterval(this.setIntervalUniversalBasicIncomeTimerId)
    clearInterval(this.isActiveServiceDaemonIntervalId)
  }

  async initializeGetIsActiveServiceDaemon () {
    const daemonStatus = await this.serviceInformation1GetServiceInformationByDaemonStatus('daemon-1')
    this.isActiveServiceDaemon = daemonStatus ? daemonStatus.isActive : false

    if (this.isActiveServiceDaemonIntervalId) {
      clearInterval(this.isActiveServiceDaemonIntervalId)
    }

    this.isActiveServiceDaemonIntervalId = setInterval(async () => {
      const daemonStatus = await this.serviceInformation1GetServiceInformationByDaemonStatus('daemon-1')
      this.isActiveServiceDaemon = daemonStatus ? daemonStatus.isActive : false
    }, 1 * NUMBER_OF_MILLISECONDS_IN_A_MINUTE)
  }

  addUniversalBasicIncomeAnimationScene () {
    const animationSceneContainer = this.$refs['universalBasicIncomeAnimationScene'] as HTMLElement
    const digitalCurrencySymbolImageIconUrl = projectVariables.digitalCurrencySymbolImageIconUrl
    const stopRenderLoopCallbackFunction = () => { return !this.showUniversalBasicIncomeAnimationScene }
    const { startRenderLoop } = createDigitalCurrencyFountainParticleEffectFunctionAlgorithm.function(animationSceneContainer, digitalCurrencySymbolImageIconUrl, stopRenderLoopCallbackFunction)
    this.startUniversalBasicIncomeAnimationSceneRenderLoopFunction = startRenderLoop
  }

}

export default AccountPageHeader
</script>
<style lang="scss" scoped>

.your-account-helper-components-2-header {
  position: relative;
}

.router-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.v-list-item-subtitle {
  overflow: none !important;
  white-space: initial !important;
  text-overflow: initial !important;
}

// .account-name-introduction {
//   position: relative;
//   z-index: 1;
// }

.account-description-content {
  position: relative;
  // z-index: 3;
}

// .account-name-introduction, .account-introduction {
//   // background-color: transparent;
// }

.action-button-list {
  z-index: 3;
  * {
    z-index: 3;
  }
}

.universal-basic-income-scene-container {
  z-index: 0;
}

.universal-basic-income-animation-scene-container {
  z-index: 0;
  // display: initial !important;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 500px;
  overflow: hidden;

  canvas {
    width: 100% !important;
  }
}

.fade-out {
  animation: fadeOut 2s ease-out;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% {
    display: initial;
    opacity: 1;
  }

  100% {
    display: none;
    opacity: 0;
  }
}

.v-list-item__title, .v-list-item__subtitle {
  white-space: normal !important;
  word-wrap: break-word;
}

.your-account-helper-components-2-header {
  .v-list-item__content {
    overflow: visible !important;
    .v-list-item__title, .v-list-item__content {
      overflow: visible !important;
    }
  }
}

</style>



