<template>
  <div class="account-resource-item" style="text-align: left">

    <v-container text-center>
      <h1 class="headline">
        <v-icon left>person</v-icon>
        Account Resources
      </h1>
    </v-container>

    <!-- Account Resources Expansion Group -->
    <div class="account-resources-expansion-group">
      <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
        <!-- Account Description -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>person</v-icon>
              Account Description
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <AccountResourceItem1AccountDescription :accountId="accountId" />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Account Statistics -->
        <!--
        <v-expansion-panel multiple :value="isOpenAccountStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              Account Statistics
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <AccountResourceItem2AccountStatistics />
          </v-expansion-panel-content>
        </v-expansion-panel>
        -->
        <!-- Transaction Statistics -->
        <v-expansion-panel multiple :value="isOpenTransactionStatistics">
          <v-expansion-panel-header>
            <span>
              <!-- timeline, show_chart -->
              <v-icon left>bar_chart</v-icon>
              Transaction Statistics
              <div v-if="!isPublicAccountViewing" style="display: inline-block;">
                <DigitalCurrency19AccountNotificationIndicator v-for="(notificationItem, index) in digitalCurrencyTransactionNotificationList" v-bind:key="index" :notificationItem="notificationItem" />
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <AccountResourceItem3TransactionStatistics :digitalCurrencyAccountId="accountId" />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Your Groups -->
        <v-expansion-panel multiple :value="isOpenGroups">
          <v-expansion-panel-header>
            <span>
              <v-icon left>folder</v-icon>
              <span v-if="!isPublicAccountViewing">Your Groups</span>
              <span v-else>Groups</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <AccountResourceItem4YourGroups :accountId="accountId"
              :isPublicAccountViewing="isPublicAccountViewing" />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import AccountResourceItem1AccountDescription from './service-for-account-resource-item/account-resource-item-1-account-description.vue'
import AccountResourceItem2AccountStatistics from './service-for-account-resource-item/account-resource-item-2-account-statistics.vue'
import AccountResourceItem3TransactionStatistics from './service-for-account-resource-item/account-resource-item-3-transaction-statistics.vue'
import AccountResourceItem4YourGroups from './service-for-account-resource-item/account-resource-item-4-your-groups.vue'

import DigitalCurrency19AccountNotificationIndicator from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-19-account-notification-indicator.vue'

import { DIGITAL_CURRENCY_TRANSACTION_SERVICE_TYPE } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-3-constants/constants-5-service-type'

const namespace = 'digitalCurrency'

@Component({
  components: {
    AccountResourceItem1AccountDescription,
    AccountResourceItem2AccountStatistics,
    AccountResourceItem3TransactionStatistics,
    AccountResourceItem4YourGroups,
    DigitalCurrency19AccountNotificationIndicator
  }
})
class YourAccountHelperComponents4AccountResourceItem extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean

  @Action('getDigitalCurrencyAccountNotifications', { namespace }) getDigitalCurrencyAccountNotifications?: any
  @Action('addEventListenerToDigitalCurrencyAccountNotifications', { namespace }) addEventListenerToDigitalCurrencyAccountNotifications?: any
  @Action('removeEventListenerFromDigitalCurrencyAccountNotifications', { namespace }) removeEventListenerFromDigitalCurrencyAccountNotifications?: any

  projectName: string = projectVariables.projectName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
  isOpenGroups: number = 0

  digitalCurrencyTransactionNotificationList: any[] = []
  digitalCurrencyTransactionNotificationEventListenerIdMap = null

  @Watch('accountId') async onUpdateAccountId () {
    await this.initializeAccountNotifications()
  }

  async mounted () {
    await this.initializeAccountNotifications()
  }

  async destroyed () {
    await this.addEventListenerToDigitalCurrencyAccountNotifications({
      digitalCurrencyAccountId: this.accountId,
      serviceType: DIGITAL_CURRENCY_TRANSACTION_SERVICE_TYPE,
      eventListenerIdMap: this.digitalCurrencyTransactionNotificationEventListenerIdMap
    })
  }

  async initializeAccountNotifications () {
    if (!this.accountId) {
      return
    }
    this.digitalCurrencyTransactionNotificationList = await this.getDigitalCurrencyAccountNotifications({
      digitalCurrencyAccountId: this.accountId,
      serviceType: DIGITAL_CURRENCY_TRANSACTION_SERVICE_TYPE
    })

    this.digitalCurrencyTransactionNotificationEventListenerIdMap = await this.addEventListenerToDigitalCurrencyAccountNotifications({
      digitalCurrencyAccountId: this.accountId,
      serviceType: DIGITAL_CURRENCY_TRANSACTION_SERVICE_TYPE,
      eventListenerCallbackFunction: (notificationList: any[]) => {
        this.digitalCurrencyTransactionNotificationList = notificationList || []
      }
    })
  }
}

export default YourAccountHelperComponents4AccountResourceItem

</script>
<style lang="scss">

.account-page-body {
  position: relative;
  z-index: 1;
}
</style>