<template>
  <div class="currency-exchange-resource-item" style="text-align: left">

    <v-container text-center>
      <h1 class="headline">
        <v-icon left>transfer_within_a_station</v-icon>
        Currency Exchange Resources
      </h1>
    </v-container>

    <!-- Currency Exchange Resources Expansion Group -->
    <div class="account-resources-expansion-group">
      <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
        <!-- Your Currency Exchanges -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>transfer_within_a_station</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Currency Exchanges
                <div style="display: inline-block;">
                  <v-icon color="orange">warning</v-icon> 5 Trades Pending Your Report
                </div>
              </span>
              <span v-else>Currency Exchange</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Currency Exchanges -->
        <v-expansion-panel v-if="!isPublicAccountViewing"
          multiple :value="isOpenAccountStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>transfer_within_a_station</v-icon>
              Find Currency Exchanges
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10 New Trade Offers
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Customers Searching For A Currency Exchange -->
        <v-expansion-panel v-if="!isPublicAccountViewing"
          multiple :value="isOpenTransactionStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>transfer_within_a_station</v-icon>
              Find Customers Searching For A Currency Exchange
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 100 New Customers
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <CurrencyExchangeResourceItem3FindCustomersSearchingForACurrencyExchange />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Your Currency Exchange Statistics -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Currency Exchange Statistics
                <div style="display: inline-block;">
                  <v-icon color="green">check_circle</v-icon> 10 Trade Buyers Reported Completion
                </div>
                <div style="display: inline-block;">
                  <v-icon color="red">cancel</v-icon> 10 Trade Buyers Reported Failure
                </div>
              </span>
              <span v-else>Currency Exchange Statistics</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import CurrencyExchangeResourceItem3FindCustomersSearchingForACurrencyExchange from './service-for-currency-exchange-resource-item/currency-exchange-resource-item-3-find-customers-searching-for-a-currency-exchange.vue'

@Component({
  components: {
    CurrencyExchangeResourceItem3FindCustomersSearchingForACurrencyExchange
  }
})
class YourAccountHelperComponents7CurrencyExchangeResourceItem extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean

  projectName: string = projectVariables.projectName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default YourAccountHelperComponents7CurrencyExchangeResourceItem

</script>
<style lang="scss">

.currency-exchange-resource-item {
  position: relative;
  z-index: 1;
}
</style>