<template>
  <div class="job-employment-resource-item" style="text-align: left">

    <v-container text-center>
      <h1 class="headline">
        <v-icon left>work_outline</v-icon>
        Job Employment Resources
      </h1>
    </v-container>

    <!-- Job Employment Resources Expansion Group -->
    <div class="job-employment-resources-expansion-group">
      <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
        <!-- Your Job Listings -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>work_outline</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Job Listings
                <div style="display: inline-block;">
                  <v-icon color="orange">warning</v-icon> 5 Job Applications Pending Approval
                </div>
              </span>
              <span v-else>Job Listings</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Places To Work -->
        <v-expansion-panel v-if="!isPublicAccountViewing"
          multiple :value="isOpenAccountStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>work_outline</v-icon>
              Find Places To Work
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10,000 New Job Positions
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Employees To Hire -->
        <v-expansion-panel  v-if="!isPublicAccountViewing"
          multiple :value="isOpenTransactionStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>work_outline</v-icon>
              Find Employees To Hire
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10,000 New Customers
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <JobEmploymentResourceItem3FindEmployeesToHire />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Your Work Statistics -->
        <v-expansion-panel multiple :value="isOpenAccountDescription">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              <span v-if="!isPublicAccountViewing">
                Your Work Statistics
                <div style="display: inline-block;">
                  <v-icon color="green">check_circle</v-icon> 1 Job Application has been Accepted
                </div>
              </span>
              <span v-else>Work Statistics</span>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import JobEmploymentResourceItem3FindEmployeesToHire from './service-for-job-employment-resource-item/job-employment-resource-item-3-find-employees-to-hire.vue'


@Component({
  components: {
    JobEmploymentResourceItem3FindEmployeesToHire
  }
})
class YourAccountHelperComponents6JobEmploymentResourceItem extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean

  projectName: string = projectVariables.projectName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default YourAccountHelperComponents6JobEmploymentResourceItem

</script>
<style lang="scss">

.job-employment-resource-item {
  position: relative;
  z-index: 1;
}
</style>