<template>
  <div class="your-account-helper-components-3-resource-list" style="text-align: left">
    <YourAccountHelperComponents4AccountResourceItem
      :accountId="accountId"
      :isPublicAccountViewing="isPublicAccountViewing" />
    <!--
    <YourAccountHelperComponents5ProductResourceResourceItem
      :accountId="accountId"
      :isPublicAccountViewing="isPublicAccountViewing" />
    <YourAccountHelperComponents6JobEmploymentResourceItem
      :accountId="accountId"
      :isPublicAccountViewing="isPublicAccountViewing" />
    <YourAccountHelperComponents7CurrencyExchangeResourceItem
      :accountId="accountId"
      :isPublicAccountViewing="isPublicAccountViewing" />
    <YourAccountHelperComponents8DigitalCurrencyAlternativeResourceItem
      v-if="!isPublicAccountViewing"
      :accountId="accountId" />
    -->
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import YourAccountHelperComponents4AccountResourceItem from './your-account-helper-components-4-account-resource-item.vue'
import YourAccountHelperComponents5ProductResourceResourceItem from './your-account-helper-components-5-product-resource-resource-item.vue'
import YourAccountHelperComponents6JobEmploymentResourceItem from './your-account-helper-components-6-job-employment-resource-item.vue'
import YourAccountHelperComponents7CurrencyExchangeResourceItem from './your-account-helper-components-7-currency-exchange-resource-item.vue'
import YourAccountHelperComponents8DigitalCurrencyAlternativeResourceItem from './your-account-helper-components-8-digital-currency-alternative-resource-item.vue'

@Component({
  components: {
    YourAccountHelperComponents4AccountResourceItem,
    YourAccountHelperComponents5ProductResourceResourceItem,
    YourAccountHelperComponents6JobEmploymentResourceItem,
    YourAccountHelperComponents7CurrencyExchangeResourceItem,
    YourAccountHelperComponents8DigitalCurrencyAlternativeResourceItem
  }
})
class YourAccountHelperComponents3ResourceList extends Vue {
  @Prop({ default: '' }) accountId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean
}

export default YourAccountHelperComponents3ResourceList

</script>
<style lang="scss">

.your-account-helper-components-3-resource-list {
  position: relative;
  z-index: 1;
}
</style>