<template>
  <div class="digital-currency-alternative-resource-item" style="text-align: left">

    <v-container text-center>
      <h1 class="headline">
        <v-icon left>public</v-icon>
        {{ projectName }} Alternative Resources
      </h1>
    </v-container>

    <!-- Account Resources Expansion Group -->
    <div class="account-resources-expansion-group">
      <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">

        <!-- Find Alternatives -->
        <v-expansion-panel multiple :value="isOpenAccountStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>public</v-icon>
              Find {{ projectName }} Alternatives
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 10 New Alternatives
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <DigitalCurrencyAlternativeResourceItem1FindDigitalCurrencyAlternatives />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Find Customers Searching For Alternatives -->
        <v-expansion-panel multiple :value="isOpenTransactionStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>public</v-icon>
              Find Customers Searching For {{ projectName }} Alternatives
              <div style="display: inline-block;">
                <v-icon color="green">check_circle</v-icon> 100 New Customers
              </div>
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <DigitalCurrencyAlternativeResourceItem2FindCustomersSearchingForDigitalCurrencyAlternatives />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import DigitalCurrencyAlternativeResourceItem1FindDigitalCurrencyAlternatives from './service-for-digital-currency-alternative-resource-item/digital-currency-alternative-resource-item-1-find-digital-currency-alternatives.vue'
import DigitalCurrencyAlternativeResourceItem2FindCustomersSearchingForDigitalCurrencyAlternatives from './service-for-digital-currency-alternative-resource-item/digital-currency-alternative-resource-item-2-find-customers-searching-for-digital-currency-alternatives.vue'

@Component({
  components: {
    DigitalCurrencyAlternativeResourceItem1FindDigitalCurrencyAlternatives,
    DigitalCurrencyAlternativeResourceItem2FindCustomersSearchingForDigitalCurrencyAlternatives
  }
})
class YourAccountHelperComponents8DigitalCurrencyAlternativeResourceItem extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) accountId?: string

  projectName: string = projectVariables.projectName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default YourAccountHelperComponents8DigitalCurrencyAlternativeResourceItem

</script>
<style lang="scss">

.digital-currency-alternative-resource-item {
  position: relative;
  z-index: 1;
}
</style>