
<template>
  <div>
    <v-container text-center>
      <h1 class="headline">Learn more about {{ projectName }}</h1>
    </v-container>
    <div class="option-list">
      <div v-for="(pageInformationItem) in websitePageInformationList" :key="pageInformationItem.name">
        <v-list-item :to="pageInformationItem.routePath">
          <v-list-item-icon>
            <v-icon>{{ pageInformationItem.icon }}</v-icon>
          </v-list-item-icon>

          <v-list-item-content>
            <v-list-item-title>{{ pageInformationItem.name }}</v-list-item-title>
            <!--<v-list-item-subtitle>{{ pageInformationItem.description }}</v-list-item-subtitle>-->
          </v-list-item-content>
        </v-list-item>
      </div>
    </div>
    <v-container text-center class="pa-10">
      <div class="headline">Join the global community</div>
      <div class="subheading">Let people know your participation</div>
      <img style="margin-top: 60px" :src="digitalCurrencyAcceptedHereImageUrl"/>
      <div style="margin-top: 60px; margin-bottom: 30px" class="subheading">Stay connected</div>
      <div class="image-list">
        <a :href="youtubeSocialMedia.resourceUrl" target="_blank">
          <img :src="youtubeSocialMedia.imageIconUrl" />
        </a>
        <a :href="gitlabSocialMedia.resourceUrl" target="_blank">
          <img :src="gitlabSocialMedia.imageIconUrl" />
        </a>
      </div>
      <img style="margin-top: 60px; max-width: 80px" :src="digitalCurrencySymbolImageIconUrl"/>
      <div class="subheading">THANK YOU <br> FOR USING {{ projectName | caplocks }}.</div>
      <div class="body-2" style="margin-top: 12px; max-width: 400px; margin: auto">{{ updateText(thankYouForJoiningUniversalBasicIncome) }}</div>
      <div style="margin-top: 48px">
        <img width="100" :src="companyPoweredByCompanyImageIconUrl"/>
      </div>
    </v-container>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import {
  projectVariables,
  socialMediaVariables,
  customMessages
} from '../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { WEB_PAGE_INFORMATION_LIST } from '../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

@Component({
  filters: {
    caplocks (value: string) {
      if (!value) return ''
      return value.toUpperCase()
    }
  }
})
class Footer1 extends Vue {

  projectName: string = projectVariables.projectName
  companyPoweredByCompanyImageIconUrl: string = projectVariables.companyPoweredByCompanyImageIconUrl

  digitalCurrencySymbolImageIconUrl: string = projectVariables.digitalCurrencySymbolImageIconUrl
  digitalCurrencyAcceptedHereImageUrl: string = projectVariables.digitalCurrencyAcceptedHereImageUrl

  gitlabSocialMedia = socialMediaVariables.gitlab
  youtubeSocialMedia = socialMediaVariables.youtube
  twitterSocialMedia = socialMediaVariables.twitter

  websitePageInformationList = WEB_PAGE_INFORMATION_LIST

  thankYouForJoiningUniversalBasicIncome: string = customMessages.thankYouForJoiningUniversalBasicIncome

  updateText (text: string): string {
    let newText = text.replace('{{projectName}}', this.projectName || '')

    return newText
  }
}

export default Footer1
</script>
<style lang="scss" scoped>
// @import '@/usecase/@asset/data-structures/stylesheet/inputs';
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';


.image-list {
  a {
    margin-right: 36px;
  }
  img {
    width: 30px;
  }
  :last-child {
    margin-right: 0px !important;
  }
}

.option-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

@media screen and (max-width: 600px) {
  .option-list {
    flex-flow: column;
  }
}

</style>


