<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css">

    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/Three.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/Detector.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/Stats.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/OrbitControls.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/THREEx.KeyboardState.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/THREEx.FullScreen.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/THREEx.WindowResize.js"></script>
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/ParticleEngine.js"></script>
    <!--
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/ParticleEngineExamples.js"></script>
    -->
    <script src="https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/src/service-for-game-introduction/game-introduction-type-1-html-components/html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/service-for-create-digital-currency-fountain-particle-effect/stemkoski.github.io/Three.js/js/DAT.GUI.min.js"></script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but <%= htmlWebpackPlugin.options.title %> doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
