
<template>
  <div class="transaction-helper-components-2-header">
    <v-container text-center>
      <div class="mb-4 transaction-photograph-container">
        <!-- Transaction Sender Account -->
        <div v-if="!isAdministratorTransaction" class="photograph-item">
          <DigitalCurrency5AccountThumbnail :image-size="60"
            :name="getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountName"
            :name2="`(@${getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountUsername})`"
            :imageSrcUrl="getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountProfilePictureUrl"/>
        </div>
        <div v-else class="photograph-item">
          <v-avatar :size="60" class="mt-3 mb-1">
            <v-img :src="projectImageIconUrl"></v-img>
          </v-avatar>
        </div>

        <!-- Transaction Sending Reversal Direction Arrow -->
        <div class="mt-6">
          <v-tooltip slot="append" bottom>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" size="40">arrow_right_alt</v-icon>
            </template>
            <span>Sending To</span>
          </v-tooltip>
        </div>

        <!-- Transaction Recipient Account -->
        <div v-if="getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable" class="photograph-item">
          <DigitalCurrency5AccountThumbnail v-if="Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length === 1 && !isAllRecipientAccountsDeleted" :image-size="60"
            :name="getDigitalCurrencyAccount(Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {})[0]).accountName"
            :name2="`(@${getDigitalCurrencyAccount(Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {})[0]).accountUsername})`"
            :imageSrcUrl="getDigitalCurrencyAccount(Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {})[0]).accountProfilePictureUrl" />
          <div v-else>
            <v-avatar :size="60" style="background: #DDDDDD" class="mt-3 mb-1">
              <v-icon v-if="Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length === 1">person</v-icon>
              <v-icon v-else-if="Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length === 2">group</v-icon>
              <v-icon v-else-if="Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length >= 3">groups</v-icon>
            </v-avatar><br>
            {{ (Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length - numberOfDeletedRecipientAccounts) }} Account{{ (Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length - numberOfDeletedRecipientAccounts) !== 1 ? 's' : '' }}
            <span v-if="numberOfDeletedRecipientAccounts">({{ numberOfDeletedRecipientAccounts }} Account{{ numberOfDeletedRecipientAccounts !== 1 ? 's' : '' }} Deleted)</span>
          </div>
        </div>
        <div v-else class="photograph-item">
          <v-avatar :size="60" style="background: #DDDDDD" class="mt-3 mb-1">
            <v-icon>groups</v-icon>
          </v-avatar>
        </div>
      </div>
      <div class="headline">
        <span v-if="!isAdministratorTransaction">
          Transaction #{{ getDigitalCurrencyAmountWithCommaSeparatedValue(getDigitalCurrencyTransaction(transactionId).transactionOrderIndex) }}
        </span>
        <span v-else>
          {{ getDigitalCurrencyTransaction(transactionId).transactionName }}
        </span>
      </div>
    </v-container>
    <div class="transaction-description-content">
      <v-list class="transaction-introduction">

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <div v-if="!getDigitalCurrencyTransaction(transactionId).isProcessed">
                <v-icon color="warning">warning</v-icon>
                <span class="ml-1">Pending</span>
              </div>
              <div v-else-if="!getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).latestReasonForProcessingFailed">
                <v-icon color="error">error</v-icon>
                <span class="ml-1">Failure: </span>
                <span class="ml-1 red--text">{{ getDigitalCurrencyTransaction(transactionId).latestReasonForProcessingFailed }}</span>
              </div>
              <div v-else-if="!getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).isProcessed">
                <v-icon color="success">check_circle</v-icon>
                <span class="ml-1">Completed</span>
              </div>
              <div v-else-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).latestReasonForProcessingFailed">
                <v-icon color="error">error</v-icon>
                <span class="ml-1">Stopped With Error: </span>
                <span class="ml-1 red--text">{{ getDigitalCurrencyTransaction(transactionId).latestReasonForProcessingFailed }}</span>
                <div>Date Processing Stopped: {{ getFormattedDate(getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled) }} ({{ getTimeAgoSinceDate(getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled) }})</div>
              </div>
              <div v-else-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled">
                <v-icon color="error">pause</v-icon>
                <span class="ml-1">Paused</span>
              </div>
              <div v-else-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).isProcessed">
                <v-icon color="success">loop</v-icon>
                <span class="ml-1">Active</span>
              </div>
            </v-list-item-title>
            <v-list-item-subtitle>Processing Status</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>info</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && isAdministratorTransactionAndShowNumberOfTimesProcessed"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && isAdministratorTransactionAndShowNumberOfTimesProcessed">
          <v-list-item-content>
            <v-list-item-title>
              <span v-if="!isAdministratorTransaction">
                <DigitalCurrency20AnimatedCurrencyLabel
                  :currencyAmountAndAccountId="{ currencyAmount: getDigitalCurrencyTransaction(transactionId).numberOfTimesRecurred, accountId: getDigitalCurrencyTransaction(transactionId).accountSenderId }"
                  :showVerticalUpdateList="false"
                  :showSinceTimeUpdate="false" />
              </span>
              <span v-else-if="isAdministratorTransaction">
                <DigitalCurrency20AnimatedCurrencyLabel
                  :currencyAmountAndAccountId="{ currencyAmount: expectedNumberOfTimesProcessedForSpecialTransactionType, accountId: getDigitalCurrencyTransaction(transactionId).accountSenderId }"
                  :showVerticalUpdateList="false"
                  :showSinceTimeUpdate="false" />
              </span>
              <span v-if="isActiveServiceDaemon && !getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled"> ({{ dateUntilNextProcessing }} until next processing)</span>
              <span v-else-if="!isActiveServiceDaemon && !getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled"> (<span style="color: red">Server is Inactive</span>)</span>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span v-if="isAdministratorTransaction">Number of Times Processed For This Account</span>
              <span v-else>Number of Times Processed</span>
              <v-btn icon @click="showRecurringTransactionInformationDialog = true">
                <v-icon>info_outline</v-icon>
              </v-btn>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>history</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).dateRecurrenceRestarted"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).dateRecurrenceRestarted">
          <v-list-item-content>
            <v-list-item-title>
              <span>
                <DigitalCurrency20AnimatedCurrencyLabel
                  :currencyAmountAndAccountId="{ currencyAmount: getDigitalCurrencyTransaction(transactionId).numberOfTimesRecurredSinceRestart, accountId: getDigitalCurrencyTransaction(transactionId).accountSenderId }"
                  :showVerticalUpdateList="false"
                  :showSinceTimeUpdate="false" />
              </span>
              <span v-if="isActiveServiceDaemon && !getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled"> ({{ dateUntilNextProcessing }} until next processing)</span>
              <span v-else-if="!isActiveServiceDaemon && !getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled"> (<span style="color: red">Server is Inactive</span>)</span>
            </v-list-item-title>
            <v-list-item-subtitle>
              <span>Number of Times Processed Since Transaction Restarted</span>
            </v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>history</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ getDigitalCurrencyAmountWithCommaSeparatedValue(getDigitalCurrencyTransaction(transactionId).transactionCurrencyAmount) }} {{ digitalCurrencyName }} {{ getDigitalCurrencyTransaction(transactionId).isRecurringTransaction ? `every ${getDigitalCurrencyAmountWithCommaSeparatedValue(getDigitalCurrencyTransaction(transactionId).originalTimeNumberUntilNextRecurrence || 0)} ${getDigitalCurrencyTransaction(transactionId).originalTimeScaleUntilNextRecurrence}` : '' }}</v-list-item-title>
            <v-list-item-subtitle>Transaction Amount</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <DigitalCurrency1DigitalCurrencySymbol />
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <a class="router-link" :href="transactionUrl"
                target="_blank">
                {{ transactionUrl }}
              </a>
            </v-list-item-title>
            <v-list-item-subtitle>Transaction URL</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
      </v-list>
      <div class="ma-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
        <DigitalCurrencyTransaction3CopyTransactionButton class="ma-2" v-if="!isAdministratorTransaction" :initialTransaction="getDigitalCurrencyTransaction(transactionId)" />
        <DigitalCurrencyTransaction1TransactionShortIntroductionButton class="ma-2" :transactionId="transactionId"  />
        <v-btn class="ma-2 success" v-if="false">
          <v-icon left>thumb_up</v-icon>
          Accept Job Request
        </v-btn>
        <v-btn class="ma-2 error" v-if="false">
          <v-icon left>thumb_down</v-icon>
          Reject Job Request
        </v-btn>
        <DigitalCurrencyTransaction6TransactionStartAndStopSubscriptionButton v-if="!isAllRecipientAccountsDeleted" :transactionId="transactionId" />
        <!--
        <DigitalCurrencyTransaction4TransactionSettingsButton class="ma-2" v-if="!isAdministratorTransaction" />
        -->
        <DigitalCurrencyTransaction8DeleteTransactionButton v-if="getActiveDigitalCurrencyAccount.accountId === getDigitalCurrencyTransaction(transactionId).accountSenderId" class="ma-2" :transactionId="transactionId" :navigateBackAfterDelete="navigateBackAfterDelete" />
      </div>
      <v-divider></v-divider>

      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>{{ transactionId }}</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Id</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="!isAdministratorTransaction"></v-divider>

        <v-list-item v-if="!isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>{{ getDigitalCurrencyAmountWithCommaSeparatedValue(getDigitalCurrencyTransaction(transactionId).transactionOrderIndex) }}</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Order Index</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <span>
              
            </span>
            <v-icon>schedule</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item v-if="!isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountProfilePictureUrl"></v-img>
                </v-avatar>
                {{ getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountName }} (@{{ getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId).accountUsername }})
              </v-chip>
              <v-btn v-if="isMobileDevice" class="ma-2" @click="openAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId)" >
                <v-icon left>visibility</v-icon>
                Open Account
              </v-btn>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Sender</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon v-if="!isMobileDevice">
            <v-btn @click="openAccount(getDigitalCurrencyTransaction(transactionId).accountSenderId)" >
              <v-icon left>visibility</v-icon>
              Open Account
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item v-else-if="isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="projectImageIconUrl"></v-img>
                </v-avatar>
                Administrator
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Sender</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable && !isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip class="mr-1 mb-1" v-for="(accountObject, accountId) in getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable" v-bind:key="accountId" @click="openAccount(accountId)">
                <v-avatar left>
                  <v-img :src="getDigitalCurrencyAccount(accountId).accountProfilePictureUrl"></v-img>
                </v-avatar>
                <div v-if="accountObject.dateAccountDeleted">
                  {{ accountId }} (Account Deleted)
                </div>
                <div v-else-if="getDigitalCurrencyAccount(accountId).accountId">
                  {{ getDigitalCurrencyAccount(accountId).accountName }} (@{{ getDigitalCurrencyAccount(accountId).accountUsername }})
                  <v-icon right>visibility</v-icon>
                </div>
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">
              Transaction Recipient ({{ getDigitalCurrencyAmountWithCommaSeparatedValue(Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length) }} Recipient{{ Object.keys(getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable || {}).length !== 1 ? 's' : '' }})
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item v-else-if="isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip class="mr-1 mb-1">
                <v-avatar left>
                  <v-icon>groups</v-icon>
                </v-avatar>
                All {{ projectName }} Accounts
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">
              Transaction Recipient
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        
        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).onBehalfOfAccountId"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).onBehalfOfAccountId">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).onBehalfOfAccountId).accountProfilePictureUrl"></v-img>
                </v-avatar>
                {{ getDigitalCurrencyAccount(getDigitalCurrencyTransaction(transactionId).onBehalfOfAccountId).accountName }}
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Sent On Behalf Of Account</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-btn @click="openAccount(getDigitalCurrencyTransaction(transactionId).onBehalfOfAccountId)">
              <v-icon left>visibility</v-icon>
              Open Account
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable && !isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <div class="mb-1" v-for="(accountObject, accountId) in getDigitalCurrencyTransaction(transactionId).accountRecipientIdVariableTable" v-bind:key="accountId">
                <v-chip class="mr-1 mb-1">
                  <v-avatar left>
                    <v-img :src="getDigitalCurrencyAccount(accountId).accountProfilePictureUrl"></v-img>
                  </v-avatar>
                  <div v-if="getDigitalCurrencyAccount(accountId).accountId">
                    {{ getDigitalCurrencyAccount(accountId).accountName }} (@{{ getDigitalCurrencyAccount(accountId).accountUsername }})
                  </div>
                  <div v-else>{{ accountId }} (Account Deleted)</div>
                </v-chip>
                received
                <v-chip class="mr-1 mb-1">
                  <v-avatar left>
                    <v-img :src="digitalCurrencySymbolImageIconUrl"></v-img>
                  </v-avatar>
                  {{ getDigitalCurrencyAmountWithCommaSeparatedValue(accountObject.transactionCurrencyAmount) }} {{ digitalCurrencyName }}
                </v-chip>
              </div>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Payment Distribution Type</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>call_split</v-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-list-item v-else-if="isAdministratorTransaction">
          <v-list-item-content>
            <v-list-item-title>
              <div class="mb-1">
                <v-chip class="mr-1 mb-1">
                  <v-avatar left>
                    <v-icon>groups</v-icon>
                  </v-avatar>
                  All {{ projectName }} Accounts
                </v-chip>
                received
                <v-chip class="mr-1 mb-1">
                  <v-avatar left>
                    <v-img :src="digitalCurrencySymbolImageIconUrl"></v-img>
                  </v-avatar>
                  {{ getDigitalCurrencyAmountWithCommaSeparatedValue(getDigitalCurrencyTransaction(transactionId).transactionCurrencyAmount) }} {{ digitalCurrencyName }}
                </v-chip>
              </div>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Payment Distribution Type</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>call_split</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              {{ getFormattedDate(getDigitalCurrencyTransaction(transactionId).dateTransactionCreated) }} ({{ getTimeAgoSinceDate(getDigitalCurrencyTransaction(transactionId).dateTransactionCreated) }})
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Date Transaction Created</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>schedule</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForProcessing"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForProcessing">
          <v-list-item-content>
            <v-list-item-title>
              {{ getFormattedDate(getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForProcessing) }} ({{ getTimeAgoSinceDate(getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForProcessing) }})
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Date Transaction Scheduled To Be Processed</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>schedule</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).specialTransactionType === SPECIAL_TRANSACTION_TYPE_UNIVERSAL_BASIC_INCOME && transactionOwnerAccountId"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).specialTransactionType === SPECIAL_TRANSACTION_TYPE_UNIVERSAL_BASIC_INCOME && transactionOwnerAccountId">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip style="height: auto; white-space: normal;" class="pt-1 pb-1">
                <v-avatar left>
                  <v-img :src="getDigitalCurrencyAccount(transactionOwnerAccountId).accountProfilePictureUrl"></v-img>
                </v-avatar>
                {{ getDigitalCurrencyAccount(transactionOwnerAccountId).accountName }} (@{{ getDigitalCurrencyAccount(transactionOwnerAccountId).accountUsername }})
                Account Creation Date
              </v-chip>
              <div>
                {{ getFormattedDate(getDigitalCurrencyAccount(transactionOwnerAccountId).dateAccountCreated) }} ({{ getTimeAgoSinceDate(getDigitalCurrencyAccount(transactionOwnerAccountId).dateAccountCreated) }})
              </div>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Date Transaction Started Applying To Account</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>schedule</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider v-if="getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForCancellingRecurrence"></v-divider>

        <v-list-item v-if="getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForCancellingRecurrence">
          <v-list-item-content>
            <v-list-item-title>
              {{ getFormattedDate(getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForCancellingRecurrence) }} ({{ getTimeAgoSinceDate(getDigitalCurrencyTransaction(transactionId).dateTransactionScheduledForCancellingRecurrence) }})
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Date Transaction Scheduled To Be Cancelled</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>schedule</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              {{ getDigitalCurrencyTransaction(transactionId).transactionType }}
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Type</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>menu_book</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              {{ getDigitalCurrencyTransaction(transactionId).textMemorandum }}
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Transaction Note</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>chat</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider v-if="false"></v-divider>

        <v-list-item v-if="false">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img src=""></v-img>
                </v-avatar>
                Product Name
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Product Purchase</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-btn>
              <v-icon left>visibility</v-icon>
              Open Product
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider v-if="false"></v-divider>

        <v-list-item v-if="false">
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                Stage 1: Packaging
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Product Shipping Status</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>local_shipping</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>
      </v-list>
    </div>
    <div class="transaction-helper-components-2-header-closing">
      <v-dialog v-model="showRecurringTransactionInformationDialog">
        <v-card style="position: relative">
          <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
            <v-toolbar-title>
              <div>
                <v-icon left>description</v-icon>
                Recurring Transaction Additional Information
              </div>
            </v-toolbar-title>
            <v-spacer></v-spacer>
            <v-btn icon @click="showRecurringTransactionInformationDialog = false">
              <v-icon>close</v-icon>
            </v-btn>
          </v-app-bar>
          <div class="pa-4">
            Note: Because the transaction server isn't live 100% of the time,
due to maintenance, you may receive a sudden increase in your
account balance that is greater than the amount of the transaction
amount. This sudden increase is due to the server 'catching up'
on what transactions weren't processed while the server was down
or inactive during the maintenance period.
          </div>
        </v-card>
      </v-dialog>
    </div>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue'
// import Component from 'vue-class-component'

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { State, Getter, Action } from 'vuex-class'


import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
// import DigitalCurrency2SendPaymentButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-2-send-payment-button.vue'
import DigitalCurrency6AccountUserProfilePicture from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'
// import DigitalCurrency7AccountBalanceNumberWithIcon from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-7-account-balance-number-with-icon.vue'
// import DigitalCurrency9AccountShortIntroductionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-9-account-short-introduction-button.vue'
// import DigitalCurrency11QrCodeScannerButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-11-qr-code-scanner-button.vue'
// import DigitalCurrency15AccountSettingsButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-15-account-settings-button.vue'

// import Groups1AddToGroupButton from '../../../../html-components-type-1-basic/basic-type-5-groups/groups-1-add-to-group-button.vue'


import DigitalCurrency5AccountThumbnail from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-5-account-thumbnail.vue'

import DigitalCurrencyTransaction1TransactionShortIntroductionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-digital-currency-transaction/-1-transaction-short-introduction-button.vue'
import DigitalCurrencyTransaction3CopyTransactionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-digital-currency-transaction/-3-copy-transaction-button.vue'
import DigitalCurrencyTransaction4TransactionSettingsButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-digital-currency-transaction/-4-transaction-settings-button.vue'
import DigitalCurrencyTransaction6TransactionStartAndStopSubscriptionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-digital-currency-transaction/-6-transaction-start-and-stop-subscription-button.vue'
import DigitalCurrencyTransaction8DeleteTransactionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-digital-currency-transaction/-8-delete-transaction-button.vue'

import DigitalCurrency20AnimatedCurrencyLabel from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-20-animated-currency-label.vue'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { getTimeUntilMillisecondDurationReached } from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-4-get-time-until-millisecond-duration-reached'
import { getDigitalCurrencyAmountWithCommaSeparatedValue } from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/service-for-helper-algorithms/helper-algorithms-2-get-digital-currency-amount-with-comma-separated-value'
import { getTransactionProcessingInformationTableAlgorithm } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-3-digital-currency-transaction/digital-currency-transaction-type-1-algorithms/algorithms-type-9-initialize-digital-currency-transaction-list/service-for-helper-algorithms/helper-algorithms-1-get-transaction-processing-information-table'

import { DigitalCurrencyTransaction, SPECIAL_TRANSACTION_TYPE_UNIVERSAL_BASIC_INCOME } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-3-digital-currency-transaction/digital-currency-transaction-type-2-data-structures/data-structures-type-1-transaction/transaction-1'

import { NUMBER_OF_MILLISECONDS_IN_A_MINUTE } from '../../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-3-constants/constants-3-time'

import {
  DataTableFile,
  itemTypeAccount
} from '../../../../html-components-type-1-basic/basic-type-4-user-interface/service-for-data-structures/data-structures-1-file-system-data-structure'

import moment from 'moment'


const namespace = 'digitalCurrency'

@Component({
  components: {
    DigitalCurrency5AccountThumbnail,
    DigitalCurrency1DigitalCurrencySymbol,
    // DigitalCurrency2SendPaymentButton,
    DigitalCurrency6AccountUserProfilePicture,
    // DigitalCurrency7AccountBalanceNumberWithIcon,
    // DigitalCurrency9AccountShortIntroductionButton,
    // DigitalCurrency11QrCodeScannerButton,
    // DigitalCurrency15AccountSettingsButton,
    // Groups1AddToGroupButton

    DigitalCurrencyTransaction1TransactionShortIntroductionButton,
    DigitalCurrencyTransaction3CopyTransactionButton,
    DigitalCurrencyTransaction4TransactionSettingsButton,
    DigitalCurrencyTransaction6TransactionStartAndStopSubscriptionButton,
    DigitalCurrencyTransaction8DeleteTransactionButton,

    DigitalCurrency20AnimatedCurrencyLabel
  }
})
class TransactionHelperComponents2Header extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) transactionId?: string
  @Prop({ default: true }) openWebsitePageInNewTab?: boolean

  @Prop({ default: '' }) transactionOwnerAccountId?: string

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyTransaction', { namespace }) getDigitalCurrencyTransaction?: any
  @Getter('getDigitalCurrencyAccount', { namespace }) getDigitalCurrencyAccount?: any

  @Action('getDigitalCurrencyAccountById', { namespace }) getDigitalCurrencyAccountById?: any

  @Action('addEventListenerToDigitalCurrencyTransaction', { namespace }) addEventListenerToDigitalCurrencyTransaction?: any
  @Action('removeEventListenerFromDigitalCurrencyTransaction', { namespace }) removeEventListenerFromDigitalCurrencyTransaction?: any

  @Action('serviceInformation1GetServiceInformationByDaemonStatus') serviceInformation1GetServiceInformationByDaemonStatus?: any

  temporaryImageUrl: string = 'https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/public/img/icons/android-chrome-512x512.png'
  temporaryImageUrl2: string = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpixy.org%2Fsrc%2F21%2F219269.jpg&f=1&nofb=1'

  projectName = projectVariables.projectName
  digitalCurrencyName = projectVariables.digitalCurrencyName
  digitalCurrencySymbolImageIconUrl = projectVariables.digitalCurrencySymbolImageIconUrl
  projectImageIconUrl = projectVariables.projectImageIconUrl
  projectImageIconUrl2 = projectVariables.projectImageIconUrl2

  isInitializedTransactionAccountList: boolean = false

  transactionEventListenerId: string = ''

  dateUntilNextProcessing: any = ''
  dateUntilNextProcessingIntervalId: any = ''

  isActiveServiceDaemon: boolean = false
  isActiveServiceDaemonIntervalId: any = ''

  expectedNumberOfTimesProcessedForSpecialTransactionType: number = 0
  expectedNumberOfTimesProcessedForSpecialTransactionTypeIntervalId: any = ''

  showRecurringTransactionInformationDialog: boolean = false

  SPECIAL_TRANSACTION_TYPE_UNIVERSAL_BASIC_INCOME = SPECIAL_TRANSACTION_TYPE_UNIVERSAL_BASIC_INCOME

  getTimeUntilMillisecondDurationReached = getTimeUntilMillisecondDurationReached
  getDigitalCurrencyAmountWithCommaSeparatedValue = getDigitalCurrencyAmountWithCommaSeparatedValue

  @Watch('transactionId') async onUpdateTransactionId () {
    await this.initializeEventListener()
    await this.initializeTransactionAccountList()
    await this.initializeDateUntilNextProcessing()
    this.initializeExpectedNumberOfTimesProcessedForSpecialTransactionType()
  }

  async mounted () {
    await this.onUpdateTransactionId()
    await this.initializeGetIsActiveServiceDaemon()
  }

  async destroyed () {
    await this.removeEventListenerFromDigitalCurrencyTransaction({
      digitalCurrencyTransactionId: this.transactionId,
      eventListenerId: this.transactionEventListenerId
    })

    if (this.dateUntilNextProcessingIntervalId) {
      clearInterval(this.dateUntilNextProcessingIntervalId)
    }

    clearInterval(this.isActiveServiceDaemonIntervalId)
    clearInterval(this.expectedNumberOfTimesProcessedForSpecialTransactionTypeIntervalId)
  }

  async initializeEventListener () {
    if (!this.transactionId) {
      return
    }

    if (this.transactionEventListenerId) {
      await this.removeEventListenerFromDigitalCurrencyTransaction({
        digitalCurrencyTransactionId: this.transactionId,
        eventListenerId: this.transactionEventListenerId
      })
    }

    this.transactionEventListenerId = await this.addEventListenerToDigitalCurrencyTransaction({
      digitalCurrencyTransactionId: this.transactionId
    })
  }

  async initializeTransactionAccountList () {
    if (!this.transactionId || this.isInitializedTransactionAccountList) {
      return
    }

    const digitalCurrencyTransaction = this.getDigitalCurrencyTransaction(this.transactionId)

    if (!digitalCurrencyTransaction) {
      return
    }

    if (digitalCurrencyTransaction.specialTransactionType) {
      return
    }

    await this.getDigitalCurrencyAccountById(digitalCurrencyTransaction.accountSenderId)

    for (let accountRecipientId in digitalCurrencyTransaction.accountRecipientIdVariableTable) {
      if (!digitalCurrencyTransaction.accountRecipientIdVariableTable.hasOwnProperty(accountRecipientId)) {
        continue
      }
      await this.getDigitalCurrencyAccountById(accountRecipientId)
    }

    this.isInitializedTransactionAccountList = true
  }

  async initializeDateUntilNextProcessing () {
    if (!this.transactionId) {
      return
    }

    let digitalCurrencyTransaction: DigitalCurrencyTransaction = this.getDigitalCurrencyTransaction(this.transactionId)

    if (!digitalCurrencyTransaction) {
      return
    }

    if (!digitalCurrencyTransaction.isRecurringTransaction) {
      return
    }

    if (this.dateUntilNextProcessingIntervalId) {
      clearInterval(this.dateUntilNextProcessingIntervalId)
    }

    this.dateUntilNextProcessingIntervalId = setInterval(() => {
      digitalCurrencyTransaction = this.getDigitalCurrencyTransaction(this.transactionId)
      const { dateTransactionRecurred, dateTransactionScheduledToBeProcessed } = getTransactionProcessingInformationTableAlgorithm.function(digitalCurrencyTransaction)
      const currentDate = (new Date()).getTime()

      const hasScheduledDateEnded = dateTransactionScheduledToBeProcessed.getTime() < currentDate
      let millisecondDelayUntilNextProcessing = 0

      if (!hasScheduledDateEnded) {
        millisecondDelayUntilNextProcessing = dateTransactionScheduledToBeProcessed.getTime() - currentDate
      } else {
        if (dateTransactionRecurred.getTime() > currentDate) {
          millisecondDelayUntilNextProcessing = Math.abs((dateTransactionRecurred.getTime() + digitalCurrencyTransaction.millisecondRecurringDelay) - currentDate) % digitalCurrencyTransaction.millisecondRecurringDelay
        } else {
          millisecondDelayUntilNextProcessing = digitalCurrencyTransaction.millisecondRecurringDelay - Math.abs((dateTransactionRecurred.getTime() + digitalCurrencyTransaction.millisecondRecurringDelay) - currentDate) % digitalCurrencyTransaction.millisecondRecurringDelay
        }
      }

      this.dateUntilNextProcessing = getTimeUntilMillisecondDurationReached(millisecondDelayUntilNextProcessing || 0)
    }, 1000)
  }

  async openAccount (accountId: string) {
    const digitalCurrencyAccount = await this.getDigitalCurrencyAccount(accountId)

    if (!digitalCurrencyAccount.accountId) {
      return
    }

    if (this.openWebsitePageInNewTab) {
      window.open(`${location.origin}/${digitalCurrencyAccount.accountUsername}`, '_blank')!.focus()
    } else {
      const dataTableFileItem = new DataTableFile()
      dataTableFileItem.itemId = digitalCurrencyAccount.accountId
      dataTableFileItem.itemName = digitalCurrencyAccount.accountName
      dataTableFileItem.itemType = itemTypeAccount
      this.$emit('openFolderOrFileItem', dataTableFileItem)
    }
  }

  navigateBackAfterDelete () {
    if (this.openWebsitePageInNewTab) {
      window.open(`${location.origin}`)!.focus()
    } else {
      this.$emit('navigateBackToPreviousFileItem', true)
    }
  }

  async initializeGetIsActiveServiceDaemon () {
    const daemonStatus = await this.serviceInformation1GetServiceInformationByDaemonStatus('daemon-1')
    this.isActiveServiceDaemon = daemonStatus ? daemonStatus.isActive : false

    if (this.isActiveServiceDaemonIntervalId) {
      clearInterval(this.isActiveServiceDaemonIntervalId)
    }

    this.isActiveServiceDaemonIntervalId = setInterval(async () => {
      const daemonStatus = await this.serviceInformation1GetServiceInformationByDaemonStatus('daemon-1')
      this.isActiveServiceDaemon = daemonStatus ? daemonStatus.isActive : false
    }, 1 * NUMBER_OF_MILLISECONDS_IN_A_MINUTE)
  }

  get isPublicTransactionViewing () {
    let isAccountSenderTransaction = this.getActiveDigitalCurrencyAccount.accountId === this.getDigitalCurrencyTransaction(this.transactionId).accountSenderId
    let isAccountRecipientTransaction = false
    let isAccountTransactionOwner = this.getActiveDigitalCurrencyAccount.accountId === this.transactionOwnerAccountId
    if (this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable) {
      isAccountRecipientTransaction = this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable[this.getActiveDigitalCurrencyAccount.accountId] ? true : false
    }
    return !isAccountSenderTransaction && !isAccountRecipientTransaction && !isAccountTransactionOwner
  }

  initializeExpectedNumberOfTimesProcessedForSpecialTransactionType () {
    if (!this.transactionId) {
      return
    }

    let digitalCurrencyTransaction = this.getDigitalCurrencyTransaction(this.transactionId)

    if (!digitalCurrencyTransaction) {
      return
    }

    if (!digitalCurrencyTransaction.isRecurringTransaction || !digitalCurrencyTransaction.specialTransactionType) {
      return
    }

    if (this.expectedNumberOfTimesProcessedForSpecialTransactionTypeIntervalId) {
      clearInterval(this.expectedNumberOfTimesProcessedForSpecialTransactionTypeIntervalId)
    }

    this.updateExpectedNumberOfTimesProcessedForSpecialTransactionType(digitalCurrencyTransaction)

    this.expectedNumberOfTimesProcessedForSpecialTransactionTypeIntervalId = setInterval(() => {
      this.updateExpectedNumberOfTimesProcessedForSpecialTransactionType(digitalCurrencyTransaction)
    }, 1000)
  }

  updateExpectedNumberOfTimesProcessedForSpecialTransactionType (digitalCurrencyTransaction: any) {
    const currentDate: number = (new Date()).getTime()
    const { dateTransactionRecurred } = getTransactionProcessingInformationTableAlgorithm.function(digitalCurrencyTransaction)
    const dateAccountCreated: number = this.getDigitalCurrencyAccount(this.transactionOwnerAccountId).dateAccountCreated || 0
    const millisecondSecondDifferenceBetweenAccountCreationAndTransactionProcessingDate = Math.floor(Math.abs(dateAccountCreated - dateTransactionRecurred.getTime()) % (60 * 1000))
    const dateTransactionWillBeApplied = dateAccountCreated - millisecondSecondDifferenceBetweenAccountCreationAndTransactionProcessingDate
    const expectedNumberOfIterations = Math.floor((currentDate - dateTransactionWillBeApplied) / digitalCurrencyTransaction.millisecondRecurringDelay)
    this.expectedNumberOfTimesProcessedForSpecialTransactionType = expectedNumberOfIterations
  }

  get transactionUrl (): string {
    return `${location.origin}/transaction/${this.transactionId}`
  }

  get isAdministratorTransaction (): boolean {
    return this.getDigitalCurrencyTransaction(this.transactionId).specialTransactionType
  }

  get isAdministratorTransactionAndShowNumberOfTimesProcessed () {
    if (this.isAdministratorTransaction) {
      return !this.openWebsitePageInNewTab
    }
    return true
  }

  get isAllRecipientAccountsDeleted (): boolean {
    const isAllRecipientAccountsDeleted = Object.keys(this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable || {}).map((accountId: string) => this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable[accountId].dateAccountDeleted || 0).every((dateAccountDeleted: number) => dateAccountDeleted ? true : false)
    return isAllRecipientAccountsDeleted
  }

  get numberOfDeletedRecipientAccounts (): number {
    const numberOfDeletedRecipientAccounts = Object.keys(this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable || {}).filter((accountId: string) => this.getDigitalCurrencyTransaction(this.transactionId).accountRecipientIdVariableTable[accountId].dateAccountDeleted ? true : false).length
    return numberOfDeletedRecipientAccounts
  }

  getFormattedDate (date: any) {
    return moment(date).format('MMMM DD, YYYY @ hh:mm:ss')
  }

  getTimeAgoSinceDate (date: any) {
    return moment(date).fromNow()
  }
}

export default TransactionHelperComponents2Header
</script>
<style lang="scss" scoped>
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';


.transaction-helper-components-2-header {
  position: relative;
}

.transaction-photograph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  .photograph-item {
    width: 150px;
    overflow-wrap: break-word;
  }
}

.v-list-item__title, .v-list-item__subtitle {
  white-space: normal !important;
  word-wrap: break-word !important;
}

</style>



