<template>
  <div>
    Statistics
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'


@Component({
  components: {}
})
class JobEmploymentPositionResourceItem2JobPositionStatistics extends Vue {

}

export default JobEmploymentPositionResourceItem2JobPositionStatistics


</script>

<style>

</style>