
<template>
  <div style="overflow-x: scroll;">
    <v-list>
        <v-divider></v-divider>
        <!-- Please Donate -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon color="warning">warning</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title style="white-space: normal !important;">
              <a class="router-link" :href="donateUrl" target="_blank">
                {{ donateUrl }}
              </a>
            </v-list-item-title>
            <v-list-item-subtitle>Please Donate</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon v-if="!isMobileDevice">
            <v-btn class="primary" @click="openInNewTab(donateUrl)">
              <v-icon left>attach_money</v-icon>
              Donate Now
            </v-btn>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
        <!-- Message From Digital Currency Creator -->
        <v-list-item>
          <v-list-item-icon>
            <v-icon color="warning">warning</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title style="white-space: normal !important;">
              <a href="https://www.algolia.com/" class="router-link" target="_blank">Algoliasearch</a> is expensive and so
               <a href="https://en.wikipedia.org/wiki/Full-text_search" class="router-link" target="_blank">Full text search</a> costs 100s of
               dollars per month. Please donate.
            </v-list-item-title>
            <v-list-item-subtitle>Message from {{ projectName }} Creator</v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
      </v-list>
      <v-container v-if="isMobileDevice" text-center>
        <v-btn class="primary" @click="openInNewTab(donateUrl)">
          <v-icon left>attach_money</v-icon>
          Donate Now
        </v-btn>
      </v-container>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State } from 'vuex-class'

import {
  projectVariables
} from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


@Component({
  components: {},
  filters: {
    caplocks (value: string) {
      if (!value) return ''
      return value.toUpperCase()
    }
  }
})
class App3PleaseDonate extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  projectName: string = projectVariables.projectName
  donateUrl: string = projectVariables.projectWebsiteUrlTable.donateUrl

  openInNewTab (url: string) {
    window.open(url, '_blank')!.focus()
  }
}

export default App3PleaseDonate
</script>
<style lang="scss" scoped>

.router-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

</style>
