
<template>
  <div>
    <v-container text-center class="pt-12 pb-12">
      <v-icon>block</v-icon>
      <h1 class="headline">404 Page Not Found</h1>
    </v-container>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'


@Component({
  components: {}
})
class App4PageNotFound extends Vue {

}

export default App4PageNotFound
</script>
<style lang="scss" scoped>

.router-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

</style>
