

<template>
  <div>
    <v-container text-center>
      <h1 class="headline">Project Readme Documentation (README.md)</h1>
      <!--
      <h1 class="headline">Getting Started Development Guide</h1>
      <h2 class="title">How to Add "Pay with {{ projectName }}" to your Website</h2>
      -->
      <!--
      <h3>⭐ Start retrieving {{ projectName }} payments today ⭐</h3>
      -->
    </v-container>

    <v-container class="readme" style="overflow-x: scroll">
      <div v-if="!showReadMeDocumentContent" style="text-align: center;">
        <v-progress-circular indeterminate color="primary"></v-progress-circular>
        <span style="margin-left: 12px;">Loading content . . .</span>
      </div>
      <v-lazy v-model="showReadMeDocumentContent">
        <div ref="readmeDocumentObject" v-html="readmeHtmlString"></div>
      </v-lazy>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Watch } from 'vue-property-decorator'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


import marked from 'marked'
import highlightjs from 'highlight.js'

// import { marked } from '../../../../../provider/service/marked/constants'
// import { highlightjs } from '../../../../../provider/service/highlightjs/constants'


// import readmeFileString from '../../../../../../../../../../../README.md'
import readmeFileString from '../../../../../../../../README.md'


const readmeHtmlString = marked(readmeFileString)

@Component
class AboutThisProject extends Vue {
  projectName: string = projectVariables.projectName
  readmeHtmlString: string = readmeHtmlString

  showReadMeDocumentContent: boolean = false

  mounted () {
    // this.updateReadmeDocumentObject()
  }

  @Watch('showReadMeDocumentContent') async updateReadmeDocumentObject () {
    if (!this.showReadMeDocumentContent) {
      return
    }

    await new Promise((resolve) => setTimeout(resolve, 0))

    this.updateReadmeDocumentCodeElementList()
    this.updateReadmeDocumentTableElementList()
  }

  updateReadmeDocumentCodeElementList () {
    const readmeDocumentObject = this.$refs['readmeDocumentObject'] as HTMLElement

    if (!readmeDocumentObject) {
      return
    }

    readmeDocumentObject.querySelectorAll('pre code').forEach((htmlElement) => {
      highlightjs.highlightBlock(htmlElement as HTMLElement)
    })
  }

  updateReadmeDocumentTableElementList () {
    const readmeDocumentObject = this.$refs['readmeDocumentObject'] as HTMLElement

    if (!readmeDocumentObject) {
      return
    }

    readmeDocumentObject.querySelectorAll('table').forEach((htmlTableElement) => {
      const tableContainer = document.createElement('div')
      tableContainer.className = 'table-container'
      if (!htmlTableElement.parentNode) { return }
      htmlTableElement.parentNode.insertBefore(tableContainer, htmlTableElement)
      tableContainer.appendChild(htmlTableElement)
    })
  }
}

export default AboutThisProject
</script>

<style lang="scss">
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-3-prism';
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-2-monokai-sublime';


$dark-color: #272822;

// pre { 
//   white-space: pre-wrap; 
//   word-break: break-word;
// }

.readme {
  // overflow-x: scroll !important;
  overflow-wrap: break-word;

  h3 {
    margin: 24px 0px;
  }

  h5 {
    margin: 8px 0px;
  }

  pre code {
    background-color: $dark-color !important;
  }

  pre {
    overflow-x: scroll;
    background-color: $dark-color !important;
    padding: 12px;
    // white-space: pre !important;
    // word-break: inherit !important;
  }

  table {
    border-collapse: collapse;
    border: 1px solid $dark-color;
  }

  table td, table th {
    padding: 4px;
    border: 1px solid $dark-color;
  }

  .language-javascript, .language-html {
    // overflow-x: scroll !important;
    background-color: initial !important;
    color: white !important;
  }
}

.table-container {
  overflow-x: scroll !important;
}

</style>

