<template>
  <div class="header-1">
    <v-app-bar app>

      <!-- Navigation Icon -->
      <v-app-bar-nav-icon @click.stop="showNavigationDrawer = !showNavigationDrawer"></v-app-bar-nav-icon>

      <!-- Project Icon, Account Name, Account Balance -->
      <v-list-item style="margin-left: 0px; padding-left: 0px;" :class="{ 'hide-v-item-display-flex': isVisibleTextInputFieldOnMobileDisplay }">
        <router-link to="/">
          <v-list-item-icon style="margin-left: 0px; margin-right: 8px;">
            <DigitalCurrency1DigitalCurrencySymbol :iconSize="40" :showTooltip="false" />
          </v-list-item-icon>
        </router-link>
        <v-list-item-content v-if="!isMobileDevice || !isVisibleTextInputFieldOnMobileDisplay">
          <v-list-item-title class="show-title-overflow-scroll">
            <DigitalCurrency20AnimatedCurrencyLabel
              :currencyAmountAndAccountId="{ currencyAmount: getActiveDigitalCurrencyAccount.accountCurrencyAmount, accountId: getActiveDigitalCurrencyAccount.accountId }"
              :isDigitalCurrencyAccountUpdate="true"
              :showVerticalUpdateList="isMobileDevice"
              :showSinceTimeUpdate="false"
              :showNumberOfTransactions="true"
              :showTransactionTextAbbreviated="!isMobileDevice" />
          </v-list-item-title>
          <v-list-item-subtitle :style="{ 'width': isMobileDevice ? '150px' : '200px'}" class="show-title-overflow-scroll">
            {{ getActiveDigitalCurrencyAccount.accountName }}
          </v-list-item-subtitle>
        </v-list-item-content>
      </v-list-item>

      <!-- V-Spacer -->
      <v-spacer></v-spacer>

      <!-- Send Button, Text Input for Search -->
      <DigitalCurrency2SendPaymentButton class="send-input-button" v-if="!isVisibleTextInputFieldOnMobileDisplay" :isIconButton="isMobileDevice" :isDepressedButton="true" />
      <v-btn icon v-if="isMobileDevice && !isVisibleTextInputFieldOnMobileDisplay" @click="showAccountSearchTextInputField = true"><v-icon>search</v-icon></v-btn>

      <v-spacer></v-spacer>
      <Input1TextInputForSearch style="width: 50%; max-width: 300px;"
        v-show="!isMobileDevice || showAccountSearchTextInputField"
        v-on:blur="showAccountSearchTextInputField = false"
        :singleLine="true"
        :dense="true"
        :autofocus="showAccountSearchTextInputField"
        :getSearchResultListCallbackFunction="getSearchResultList"
        v-on:selectedSearchResultId="selectSearchResult($event)"
        :clearSearchResultAfterItemSelected="true"
        :hideDetails="true"
        :label="'Search Account'" :prependIcon="'search'" />

      <!-- Tabs routing -->
      <template v-slot:extension>
        <v-tabs show-arrows centered background-color="transparent">
          <v-tab v-for="(pageInformationItem) in websitePageInformationList" :key="pageInformationItem.name" :to="pageInformationItem.routePath">
            <v-icon left>{{ pageInformationItem.icon }}</v-icon>
            {{ pageInformationItem.name }}
          </v-tab>
        </v-tabs>
      </template>
    </v-app-bar>

    <!-- Navigation Drawer -->
    <v-navigation-drawer v-model="showNavigationDrawer" left app :stateless="!isMobileDevice">
      <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="title">{{ projectName }}</v-list-item-title>
            <!--
            <v-list-item-subtitle>Digital currency service</v-list-item-subtitle>
            -->
          </v-list-item-content>
        </v-list-item>
        <v-divider></v-divider>
        <v-list dense>
          <!-- display the chat groups such as direct chat or a discord or slack server -->
          <div v-for="pageInformationItem in websitePageInformationList" :key="pageInformationItem.name">
            
            <v-list-item link exact :key="pageInformationItem.name" :to="pageInformationItem.routePath">
              <v-list-item-title>
                <v-icon left>{{ pageInformationItem.icon }}</v-icon>
                <span>{{ pageInformationItem.name }}</span>
              </v-list-item-title>
            </v-list-item>

            <v-divider v-if="pageInformationItem.showBottomBorder"></v-divider>
          </div>

        </v-list>
    </v-navigation-drawer>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { State, Getter, Action } from 'vuex-class'

import { projectVariables } from '../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'
import { WEB_PAGE_INFORMATION_LIST } from '../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

import DigitalCurrency1DigitalCurrencySymbol from '../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
import DigitalCurrency2SendPaymentButton from '../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-2-send-payment-button.vue'
import Input1TextInputForSearch from '../../../html-components-type-1-basic/basic-type-3-input/input-1-text-input-for-search.vue'
import DigitalCurrency20AnimatedCurrencyLabel from '../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-20-animated-currency-label.vue'

const namespace = 'digitalCurrency'

@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol,
    DigitalCurrency2SendPaymentButton,
    Input1TextInputForSearch,
    DigitalCurrency20AnimatedCurrencyLabel
  }
})
class Header1 extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any

  @Action('getDigitalCurrencyAccountById', { namespace }) getDigitalCurrencyAccountById?: any
  @Action('getDigitalCurrencyAccountBySearchText', { namespace }) getDigitalCurrencyAccountBySearchText?: any

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  showNavigationDrawer: boolean = false
  // showMenu: boolean = false

  websitePageInformationList = WEB_PAGE_INFORMATION_LIST

  showAccountSearchTextInputField: boolean = false

  get isVisibleTextInputFieldOnMobileDisplay (): boolean {
    return (this.isMobileDevice! && this.showAccountSearchTextInputField)
  }

  async getSearchResultList (searchText: string): Promise<any[]> {
    if (!searchText) { return [] }

    const searchResultList = await this.getDigitalCurrencyAccountBySearchText({
      searchText
    })

    return searchResultList.map((digitalCurrencyAccount: any) => {
      return {
        id: digitalCurrencyAccount.accountId,
        name: `${digitalCurrencyAccount.accountName} (@${digitalCurrencyAccount.accountUsername})`,
        icon: digitalCurrencyAccount.accountProfilePictureUrl
      }
    })
  }

  async selectSearchResult (selectedAccountId: string) {

    if (!selectedAccountId) {
      return
    }

    const digitalCurrencyAccount = await this.getDigitalCurrencyAccountById(selectedAccountId)

    if (!digitalCurrencyAccount) {
      return
    }

    this.$router.push({ name: 'Account', params: {
      accountUsername: digitalCurrencyAccount.accountUsername
    }}).catch((_errorMessage: any) => {
      /* */
    })
  }
}

export default Header1

</script>

<style lang="scss">

.account-balance {
    // position: absolute;
    // overflow-x: hidden;
    background-color: white;
    // width: 200px;
    // left: calc(50vw - 200px / 2);
    // text-align: right;
    margin-right: 12px;
}

@media only screen and (max-width: 600px) {
  // .projectName {
  //   display: none;
  // }
  // .account-balance {
  //   width: 100px;
  //   left: calc(50vw - 100px / 2);
  // }
}

.search-text-field {
  .v-input__slot {
    margin: 0px;
    padding: 0px;
  }
  .v-text-field__details {
    margin: 0px;
    padding: 0px;
    height: 0px;
  }
}

.hide-v-item-display-flex {
  display: block;
  flex: none;
}

// .show-title-overflow-scroll {
//   // overflow-x: scroll !important;
//   // text-overflow: initial !important;
// }

.v-toolbar {
  .v-toolbar__content {
    z-index: 1 !important;
  }

  .v-toolbar__extension {
    z-index: 0 !important;
  }
}

.header-1 {
  .v-list-item__content {
    overflow: visible !important;
    .v-list-item__title, .v-list-item__content {
      overflow: visible !important;
    }
  }
}


</style>