<template>
  <div></div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  components: {}
})
class PersonalInformationResourceItem2TransactionInformationSettings extends Vue {


}

export default PersonalInformationResourceItem2TransactionInformationSettings

</script>

<style>

</style>