<template>
  <div class="pt-4">
    <div class="ma-4">
      <a href="https://paypal.me" target="_blank" class="router-link">Paypal</a>
      is a great resource to exchange US Dollars and Other
      currencies that are supported by that platform.
    </div>
    <div class="ma-4 mb-10">
      To Complete Currency Exchanges, please provide information on payment
      methods that other customers can use to send you currency exchange payments
    </div>
  
    <Input3InputWithUpdateButton :label="'Paypal.me Account URL'" :outlined="true" :prependIcon="'person'"
      :initialValue="getDigitalCurrencyAccountSettings(getActiveDigitalCurrencyAccount.accountId).payPalAccountUrl"
      :inputType="'INPUT_TYPE_TEXT_FIELD'"
      v-on:update-value="updateAccountSettings('payPalAccountUrl', $event)"
      :rules="[]" />

    <Input3InputWithUpdateButton :label="'Stripe Public Api Key'" :outlined="true" :prependIcon="'person'"
      :initialValue="getDigitalCurrencyAccountSettings(getActiveDigitalCurrencyAccount.accountId).stripeApiKey"
      :inputType="'INPUT_TYPE_TEXT_FIELD'"
      v-on:update-value="updateAccountSettings('stripeApiKey', $event)"
      :rules="[]" />

    <Input4PropertyIdMapper :generalItemName="'Other Payment Method'" :outlined="true"
      :initialItemList="getDigitalCurrencyAccountSettings(getActiveDigitalCurrencyAccount.accountId).paymentMethodKeyValueList"
      :propertyNameForId="'Name'" :prependIcon="'info_outline'"
      :propertyNameForValue="'URL, Address or Description'"
      v-on:update-value="updateAccountSettings('paymentMethodKeyValueList', $event)" />
  
    <UserInterface3ErrorMessage
      :showErrorMessageDialog="showErrorMessage"
      :errorMessage="errorMessage"
      v-on:close-dialog="showErrorMessage = false" />
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter, Action } from 'vuex-class'

import Input3InputWithUpdateButton from '../../../../../html-components-type-1-basic/basic-type-3-input/input-3-input-with-update-button.vue'
import UserInterface3ErrorMessage from '../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'
import Input4PropertyIdMapper from '../../../../../html-components-type-1-basic/basic-type-3-input/input-4-property-id-mapper.vue'

const namespace = 'digitalCurrency'

@Component({
  components: {
    Input3InputWithUpdateButton,
    UserInterface3ErrorMessage,
    Input4PropertyIdMapper
  }
})
class PersonalInformationResourceItem5CurrencyExchangeInformationSettings extends Vue {
  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyAccountSettings', { namespace }) getDigitalCurrencyAccountSettings?: any

  @Action('updateDigitalCurrencyAccountSettings', { namespace }) updateDigitalCurrencyAccountSettings?: any

  showErrorMessage: boolean = false
  errorMessage: string = 'errorMessage'

  updateAccountSettings (propertyId: string, propertyValue: any) {
    this.updateDigitalCurrencyAccountSettings({
      propertyId,
      propertyValue
    }).catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }
}

export default PersonalInformationResourceItem5CurrencyExchangeInformationSettings

</script>

<style lang="scss" scoped>


.router-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

</style>