<template>
  <div class="pt-8">
    <Input3InputWithUpdateButton :label="'Show Universal Basic Income Notifications'" :outlined="true" :prependIcon="'attach_money'"
        :initialValue="getDigitalCurrencyAccountSettings(getActiveDigitalCurrencyAccount.accountId).showUniversalBasicIncomeTransactionNotifications"
        :selectList="[true, false]"
        :inputType="'INPUT_TYPE_SELECT_INPUT'"
        v-on:update-value="updateAccountSettings('showUniversalBasicIncomeTransactionNotifications', $event)"
        :rules="[]" />

    <UserInterface3ErrorMessage
        :showErrorMessageDialog="showErrorMessage"
        :errorMessage="errorMessage"
        v-on:close-dialog="showErrorMessage = false" />
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter, Action } from 'vuex-class'

import Input3InputWithUpdateButton from '../../../../../html-components-type-1-basic/basic-type-3-input/input-3-input-with-update-button.vue'
import UserInterface3ErrorMessage from '../../../../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'

const namespace = 'digitalCurrency'

@Component({
  components: {
    Input3InputWithUpdateButton,
    UserInterface3ErrorMessage
  }
})
class PersonalInformationResourceItem2TransactionInformationSettings extends Vue {

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyAccountSettings', { namespace }) getDigitalCurrencyAccountSettings?: any

  @Action('updateDigitalCurrencyAccountSettings', { namespace }) updateDigitalCurrencyAccountSettings?: any

  showErrorMessage: boolean = false
  errorMessage: string = 'errorMessage'

  updateAccountSettings (propertyId: string, propertyValue: any) {
    this.updateDigitalCurrencyAccountSettings({
      propertyId,
      propertyValue
    }).catch((errorMessage: any) => {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
    })
  }
}

export default PersonalInformationResourceItem2TransactionInformationSettings

</script>

<style>

</style>

