<template>
  <div class="personal-information-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <div style="display: flex; flex-direction: row;">
          <v-icon left>{{ YOUR_ACCOUNT_PAGE_INFORMATION.icon }}</v-icon>
          Personal Information Settings
        </div>
      </h1>
    </v-container>

    <!--  Digital Currency Statistics Expansion Group -->
    <div class="digital-currency-statistics-expansion-group">
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Account Information Settings -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>person</v-icon>
              Account Information Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem1AccountInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Transaction Information Settings -->
        <!--
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>transfer_within_a_station</v-icon>
              Transaction Information Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem2TransactionInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        -->
        <!-- Product Resource Information Settings -->
        <!--
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>shopping_bag</v-icon>
              Product Resource Information Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem3ProductResourceInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        -->
        <!-- Job Employment Information Settings -->
        <!--
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>work_outline</v-icon>
              Job Employment Information Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem4JobEmploymentInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        -->
        <!-- Currency Exchange Information Settings -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>transfer_within_a_station</v-icon>
              Currency Exchange Information Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem5CurrencyExchangeInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        <!-- Digital Currency Alternative Information Settings -->
        <!--
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>public</v-icon>
              {{ projectName }} Alternative Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <PersonalInformationResourceItem6DigitalCurrencyAlternativeInformationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
        -->
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { YOUR_ACCOUNT_PAGE_INFORMATION } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'

import PersonalInformationResourceItem1AccountInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-1-account-information-settings.vue'
// import PersonalInformationResourceItem2TransactionInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-2-transaction-information-settings.vue'
// import PersonalInformationResourceItem3ProductResourceInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-3-product-resource-information-settings.vue'
// import PersonalInformationResourceItem4JobEmploymentInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-4-job-employment-information-settings.vue'
import PersonalInformationResourceItem5CurrencyExchangeInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-5-currency-exchange-information-settings.vue'
// import PersonalInformationResourceItem6DigitalCurrencyAlternativeInformationSettings from './service-for-personal-information-resource-item/personal-information-resource-item-6-digital-currency-alternative-information-settings.vue'


@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol,
    PersonalInformationResourceItem1AccountInformationSettings,
    // PersonalInformationResourceItem2TransactionInformationSettings,
    // PersonalInformationResourceItem3ProductResourceInformationSettings,
    // PersonalInformationResourceItem4JobEmploymentInformationSettings,
    PersonalInformationResourceItem5CurrencyExchangeInformationSettings
    // PersonalInformationResourceItem6DigitalCurrencyAlternativeInformationSettings
  }
})
class SettingsHelperComponents4PersonalInformationResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  YOUR_ACCOUNT_PAGE_INFORMATION = YOUR_ACCOUNT_PAGE_INFORMATION

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default SettingsHelperComponents4PersonalInformationResourceItem

</script>
<style lang="scss">

</style>