
<template>
  <div class="settings-helper-components-2-header">
    <v-container>
      <h1 class="headline">
        <v-icon left>{{ SETTINGS_PAGE_INFORMATION.icon }}</v-icon>
        {{ SETTINGS_PAGE_INFORMATION.name }}
      </h1>
      <p>{{ SETTINGS_PAGE_INFORMATION.shortDescription }}</p>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { SETTINGS_PAGE_INFORMATION } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

@Component({
  components: {}
})
class SettingsHelperComponents2Header extends Vue {
  SETTINGS_PAGE_INFORMATION = SETTINGS_PAGE_INFORMATION
}

export default SettingsHelperComponents2Header
</script>
<style lang="scss" scoped>

.settings-helper-components-2-header {
  position: relative;
}

</style>



