<template>
  <div class="settings-helper-components-6-application-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <v-icon left>{{ SETTINGS_PAGE_INFORMATION.icon }}</v-icon>
        Application User Experience Settings
      </h1>
    </v-container>

    <!--  Transaction Statistics Resource Expansion Group -->
    <div>
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Statistics -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>smartphone</v-icon>
              Application Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <ApplicationResourceItem1ApplicationSettings />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { SETTINGS_PAGE_INFORMATION } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

import ApplicationResourceItem1ApplicationSettings from './service-for-application-resource-item/application-resource-item-1-application-settings.vue'

@Component({
  components: {
    ApplicationResourceItem1ApplicationSettings
  }
})
class SettingsHelperComponents6ApplicationResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  SETTINGS_PAGE_INFORMATION = SETTINGS_PAGE_INFORMATION

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default SettingsHelperComponents6ApplicationResourceItem

</script>
<style lang="scss">


</style>

