<template>
  <div class="settings-helper-components-7-developer-team-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <v-icon left>{{ ABOUT_PAGE_INFORMATION.icon }}</v-icon>
        Developer Team Contact Settings
      </h1>
    </v-container>

    <!--  Product Resource Statistics Resource Expansion Group -->
    <div>
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Statistics -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>autorenew</v-icon>
              Software Updates Settings
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { ABOUT_PAGE_INFORMATION } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

@Component({
  components: {}
})
class SettingsHelperComponents7DeveloperTeamResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  ABOUT_PAGE_INFORMATION = ABOUT_PAGE_INFORMATION

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default SettingsHelperComponents7DeveloperTeamResourceItem

</script>
<style lang="scss">


</style>