
<template>
  <div class="network-status-helper-components-2-header">
    <v-container>
      <h1 class="headline">
        <v-icon left>{{ NETWORK_STATUS_PAGE_INFORMATION.icon }}</v-icon>
        {{ NETWORK_STATUS_PAGE_INFORMATION.name }}
      </h1>
      <p>{{ NETWORK_STATUS_PAGE_INFORMATION.shortDescription }}</p>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { NETWORK_STATUS_PAGE_INFORMATION } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

@Component({
  components: {}
})
class NetworkStatusHelperComponents2Header extends Vue {
  NETWORK_STATUS_PAGE_INFORMATION = NETWORK_STATUS_PAGE_INFORMATION
}

export default NetworkStatusHelperComponents2Header
</script>
<style lang="scss" scoped>

.network-status-helper-components-2-header {
  position: relative;
}

</style>



