<template>
  <div class="digital-currency-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <div style="display: flex; flex-direction: row;">
          <DigitalCurrency1DigitalCurrencySymbol />
          <span style="padding-left: 8px;">{{ digitalCurrencyName }} Statistics</span>
        </div>
      </h1>
    </v-container>

    <!--  Digital Currency Statistics Expansion Group -->
    <div class="digital-currency-statistics-expansion-group">
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Statistics -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              Statistics
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'

@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol
  }
})
class NetworkStatusHelperComponents4DigitalCurrencyResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default NetworkStatusHelperComponents4DigitalCurrencyResourceItem

</script>
<style lang="scss">

</style>