<template>
  <div class="network-status-helper-components-5-account-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <v-icon left>person</v-icon>
        Account Statistics
      </h1>
    </v-container>

    <!--  Account Statistics Resource Expansion Group -->
    <div class="account-statistics-expansion-group">
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Statistics -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              Statistics
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            <AccountResourceItem1Statistics />
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import AccountResourceItem1Statistics from './service-for-account-resource-item/account-resource-item-1-statistics.vue'

@Component({
  components: {
    AccountResourceItem1Statistics
  }
})
class NetworkStatusHelperComponents5AccountResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default NetworkStatusHelperComponents5AccountResourceItem

</script>
<style lang="scss">


</style>