<template>
  <div class="network-status-helper-components-9-currency-exchange-resource-item" style="text-align: left">

    <v-container>
      <h1 class="headline">
        <v-icon left>transfer_within_a_station</v-icon>
        Currency Exchange Statistics
      </h1>
    </v-container>

    <!--  Currency Exchange Statistics Resource Expansion Group -->
    <div>
      <v-expansion-panels tile focusable multiple :value="isExandedPanelList">
        <!-- Statistics -->
        <v-expansion-panel multiple :value="isOpenStatistics">
          <v-expansion-panel-header>
            <span>
              <v-icon left>bar_chart</v-icon>
              Statistics
            </span>
          </v-expansion-panel-header>
          <v-expansion-panel-content>
            Hello World
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

@Component({
  components: {}
})
class NetworkStatusHelperComponents9CurrencyExchangeResourceItem extends Vue {

  projectName: string = projectVariables.projectName
  digitalCurrencyName: string = projectVariables.digitalCurrencyName

  // a list of the indexes of the panels that are open by default
  // [0, 2, 3, 1] means all 4 panels are expanded
  isExandedPanelList: number[] = []

  isOpenStatistics: number = 0
}

export default NetworkStatusHelperComponents9CurrencyExchangeResourceItem

</script>
<style lang="scss">

.network-status-helper-components-9-currency-exchange-resource-item {
  position: relative;
  z-index: 1;
}
</style>