
#language-select-button {
  position: absolute;
  right: 20px;
  width: 150px;
}

@media only screen and (max-width: 600px) {
  #language-select-button {
    position: absolute;
    right: 20px;
    width: 130px;
  }
}

@media only screen and (max-width: 400px) {
  #language-select-button {
    position: absolute;
    right: 0px;
    width: 120px;
  }
}

.blue-link {
  color: #004EFF;
  font-weight: bold;
  // text-decoration: none;
}

.router-link {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.remove-v-container-margin-and-padding {
  padding: 0px !important;
  margin: 0px !important;
}

