
<template>
  <div class="transaction-short-introduction-button">
    <v-btn v-if="isIconButton" icon @click="isVisibleTransactionShortIntroduction = true"><v-icon>description</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" @click="isVisibleTransactionShortIntroduction = true">
      <v-icon left>description</v-icon> Transaction
    </v-btn>
    <v-dialog v-model="isVisibleTransactionShortIntroduction" width="400">
      <v-card style="position: relative">
        <DigitalCurrencyTransaction2TransactionShortIntroduction
          :transactionId="transactionId"
          v-on:toggleShowContent="toggleShowContent($event)" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrencyTransaction2TransactionShortIntroduction from './-2-transaction-short-introduction.vue'

@Component({
  components: {
    DigitalCurrencyTransaction2TransactionShortIntroduction
  }
})
class DigitalCurrencyTransaction1TransactionShortIntroductionButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean
  @Prop({ default: '' }) transactionId?: string

  isVisibleTransactionShortIntroduction: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleTransactionShortIntroduction = isVisible
  }
}

export default DigitalCurrencyTransaction1TransactionShortIntroductionButton

</script>

