
<template>
  <div>
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
      <v-toolbar-title>
        <v-icon left>description</v-icon>
        Transaction
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
        <v-icon>close</v-icon>
      </v-btn>
    </v-app-bar>

    <div style="width: 100%; text-align: center;">
      <!--
      <img :src="TEST_IMAGE_QR_CODE_IMAGE_URL" style="max-width: 200px; object-fit: cover"/>
      -->
      <img :src="transactionQRCodeDataUrl" style="width: 200px; object-fit: cover" />
      
    </div>

    <!--
    <v-container text-center>
      <div style="text-align: left">To easily find your account, while on the go, have the sender scan this QR Code.</div>
      <img src="@/usecase/@asset/data-structures/static-image/qr-code.png" style="max-width: 200px; object-fit: cover"/>
      <div style="text-align: left">To easily find someone else's account, scan their QR Code using the following button:</div>
      <v-btn class="mt-8 mb-8 primary" color="darken-1" depressed>
        <v-icon left>photo_camera</v-icon>
        Scan QR Code
      </v-btn>
    </v-container>
    -->

    <v-list>
      <v-divider></v-divider>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>qr_code</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title></v-list-item-title>
          <v-list-item-subtitle>Transaction QR Code</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <!--
          <v-tooltip slot="append" top>
            <template v-slot:activator="{ on }">
              <v-btn icon large v-on="on"><v-icon>content_copy</v-icon></v-btn>
            </template>
            <span>Copy Content</span>
          </v-tooltip>
          -->
        </v-list-item-icon>
      </v-list-item>
      <v-divider></v-divider>
      <v-list-item>
        <v-list-item-icon>
          <v-icon>description</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>{{ digitalCurrencyTransaction.transactionId }}</v-list-item-title>
          <v-list-item-subtitle>Transaction Id</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-tooltip :value="isCopiedTextList[0]" open-on-hover slot="append" top>
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn icon large @click="copyText(digitalCurrencyTransaction.transactionId, 0)"><v-icon>content_copy</v-icon></v-btn>
              </div>
            </template>
            <span v-if="isCopiedTextList[0]">Copied</span>
            <span v-else>Copy Content</span>
          </v-tooltip>
        </v-list-item-icon>
      </v-list-item>
      <v-divider v-if="!isAdministratorTransaction"></v-divider>
      <v-list-item v-if="!isAdministratorTransaction">
        <v-list-item-icon>
          <v-icon>description</v-icon>
        </v-list-item-icon>
        <v-list-item-content>
          <v-list-item-title>Transaction #{{ getDigitalCurrencyAmountWithCommaSeparatedValue(digitalCurrencyTransaction.transactionOrderIndex) }}</v-list-item-title>
          <v-list-item-subtitle>Transaction Order Index</v-list-item-subtitle>
        </v-list-item-content>
        <v-list-item-icon>
          <v-tooltip :value="isCopiedTextList[1]" slot="append" top>
            <template v-slot:activator="{ on }">
              <div v-on="on">
                <v-btn icon large @click="copyText(`Transaction #${getDigitalCurrencyAmountWithCommaSeparatedValue(digitalCurrencyTransaction.transactionOrderIndex)}`, 1)"><v-icon>content_copy</v-icon></v-btn>
              </div>
            </template>
            <span v-if="isCopiedTextList[1]">Copied</span>
            <span v-else>Copy Content</span>
          </v-tooltip>
        </v-list-item-icon>
      </v-list-item>
      <v-divider></v-divider>
    </v-list>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter } from 'vuex-class'
import { Prop } from 'vue-property-decorator'

// import DigitalCurrency5AccountThumbnail from '../../digital-currency-account/account-thumbnail/index.vue'
// import DigitalCurrency7ccountBalanceNumberWithIcon from '../../digital-currency-account/account-balance-number-with-icon/index.vue'
// import Input1TextInputForSearch from '../../../../website/data-structures/text-input-for-search/index.vue'

import QRCode from 'qrcode'

import { getDigitalCurrencyAmountWithCommaSeparatedValue } from '../service-for-helper-algorithms/helper-algorithms-2-get-digital-currency-amount-with-comma-separated-value'

const namespace = 'digitalCurrency'

@Component({
  components: {
    // DigitalCurrency5AccountThumbnail,
    // DigitalCurrency7ccountBalanceNumberWithIcon,
    // Input1TextInputForSearch
  }
})
class DigitalCurrencyTransaction2TransactionShortIntroduction extends Vue {

  @Prop({ default: '' }) transactionId?: string

  @Getter('getDigitalCurrencyTransaction', { namespace }) getDigitalCurrencyTransaction?: any

  transactionQRCodeDataUrl: string = ''

  isCopiedTextList: boolean[] = [false, false]

  getDigitalCurrencyAmountWithCommaSeparatedValue = getDigitalCurrencyAmountWithCommaSeparatedValue

  get isAdministratorTransaction (): boolean {
    return this.getDigitalCurrencyTransaction(this.transactionId).specialTransactionType
  }

  get digitalCurrencyTransaction () {
    return this.getDigitalCurrencyTransaction(this.transactionId)
  }

  async mounted () {
    this.transactionQRCodeDataUrl = await QRCode.toDataURL(this.digitalCurrencyTransaction.transactionId || 'default')
  }

  copyText (textValue: string, textIndex: number) {
    navigator.clipboard.writeText(textValue).catch((_errorMessage: any) => { /* */ })

    if (!textIndex && textIndex !== 0) {
      return
    }

    Vue.set(this.isCopiedTextList, textIndex, true)

    setTimeout(() => {
      Vue.set(this.isCopiedTextList, textIndex, false)
    }, 1000)
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }
}

export default DigitalCurrencyTransaction2TransactionShortIntroduction


</script>
<style lang="scss">

.payment-amount {
  .v-label {
    background-color: white;
  }
}
</style>


