
<template>
  <div class="copy-transaction-button">
    <v-btn v-if="isIconButton" icon @click="isVisibleCreateTransactionDialog = true"><v-icon>content_copy</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" @click="isVisibleCreateTransactionDialog = true">
      <v-icon left>content_copy</v-icon> Copy Transaction
    </v-btn>
    <v-dialog v-model="isVisibleCreateTransactionDialog" width="400">
      <v-card style="position: relative">
        <DigitalCurrency3CreateTransaction v-on:toggleShowContent="toggleShowContent($event)"
            :initialTransaction="initialTransaction" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrency3CreateTransaction from '../digital-currency-3-create-transaction.vue'

@Component({
  components: {
    DigitalCurrency3CreateTransaction
  }
})
class DigitalCurrencyTransaction3CopyTransactionButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean

  @Prop({ default: null }) initialTransaction?: any

  isVisibleCreateTransactionDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleCreateTransactionDialog = isVisible
  }
}

export default DigitalCurrencyTransaction3CopyTransactionButton

</script>

