
<template>
  <div class="transaction-settings-button">
    <v-btn v-if="isIconButton" icon @click="isVisibleTransactionSettingsDialog = true"><v-icon>settings</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" @click="isVisibleTransactionSettingsDialog = true">
      <v-icon left>settings</v-icon> Settings
    </v-btn>
    <v-dialog v-model="isVisibleTransactionSettingsDialog" width="400">
      <v-card style="position: relative">
        <DigitalCurrencyTransaction5TransactionSettingsIntroduction v-on:toggleShowContent="toggleShowContent($event)" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrencyTransaction5TransactionSettingsIntroduction from './-5-transaction-settings-introduction.vue'

@Component({
  components: {
    DigitalCurrencyTransaction5TransactionSettingsIntroduction
  }
})
class DigitalCurrencyTransaction4TransactionSettingsButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean

  @Prop({ default: null }) initialTransaction?: any

  isVisibleTransactionSettingsDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleTransactionSettingsDialog = isVisible
  }
}

export default DigitalCurrencyTransaction4TransactionSettingsButton

</script>

