
<template>
  <div>
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
      <v-toolbar-title>
        <v-icon left>settings</v-icon>
        Settings
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
        <v-icon>close</v-icon>
      </v-btn>
    </v-app-bar>
    <div>
      <!-- -->
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
// import { Getter } from 'vuex-class'

// import { Prop } from 'vue-property-decorator'

// const namespace = 'digitalCurrency'

@Component({
  components: {
    //
  }
})
class DigitalCurrencyTransaction5TransactionSettingsIntroduction extends Vue {

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }
}

export default DigitalCurrencyTransaction5TransactionSettingsIntroduction


</script>
<style lang="scss">

.payment-amount {
  .v-label {
    background-color: white;
  }
}
</style>


