
<template>
  <div class="transaction-settings-button">
    <v-btn tile v-if="getActiveDigitalCurrencyAccount.accountId === getDigitalCurrencyTransaction(transactionId).accountSenderId && getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled" class="ma-2 success"
      @click="isVisibleDialog = true; isStartSubscriptionIntroduction = true">
      <v-icon left>play_arrow</v-icon>
      Start Subscription
    </v-btn>
    <v-btn tile v-if="getActiveDigitalCurrencyAccount.accountId === getDigitalCurrencyTransaction(transactionId).accountSenderId && getDigitalCurrencyTransaction(transactionId).isRecurringTransaction && !getDigitalCurrencyTransaction(transactionId).dateRecurrenceCancelled" class="ma-2 error"
      @click="isVisibleDialog = true; isStopSubscriptionIntroduction = true">
      <v-icon left>cancel</v-icon>
      Stop Subscription
    </v-btn>
    <v-dialog v-model="isVisibleDialog" width="400">
      <v-card v-if="isVisibleDialog" style="position: relative">
        <DigitalCurrencyTransaction7TransactionStartAndStopSubscriptionIntroduction v-on:toggleShowContent="toggleShowContent($event)"
          :transactionId="transactionId"
          :isStartSubscriptionIntroduction="isStartSubscriptionIntroduction"
          :isStopSubscriptionIntroduction="isStopSubscriptionIntroduction" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { Getter } from 'vuex-class'

import DigitalCurrencyTransaction7TransactionStartAndStopSubscriptionIntroduction from './-7-transaction-start-and-stop-subscription-introduction.vue'


const namespace = 'digitalCurrency'


@Component({
  components: {
    DigitalCurrencyTransaction7TransactionStartAndStopSubscriptionIntroduction
  }
})
class DigitalCurrencyTransaction6TransactionStartAndStopSubscriptionButton extends Vue {
  @Prop({ default: '' }) transactionId?: string

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyTransaction', { namespace }) getDigitalCurrencyTransaction?: any

  isVisibleDialog: boolean = false
  isStartSubscriptionIntroduction?: boolean = false
  isStopSubscriptionIntroduction?: boolean = false

  @Watch('isVisibleDialog') updateIsVisibleDialog () {
    if (!this.isVisibleDialog) {
      this.isStartSubscriptionIntroduction = false
      this.isStopSubscriptionIntroduction = false
    }
  }

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleDialog = isVisible
  }


}

export default DigitalCurrencyTransaction6TransactionStartAndStopSubscriptionButton

</script>

