
<template>
  <div>
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
      <v-toolbar-title>
        <v-icon v-if="isStartSubscriptionIntroduction" left>play_arrow</v-icon>
        <v-icon v-else-if="isStopSubscriptionIntroduction" left>cancel</v-icon>
        <span v-if="isStartSubscriptionIntroduction">Start Subscription</span>
        <span v-else-if="isStopSubscriptionIntroduction">Stop Subscription</span>
      </v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
        <v-icon>close</v-icon>
      </v-btn>
    </v-app-bar>
    <div class="pl-4 pr-4">
      <div v-if="isStartSubscriptionIntroduction">
        <v-form ref="start-subscription-form" v-model="isValidStartSubscriptionTransactionForm">
          <!-- Transaction Date Menu -->
          <div class="mb-4">
            <v-checkbox v-model="isStartingTransactionAtCurrentDate" label="Start Subscription Today (Current Date)"></v-checkbox>
            <v-menu v-if="!isStartingTransactionAtCurrentDate" v-model="transactionStartDateMenu"
              :close-on-content-click="false" transition="scale-transition"
              offset-y max-width="290px" min-width="290px">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field v-model="transactionStartDateFormatted"
                  label="Transaction Date"
                  hint="What date would you like your transaction to start?"
                  persistent-hint
                  prepend-icon="event"
                  outlined
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  :rules="[requireScheduledDateAndTimeToBeGreaterThanCurrentTime, requireScheduledDateAndTimeToBeLessThanCancelledDateAndTime]"></v-text-field>
              </template>
              <v-date-picker v-model="transactionStartDate" no-title @input="transactionStartDateMenu = false"></v-date-picker>
            </v-menu>
          </div>

          <!-- Transaction Time Menu -->
          <div class="mb-4">
            <v-checkbox v-model="isStartingTransactionAtCurrentTime" label="Start Subscription Now (Current Time)"></v-checkbox>
            <v-menu v-if="!isStartingTransactionAtCurrentTime"
              ref="transactionStartTimeMenu"
              v-model="transactionStartTimeMenu"
              :close-on-content-click="false"
              :nudge-right="40"
              :return-value.sync="transactionStartTime"
              transition="scale-transition"
              offset-y
              max-width="290px"
              min-width="290px">
              <template v-slot:activator="{ on, attrs }">
                <v-text-field
                  v-model="transactionStartTime"
                  label="Transaction Time"
                  hint="What time would you like your transaction to start?"
                  persistent-hint
                  prepend-icon="access_time"
                  readonly
                  v-bind="attrs"
                  v-on="on"
                  outlined
                  :rules="[requireScheduledDateAndTimeToBeGreaterThanCurrentTime, requireScheduledDateAndTimeToBeLessThanCancelledDateAndTime]">
                </v-text-field>
              </template>
              <v-time-picker
                v-if="transactionStartTimeMenu"
                v-model="transactionStartTime"
                full-width
                @click:minute="$refs.transactionStartTimeMenu.save(transactionStartTime)">
              </v-time-picker>
            </v-menu>
          </div>

          <v-checkbox v-model="isUnlimitedNumberOfRecurrencePayments" label="Unlimited Number of Subscription Payments"></v-checkbox>
          <v-menu v-if="!isUnlimitedNumberOfRecurrencePayments" v-model="transactionCancellationDateMenu"
            :close-on-content-click="false" transition="scale-transition"
            offset-y max-width="290px" min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="transactionCancellationDateFormatted"
                label="Subscription Payment Cancellation Date"
                hint="What date would you like to cancel your transaction?"
                persistent-hint
                prepend-icon="event"
                outlined
                readonly
                v-bind="attrs"
                v-on="on"
                :rules="[requireScheduledDateAndTimeToBeLessThanCancelledDateAndTime]"
                ></v-text-field>
            </template>
            <v-date-picker v-model="transactionCancellationDate" no-title @input="transactionCancellationDateMenu = false"></v-date-picker>
          </v-menu>
          <v-menu v-if="!isUnlimitedNumberOfRecurrencePayments"
            ref="transactionCancellationTimeMenu"
            v-model="transactionCancellationTimeMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="transactionCancellationTime"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="transactionCancellationTime"
                label="Subscription Payment Cancellation Time"
                hint="What time would you like to cancel your transaction?"
                persistent-hint
                prepend-icon="access_time"
                readonly
                v-bind="attrs"
                v-on="on"
                outlined
                :rules="[requireScheduledDateAndTimeToBeLessThanCancelledDateAndTime]">
              </v-text-field>
            </template>
            <v-time-picker
              v-if="transactionCancellationTimeMenu"
              v-model="transactionCancellationTime"
              full-width
              @click:minute="$refs.transactionCancellationTimeMenu.save(transactionCancellationTime)">
            </v-time-picker>
          </v-menu>
        </v-form>
      </div>
      <div v-if="isStopSubscriptionIntroduction" class="pt-4">
        <v-form ref="stop-subscription-form" v-model="isValidStopSubscriptionTransactionForm">
          <v-menu v-model="transactionCancellationDateMenu"
            :close-on-content-click="false" transition="scale-transition"
            offset-y max-width="290px" min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field v-model="transactionCancellationDateFormatted"
                label="Subscription Payment Cancellation Date"
                hint="What date would you like to cancel your transaction?"
                persistent-hint
                prepend-icon="event"
                outlined
                readonly
                v-bind="attrs"
                v-on="on"
                :rules="[requireCancellationDateAndTimeToBeGreaterThanCurrentDateAndTime]"
                ></v-text-field>
            </template>
            <v-date-picker v-model="transactionCancellationDate" no-title @input="transactionCancellationDateMenu = false"></v-date-picker>
          </v-menu>
          <v-menu
            ref="transactionCancellationTimeMenu"
            v-model="transactionCancellationTimeMenu"
            :close-on-content-click="false"
            :nudge-right="40"
            :return-value.sync="transactionCancellationTime"
            transition="scale-transition"
            offset-y
            max-width="290px"
            min-width="290px">
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                v-model="transactionCancellationTime"
                label="Subscription Payment Cancellation Time"
                hint="What time would you like to cancel your transaction?"
                persistent-hint
                prepend-icon="access_time"
                readonly
                v-bind="attrs"
                v-on="on"
                outlined
                :rules="[requireCancellationDateAndTimeToBeGreaterThanCurrentDateAndTime]">
              </v-text-field>
            </template>
            <v-time-picker
              v-if="transactionCancellationTimeMenu"
              v-model="transactionCancellationTime"
              full-width
              @click:minute="$refs.transactionCancellationTimeMenu.save(transactionCancellationTime)">
            </v-time-picker>
          </v-menu>
        </v-form>
      </div>
    </div>
    <div style="overflow-x: scroll; border-top: 1px solid #CCCCCC; position: sticky; bottom: 0px; z-index: 2; background-color: inherit;">
      <div v-if="errorMessage" style="text-align: center" class="pl-4 pr-4">
        <v-icon color="red" left>warning</v-icon>
        Error Message: {{ errorMessage }}
      </div>
      <div style="display: flex; flex-direction: row; justify-content: center;">
        <v-btn v-if="isStartSubscriptionIntroduction" class="ma-2" color="success" tile @click="startSubscription()">
          <v-icon left>play_arrow</v-icon>
          <span>Start Subscription</span>
        </v-btn>
        <v-btn v-else-if="isStopSubscriptionIntroduction" class="ma-2" color="error" tile @click="stopSubscription()">
          <v-icon left>cancel</v-icon>
          <span>Stop Subscription</span>
        </v-btn>
      </div>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Mutation, Action } from 'vuex-class'

import { Prop } from 'vue-property-decorator'

// const namespace = 'digitalCurrency'

import {
  NUMBER_OF_MILLISECONDS_IN_A_MINUTE
} from '../../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-3-constants/constants-3-time'

import {
  Notification,
  NOTIFICATION_TYPE_GENERAL
} from '../../../../../service-for-game-evaluation-loop/game-evaluation-loop-type-2-support/support-type-2-random/random-type-2-store/service-for-store-support-vectors/store-support-vectors-type-1-data-structures/data-structures-1-root-state'

import {
  ADD_NOTIFICATION
} from '../../../../../service-for-game-evaluation-loop/game-evaluation-loop-type-2-support/support-type-2-random/random-type-2-store/service-for-store-support-vectors/store-support-vectors-type-2-algorithms/algorithms-type-1-mutations/mutations-1-general'

import moment from 'moment'

const namespace = 'digitalCurrency'

@Component({
  components: {
    //
  }
})
class DigitalCurrencyTransaction7TransactionStartAndStopSubscriptionIntroduction extends Vue {

  @Prop({ default: '' }) transactionId?: string
  @Prop({ default: false }) isStartSubscriptionIntroduction?: boolean
  @Prop({ default: false }) isStopSubscriptionIntroduction?: boolean

  @Mutation(ADD_NOTIFICATION) ADD_NOTIFICATION?: any
  @Action('updateDigitalCurrencyTransaction', { namespace }) updateDigitalCurrencyTransaction?: any

  initialCurrentDate: Date = new Date()

  isStartingTransactionAtCurrentDate: boolean = true
  transactionStartDate: string = ''
  transactionStartDateMenu: boolean = false

  isStartingTransactionAtCurrentTime: boolean = true
  transactionStartTime: string = ''
  transactionStartTimeMenu: boolean = false

  transactionCancellationDate: string = ''
  transactionCancellationDateMenu: boolean = false

  transactionCancellationTimeMenu: boolean = false
  transactionCancellationTime: any = ''

  isValidStartSubscriptionTransactionForm: any = null
  isValidStopSubscriptionTransactionForm: any = null

  errorMessage: string = ''

  isUnlimitedNumberOfRecurrencePayments: boolean = true

  mounted () {
    if (this.$refs['start-subscription-form']) {
      (this.$refs['start-subscription-form'] as any).resetValidation()
    }
    if (this.$refs['stop-subscription-form']) {
      (this.$refs['stop-subscription-form'] as any).resetValidation()
    }
    const currentDate = (new Date())
    this.initialCurrentDate = currentDate
    this.transactionStartDate = moment(currentDate).format('YYYY-MM-DD')
    this.transactionStartTime = moment(currentDate).format('HH:mm')
    this.transactionCancellationDate = moment(currentDate.getTime() + (!this.isStopSubscriptionIntroduction ? NUMBER_OF_MILLISECONDS_IN_A_MINUTE : 0)).format('YYYY-MM-DD')
    this.transactionCancellationTime = moment(currentDate.getTime() + (!this.isStopSubscriptionIntroduction ? NUMBER_OF_MILLISECONDS_IN_A_MINUTE : 0)).format('HH:mm')
  }

  async startSubscription () {

    (this.$refs['start-subscription-form'] as any).validate()

    if (!this.isValidStartSubscriptionTransactionForm) {
      this.errorMessage = 'Invalid Transaction Form'
      return
    } else {
      this.errorMessage = ''
    }

    const scheduledTransactionDate = !this.isStartingTransactionAtCurrentDate ? this.transactionStartDateFormatted : moment(new Date()).format('YYYY-MM-DD')
    const scheduledTransactionTime = !this.isStartingTransactionAtCurrentTime ? this.transactionStartTime : moment(new Date()).format('HH:mm')
    const dateTransactionScheduledForProcessing = (new Date(`${scheduledTransactionDate} ${scheduledTransactionTime}`)).getTime()
    const dateTransactionScheduledForCancellingRecurrence = (new Date(`${this.transactionCancellationDate} ${this.transactionCancellationTime}`)).getTime()

    try {
      await this.updateDigitalCurrencyTransaction({
        digitalCurrencyTransactionId: this.transactionId,
        propertyId: 'dateTransactionReScheduledForProcessing',
        propertyValue: dateTransactionScheduledForProcessing
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
    }

    try {
      await this.updateDigitalCurrencyTransaction({
        digitalCurrencyTransactionId: this.transactionId,
        propertyId: 'dateTransactionScheduledForCancellingRecurrence',
        propertyValue: !this.isUnlimitedNumberOfRecurrencePayments ? dateTransactionScheduledForCancellingRecurrence : null
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
    }

    this.emitToggleShowContent({ isVisible: false })

    // Initiate Notification
    this.ADD_NOTIFICATION({
      notificationId: `${Math.random()}`,
      notificationType: NOTIFICATION_TYPE_GENERAL,
      notificationIconImageUrl: 'check_circle',
      notificationMessage: `Transaction Scheduled To Started`,
      notificationDate: new Date()
    } as Notification)
  }

  async stopSubscription () {

    (this.$refs['stop-subscription-form'] as any).validate()

    if (!this.isValidStopSubscriptionTransactionForm) {
      this.errorMessage = 'Invalid Transaction Form'
      return
    } else {
      this.errorMessage = ''
    }

    const dateTransactionScheduledForCancellingRecurrence = (new Date(`${this.transactionCancellationDate} ${this.transactionCancellationTime}`)).getTime()

    try {
      await this.updateDigitalCurrencyTransaction({
        digitalCurrencyTransactionId: this.transactionId,
        propertyId: 'dateTransactionScheduledForCancellingRecurrence',
        propertyValue: dateTransactionScheduledForCancellingRecurrence
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
    }

    this.emitToggleShowContent({ isVisible: false })

    this.ADD_NOTIFICATION({
      notificationId: `${Math.random()}`,
      notificationType: NOTIFICATION_TYPE_GENERAL,
      notificationIconImageUrl: 'check_circle',
      notificationMessage: `Transaction Scheduled To Stop`,
      notificationDate: new Date()
    } as Notification)
  }

  // Date formating
  get transactionStartDateFormatted () {
    return this.formatDate(this.transactionStartDate)
  }

  // Cancellation Date Formatted
  get transactionCancellationDateFormatted () {
    return this.formatDate(this.transactionCancellationDate)
  }

  formatDate (dateString: string): string {
    if (!dateString) return ''

    const [year, month, day] = dateString.split('-')
    return `${month}/${day}/${year}`
  }

  requireScheduledDateAndTimeToBeGreaterThanCurrentTime () {
    const scheduledTransactionDate = !this.isStartingTransactionAtCurrentDate ? this.transactionStartDateFormatted : moment(this.initialCurrentDate).format('YYYY-MM-DD')
    const scheduledTransactionTime = !this.isStartingTransactionAtCurrentTime ? this.transactionStartTime : moment(this.initialCurrentDate).format('HH:mm')
    const dateTransactionScheduledForProcessing = (new Date(`${scheduledTransactionDate} ${scheduledTransactionTime}`)).getTime()
    return dateTransactionScheduledForProcessing >= this.initialCurrentDate.getTime() - NUMBER_OF_MILLISECONDS_IN_A_MINUTE || 'Scheduled Date should be greater than current time'
  }

  requireScheduledDateAndTimeToBeLessThanCancelledDateAndTime () {
    const scheduledTransactionDate = !this.isStartingTransactionAtCurrentDate ? this.transactionStartDateFormatted : moment(this.initialCurrentDate).format('YYYY-MM-DD')
    const scheduledTransactionTime = !this.isStartingTransactionAtCurrentTime ? this.transactionStartTime : moment(this.initialCurrentDate).format('HH:mm')
    const dateTransactionScheduledForProcessing = (new Date(`${scheduledTransactionDate} ${scheduledTransactionTime}`)).getTime()
    const dateTransactionScheduledForCancellingRecurrence = (new Date(`${this.transactionCancellationDate} ${this.transactionCancellationTime}`)).getTime()

    if (!this.isUnlimitedNumberOfRecurrencePayments) {
      return dateTransactionScheduledForCancellingRecurrence >= dateTransactionScheduledForProcessing || 'Scheduled Date and Time should be less than Cancellation Date and Time'
    }

    return true
  }

  requireCancellationDateAndTimeToBeGreaterThanCurrentDateAndTime () {
    const dateTransactionScheduledForCancellingRecurrence = (new Date(`${this.transactionCancellationDate} ${this.transactionCancellationTime}`)).getTime()
    return dateTransactionScheduledForCancellingRecurrence >= this.initialCurrentDate.getTime() - NUMBER_OF_MILLISECONDS_IN_A_MINUTE || 'Cancellation Date and Time should be greater than Current Date and Time'
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }
}

export default DigitalCurrencyTransaction7TransactionStartAndStopSubscriptionIntroduction


</script>
<style lang="scss">

.payment-amount {
  .v-label {
    background-color: white;
  }
}
</style>


