<template>
  <div class="product-resource-helper-components-3-resource-list" style="text-align: left">
    <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
      <!-- Product Description -->
      <v-expansion-panel multiple :value="isOpenAccountDescription">
        <v-expansion-panel-header>
          <span>
            <v-icon left>shopping_bag</v-icon>
            Product Description
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ProductResourceItem1ProductDescription />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Product Statistics -->
      <v-expansion-panel multiple :value="isOpenAccountDescription">
        <v-expansion-panel-header>
          <span>
            <v-icon left>bar_chart</v-icon>
            Product Statistics
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ProductResourceItem2ProductStatistics />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Product Comments -->
      <v-expansion-panel multiple :value="isOpenAccountDescription">
        <v-expansion-panel-header>
          <span>
            <v-icon left>chat</v-icon>
            Product Comments • 10 Comments
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <ProductResourceItem3ProductComments />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'


import ProductResourceItem1ProductDescription from './service-for-product-resource-item/product-resource-item-1-product-description.vue'
import ProductResourceItem2ProductStatistics from './service-for-product-resource-item/product-resource-item-2-product-statistics.vue'
import ProductResourceItem3ProductComments from './service-for-product-resource-item/product-resource-item-3-product-comments.vue'


@Component({
  components: {
    ProductResourceItem1ProductDescription,
    ProductResourceItem2ProductStatistics,
    ProductResourceItem3ProductComments
  }
})
class ProductResourceHelperComponents3ResourceList extends Vue {
  @Prop({ default: '' }) productResourceId?: string

  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default ProductResourceHelperComponents3ResourceList

</script>
<style lang="scss">

.product-resource-helper-components-3-resource-list {
  position: relative;
}
</style>