<template>
  <div class="product-resource-helper-components-3-resource-list" style="text-align: left">
    <ProductResourceHelperComponents4ProductResourceItem />
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import ProductResourceHelperComponents4ProductResourceItem from './product-resource-helper-components-4-product-resource-item.vue'

@Component({
  components: {
    ProductResourceHelperComponents4ProductResourceItem
  }
})
class ProductResourceHelperComponents3ResourceList extends Vue {
  @Prop({ default: '' }) productResourceId?: string
  @Prop({ default: false }) isPublicAccountViewing?: boolean
}

export default ProductResourceHelperComponents3ResourceList

</script>
<style lang="scss">

.product-resource-helper-components-3-resource-list {
  position: relative;
}
</style>