
<template>
  <div class="product-resource-helper-components-2-header">
    <v-container text-center>
      <div class="product-resource-photograph-container">
        <div v-for="i in 5" v-bind:key="i" class="photograph-item">
          Photograph #1
        </div>
      </div>
      <div class="headline">Product Resource #123</div>
    </v-container>
    <div class="product-resource-description-content">
      <v-list class="product-resource-introduction">
        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>0 {{ digitalCurrencyName }} per 1 Month</v-list-item-title>
            <v-list-item-subtitle>Product Cost</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <DigitalCurrency1DigitalCurrencySymbol />
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link class="router-link" to="/"
                target="_blank">
                https://hello-world.com
              </router-link>
            </v-list-item-title>
            <v-list-item-subtitle>Product URL</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>shopping_bag</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
      </v-list>
      <div class="ma-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
        <v-btn class="ma-2 primary">
          <DigitalCurrency1DigitalCurrencySymbol :iconSize="25" class="mr-2" />
          Buy Now
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>visibility</v-icon>
          Open Document
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>shopping_bag</v-icon>
          Product
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>description</v-icon>
          Your Orders
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>thumb_up</v-icon>
          Like
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>thumb_down</v-icon>
          Dislike
        </v-btn>
        <v-btn class="ma-2 primary">
          <v-icon left>create_new_folder</v-icon>
          Add To Group
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>settings</v-icon>
          Settings
        </v-btn>
        <v-btn class="ma-2 error">
          <v-icon left>delete</v-icon>
          Delete
        </v-btn>
        <!--
        <DigitalCurrency2SendPaymentButton
          v-if="isPublicAccountViewing ? accountId !== getActiveDigitalCurrencyAccount.accountId : true"
          :recipientAccountId="accountId" class="ma-2" />
        <DigitalCurrency9AccountShortIntroductionButton :accountId="accountId" class="ma-2" />
        <DigitalCurrency11QrCodeScannerButton v-if="!isPublicAccountViewing" class="ma-2" />
        <Groups1AddToGroupButton class="ma-2"
          v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
          :selectedItemId="accountId" :selectedItemType="GROUP_ITEM_TYPE_ACCOUNT" />
        <DigitalCurrency15AccountSettingsButton class="ma-2"
          v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
          :accountId="accountId" />
          -->
      </div>
      <v-progress-linear color="blue" height="30" :value="33">
        <div style="color: black" class="mr-4">
          {{ 33 }}%
        </div>
        <div>
          100 <v-icon>thumb_up</v-icon> : 200 <v-icon>thumb_down</v-icon>
        </div>
      </v-progress-linear>
      <v-divider></v-divider>
      
      <v-list>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>product-id</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Product Id</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="temporaryImageUrl"></v-img>
                </v-avatar>
                Customer #123
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Product Creator</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-btn>
              <v-icon left>visibility</v-icon>
              Open Account
            </v-btn>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title style="white-space: normal !important;">
              <v-chip class="ma-1">Genre #1</v-chip>
              <v-chip class="ma-1">Genre #2</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Product Genre Listing</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
      </v-list>
    </div>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue'
// import Component from 'vue-class-component'

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
// import { Getter, Mutation } from 'vuex-class'


import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
import DigitalCurrency6AccountUserProfilePicture from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'

// import Groups1AddToGroupButton from '../../../../html-components-type-1-basic/basic-type-5-groups/groups-1-add-to-group-button.vue'


import DigitalCurrency5AccountThumbnail from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-5-account-thumbnail.vue'


import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


// const namespace = 'digitalCurrency'


@Component({
  components: {
    DigitalCurrency5AccountThumbnail,
    DigitalCurrency1DigitalCurrencySymbol,
    DigitalCurrency6AccountUserProfilePicture
    // Groups1AddToGroupButton
  }
})
class ProductResourceHelperComponents2Header extends Vue {

  @Prop({ default: '' }) productResourceId?: string

  temporaryImageUrl: string = 'https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/public/img/icons/android-chrome-512x512.png'

  digitalCurrencyName = projectVariables.digitalCurrencyName

}

export default ProductResourceHelperComponents2Header
</script>
<style lang="scss" scoped>
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';


.product-resource-helper-components-2-header {
  position: relative;
}

.product-resource-photograph-container {
  white-space: nowrap;
  overflow-x: scroll;

  .photograph-item {
    display: inline-block;
    width: 200px !important;
    height: 100px !important;
    border: 1px solid #DDDDDD;
    margin: 10px 10px;
  }
}

</style>



