<template>
  <div class="folder-item-view-1-description-list-view">
    <v-list>
      <div v-for="(descriptionItem, index) in descriptionList" v-bind:key="index">
        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-icon>
            <v-icon>{{ descriptionItem.propertyIconId }}</v-icon>
          </v-list-item-icon>
          <v-list-item-content>
            <v-list-item-title>
              <DigitalCurrency20AnimatedCurrencyLabel v-if="descriptionItem.showAnimatedCurrencyLabel"
                :currencyAmountAndAccountId="{ currencyAmount: descriptionItem.propertyValue }"
                :isDigitalCurrencyAccountUpdate="descriptionItem.animatedCurrencyLabelPropertyIsDigitalCurrencyAccountUpdate"
                :showVerticalUpdateList="descriptionItem.animatedCurrencyLabelPropertyShowVerticalUpdateList"
                :showNumberOfTransactions="descriptionItem.animatedCurrencyLabelPropertyShowNumberOfTransactions"
                :maximumNumberOfUnitPlaces="descriptionItem.animatedCurrencyLabelPropertyMaximumNumberOfUnitPlaces"
                :maximumNumberOfDecimalPlaces="descriptionItem.animatedCurrencyLabelPropertyMaximumNumberOfDecimalPlaces"  />
              <div v-else-if="isArray(descriptionItem.propertyValue)">
                <v-chip v-for="(item, index) in descriptionItem.propertyValue" v-bind:key="index"
                  class="ma-1">
                  {{ item }}
                </v-chip>
              </div>
              <span v-else-if="!isValidHttpUrl(descriptionItem.propertyValue)"
                v-html="updatePropertyValue(descriptionItem.propertyValue) || descriptionItem.propertyValueAsHtml"></span>
              <a v-else :href="descriptionItem.propertyValue" target="_blank" class="router-link">
                {{ descriptionItem.propertyValue }}
              </a>
            </v-list-item-title>
            <v-list-item-subtitle>
              {{ descriptionItem.propertyName }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </div>
      <v-divider></v-divider>
    </v-list>
  </div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import { isValidHttpUrl } from '../service-for-algorithms/algorithms-1-is-valid-http-url'
import { replaceUrlWithHtmlUrl } from '../service-for-algorithms/algorithms-2-replace-url-with-html-url'


import DigitalCurrency20AnimatedCurrencyLabel from '../../basic-type-2-digital-currency/digital-currency-20-animated-currency-label.vue'

@Component({
  components: {
    DigitalCurrency20AnimatedCurrencyLabel
  }
})
class FolderItemView1DescriptionListView extends Vue {
  @Prop({ default: () => [] }) descriptionList?: any

  isValidHttpUrl = isValidHttpUrl

  updatePropertyValue (propertyValue: any) {
    propertyValue = replaceUrlWithHtmlUrl(propertyValue)
    return propertyValue
  }

  isArray (value: any) {
    return Array.isArray(value)
  }
}

export default FolderItemView1DescriptionListView

</script>

<style lang="scss">
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';


.folder-item-view-1-description-list-view {
  .v-list-item__content {
    overflow: visible !important;
    .v-list-item__title, .v-list-item__content {
      overflow: visible !important;
    }
  }

  .v-list-item__title, .v-list-item__subtitle {
    white-space: normal !important;
    word-wrap: break-word;
  }
}


</style>


