<template>
  <div></div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

@Component({})
class FolderItemView4ProductResourceView extends Vue {
  //
}

export default FolderItemView4ProductResourceView

</script>

<style lang="scss">

</style>


