<template>
  <div ref="folder-item-view-2-graph-view">
    <!-- Data Table -->
    <v-data-table
        v-if="graphType === GRAPH_TYPE_DATA_TABLE"
        :headers="dataTableData.headerList"
        :items="dataTableData.dataList"
        item-key="itemId"
        :show-select="dataTableShowSelectCheckbox"
        :search="dataTableSearchText"
        :page.sync="dataTablePage"
        :items-per-page.sync="dataTableItemsPerPage"
        @page-count="updateDataTablePageData('dataTablePageCount', $event)"
        v-model="dataTableSelectedItems"
        v-on:toggle-select-all="sendSelectedItemList($event)"
        v-on:item-selected="sendSelectedItemList($event)"
        >
        <template v-slot:top>
          <div style="display: flex; flex-direction: row; align-items: center;">
            <v-text-field outlined v-model="dataTableSearchText"
              prepend-icon="search"
              :label="dataTableSearchTextFieldLabel"
              class="ma-4 search-text-field"></v-text-field>
          </div>
          <v-container text-center>
            <v-btn v-for="(button, index) in dataTableActionButtonList" v-bind:key="index"
              tile :class="button.cssClass" class="ma-2"
              @click="button.evaluateFunction()">
              <v-icon v-if="button.iconImageId" left>
                {{ button.iconImageId }}
              </v-icon>
              {{ button.text }}
            </v-btn>
            <v-btn tile v-if="dataTableShowSettingsButton"
              class="ma-2"
              @click="dataTableSettingsButtonFunction()">
              <v-icon left>settings</v-icon>
              Settings
            </v-btn>
          </v-container>
        </template>
        <template
          v-if="dataTableDataHasOpeningIcon"
          v-slot:item.itemIconImageUrl="{ item }">
          <v-icon v-if="item.itemIconImageUrl && !isValidHttpUrl(item.itemIconImageUrl)">
            {{ item.itemIconImageUrl }}
          </v-icon>
          <DigitalCurrency6AccountUserProfilePicture
            v-else-if="(item.itemType === ITEM_TYPE_ACCOUNT || item.itemType === ITEM_TYPE_TRANSACTION) && isValidHttpUrl(item.itemIconImageUrl)"
            :imageSize="36"
            :imageSrcUrl="item.itemIconImageUrl" />
        </template>
        <template
          v-if="dataTableDataHasClosingActionButton"
          v-slot:item.closingActionButtonText="{ item }">
          <v-btn tile v-if="item.closingActionButtonText"
            @click="evaluateClosingActionButtonFunction(item)"
            class="primary">
            <v-icon left v-if="item.closingActionButtonIconId">
              {{ item.closingActionButtonIconId }}
            </v-icon>
            {{ item.closingActionButtonText }}
          </v-btn>
        </template>
        <template v-slot:item.itemDataAsString="{ }" class="hide-header"></template>
        <template v-slot:header.itemDataAsString="{ }" class="hide-header"></template>

        <!-- slot-scope="item", :slot="itemName" -->

        <template v-for="itemName in dataTableDataPropertyHtmlItemRecipientList.map((stringValue) => `item.${stringValue}`)" :slot="itemName" slot-scope="item" >
          <div v-bind:key="itemName">
            <UserInterface6HtmlReader :messageString="item.value" :messageHtmlItemList="item.item.itemData.messageHtmlItemList" />
          </div>
        </template>
    </v-data-table>

    <!-- Bar Graph -->
    <v-chart v-else-if="graphType === GRAPH_TYPE_BAR_GRAPH"
      class="chart" :option="graphOptions"></v-chart>
  </div>
</template>

<script lang='ts'>

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'

import DigitalCurrency6AccountUserProfilePicture from '../../basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'

import UserInterface6HtmlReader from '../user-interface-6-html-reader.vue'

// import * as echarts from 'echarts'
import VChart from 'vue-echarts' // refers to components/ECharts.vue in webpack
// import 'echarts/lib/chart/line'

import { use } from 'echarts/core'

// import ECharts modules manually to reduce bundle size
import {
  CanvasRenderer
} from 'echarts/renderers'
import { BarChart } from 'echarts/charts'
import {
  TitleComponent,
  GridComponent,
  TooltipComponent,
  LegendComponent,
  DataZoomComponent
} from 'echarts/components'

import { getBarChartOptions } from './service-for-vue-echarts-algorithms/vue-echarts-algorithms-1-get-bar-chart-options'

import {
  itemTypeAccount,
  itemTypeTransaction
} from '../service-for-data-structures/data-structures-1-file-system-data-structure'
import { isValidHttpUrl } from '../service-for-algorithms/algorithms-1-is-valid-http-url'

use([
  CanvasRenderer,
  BarChart,
  GridComponent,
  TooltipComponent,
  TitleComponent,
  LegendComponent,
  DataZoomComponent
])


@Component({
  components: {
    VChart,
    DigitalCurrency6AccountUserProfilePicture,
    UserInterface6HtmlReader
  }
})
class FolderItemView2GraphView extends Vue {

  @Prop({ default: '' }) graphType?: string
  @Prop({ default: () => { return {} } }) graphData?: any

  GRAPH_TYPE_BAR_GRAPH = 'bar-graph'
  GRAPH_TYPE_DATA_TABLE = 'data-table'

  ITEM_TYPE_ACCOUNT = itemTypeAccount
  ITEM_TYPE_TRANSACTION = itemTypeTransaction

  dataTableDataList: any[] = []

  dataTableSearchTextFieldLabel: string = ''
  dataTableSearchText: string = ''

  dataTablePage: number = 1
  dataTablePageCount: number = 0
  dataTableItemsPerPage: number = 5

  dataTableDataHasOpeningIcon: boolean = false
  dataTableDataHasClosingActionButton: boolean = false
  dataTableDataPropertyHtmlItemRecipientList: string[] = []

  dataTableShowSelectCheckbox: boolean = false
  dataTableSelectedItems: any[] = []
  dataTableSelectItemEventListener: any = () => false

  dataTableShowSettingsButton: boolean = false
  dataTableSettingsButtonFunction: any = () => false
  dataTableActionButtonList: Array<{
    iconImageId?: string
    text?: string
    cssClass: any
    evaluateFunction: any
  }> = []

  isValidHttpUrl = isValidHttpUrl

  get graphOptions () {
    switch (this.graphType) {
      case this.GRAPH_TYPE_BAR_GRAPH:
        return Object.assign({}, getBarChartOptions({
          xAxisLabel: this.graphData.xAxisLabel,
          yAxisLabel: this.graphData.yAxisLabel,
          dateDataList: this.graphData.dateList.map((date: any) => new Date(date)),
          dataList: this.graphData.dataList
        }))
        break
    }
    return {}
  }

  get dataTableData (): {
    headerList: Array<{
      text?: string
      value: string
      align?: string
      sortable?: boolean
    }>
    dataList: any[]
  } {
    const hasOpeningIcon = this.graphData.hasOpeningIcon || false
    const hasClosingActionButton = this.graphData.hasClosingActionButton || false

    this.dataTableDataHasOpeningIcon = hasOpeningIcon
    this.dataTableDataHasClosingActionButton = hasClosingActionButton
    this.dataTableDataPropertyHtmlItemRecipientList = this.graphData.propertyHtmlItemRecipientList || []
    this.dataTableSearchTextFieldLabel = this.graphData.dataTableSearchTextFieldLabel || ''
    this.dataTableShowSettingsButton = this.graphData.dataTableShowSettingsButton
    this.dataTableSettingsButtonFunction = this.graphData.dataTableSettingsButtonFunction || (() => false)
    this.dataTableShowSelectCheckbox = this.graphData.dataTableShowSelectCheckbox
    this.dataTableSelectItemEventListener = this.graphData.dataTableSelectItemEventListener || (() => false)
    this.dataTableActionButtonList = this.graphData.dataTableActionButtonList || []

    let dataTableHeaderList = this.graphData.dataTableHeaderList || []

    // Add opening icon header item
    if (hasOpeningIcon) {
      dataTableHeaderList = [{
        value: 'itemIconImageUrl',
        align: 'start',
        sortable: false
      }, ...dataTableHeaderList]
    }

    // Add closing action button item
    if (hasClosingActionButton) {
      dataTableHeaderList = [...dataTableHeaderList, {
        value: 'closingActionButtonText',
        sortable: false
      }]
    }

    dataTableHeaderList.push({
      text: '',
      value: 'itemDataAsString',
      class: ['hide-header'],
      width: 0
    })

    const dataTableDataList = this.graphData.dataTableDataList || []
    this.dataTableDataList = dataTableDataList

    this.resetDataTableSelectedItemList()

    return {
      headerList: dataTableHeaderList,
      dataList: dataTableDataList
    }

  }

  async sendSelectedItemList () {
    await new Promise((resolve) => setTimeout(resolve, 0))
    this.dataTableSelectItemEventListener(this.dataTableSelectedItems)
  }

  resetDataTableSelectedItemList () {
    const currentItemList = this.dataTableDataList

    let newSelectedItemList = []

    for (let i = 0;i < this.dataTableSelectedItems.length; i++) {
      const selectedItem = this.dataTableSelectedItems[i]
      const isItemInList = currentItemList.filter((item: any) => {
        return item.itemId === selectedItem.itemId
      })[0]
      if (!isItemInList) {
        continue
      }
      newSelectedItemList.push(selectedItem)
    }

    this.dataTableSelectedItems = newSelectedItemList
  }

  evaluateClosingActionButtonFunction (item: any) {

    if (item.closingActionButtonFunction) {
      item.closingActionButtonFunction(item.itemId)
    }

    if (item.openFolderOrFileItem) {
      this.$emit('openFolderOrFileItem', item)
    }
  }

  @Watch('dataTablePage') onUpdateDataTablePage () {
    this.scrollToTop()
    this.$emit('graphViewDataTablePageData', {
      page: this.dataTablePage,
      pageCount: this.dataTablePageCount,
      itemsPerPage: this.dataTableItemsPerPage
    })
  }

  @Watch('dataTableItemsPerPage') onUpdateDataTableItemsPerPage () {
    this.$emit('graphViewDataTablePageData', {
      page: this.dataTablePage,
      pageCount: this.dataTablePageCount,
      itemsPerPage: this.dataTableItemsPerPage
    })
  }

  updateDataTablePageData (pageDataId: string, pageDataValue: any) {
    if (pageDataId === 'dataTablePage') {
      this.dataTablePage = pageDataValue
    } else if (pageDataId === 'dataTablePageCount') {
      this.dataTablePageCount = pageDataValue
    } else if (pageDataId === 'dataTableItemsPerPage') {
      this.dataTableItemsPerPage = pageDataValue
    }

    this.$emit('graphViewDataTablePageData', {
      page: this.dataTablePage,
      pageCount: this.dataTablePageCount,
      itemsPerPage: this.dataTableItemsPerPage
    })
  }

  scrollToTop () {
    const headerElement = this.$refs['folder-item-view-2-graph-view'] as HTMLElement
    if (!headerElement) {
      return
    }
    const headerElementTopPosition = headerElement.getBoundingClientRect().top + window.scrollY
    window.scrollTo({ top: headerElementTopPosition - 200 })
  }

}

export default FolderItemView2GraphView

</script>

<style lang='scss'>
.chart {
  height: 400px;
}

.hide-header {
  // display: none;
  // width: -100px !important;
  width: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
}

</style>


