
<template>
  <div class="currency-exchange-trade-helper-components-2-header">
    <v-container text-center>
      <div class="mb-4 currency-exchange-trade-photograph-container">
        
        <!-- Transaction Sender Account -->
        <div class="photograph-item">
          <v-avatar size="60" style="background: #DDDDDD;">
            <v-icon>toll</v-icon>
          </v-avatar>
          <div>10 Ecoin (369)</div>
        </div>  

        <!-- Transaction Sending Reversal Direction Arrow -->
        <div class="mt-4">
          <v-tooltip slot="append" bottom>
            <template v-slot:activator="{ on }">
              <v-icon v-on="on" size="40">arrow_right_alt</v-icon>
            </template>
            <span>Sending To</span>
          </v-tooltip>
        </div>

        <!-- Transaction Recipient Account -->
        <div class="photograph-item">
          <v-avatar size="60" style="background: #DDDDDD;">
            <v-icon>toll</v-icon>
          </v-avatar>
          <div>1,000 United States Dollar (USD)</div>
        </div>  
      </div>
      <div class="headline">Trade #123</div>

    </v-container>
    <div class="transaction-description-content">
      <v-list class="transaction-introduction">
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Buyer receives 10 Ecoin (369)</v-list-item-title>
            <v-list-item-subtitle>Trade Agreement</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>Initiator receives 1,000 United States Dollars (USD)</v-list-item-title>
            <v-list-item-subtitle>Trade Agreement</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <router-link class="router-link" to="/"
                target="_blank">
                https://hello-world.com
              </router-link>
            </v-list-item-title>
            <v-list-item-subtitle>Trade URL</v-list-item-subtitle>
          </v-list-item-content>
          <v-list-item-icon>
            <v-icon>transfer_within_a_station</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
      </v-list>
      <div class="ma-4" style="display: flex; justify-content: center; flex-wrap: wrap;">
        <v-btn class="ma-2 primary">
          <v-icon left>send</v-icon>
          Buy Offer
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>transfer_within_a_station</v-icon>
          Trade
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>info_outline</v-icon>
          Buyer Instructions
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>info_outline</v-icon>
          Initiator Instructions
        </v-btn>
        <v-btn class="ma-2 success">
          <v-icon left>thumb_up</v-icon>
          Report Completed
        </v-btn>
        <v-btn class="ma-2 error">
          <v-icon left>thumb_down</v-icon>
          Report Failure
        </v-btn>
        <v-btn class="ma-2 error">
          <v-icon left>cancel</v-icon>
          Cancel Buyer
        </v-btn>
        <v-btn class="ma-2">
          <v-icon left>settings</v-icon>
          Settings
        </v-btn>
        <v-btn class="ma-2 error">
          <v-icon left>delete</v-icon>
          Delete
        </v-btn>
        <!--
        <DigitalCurrency2SendPaymentButton
          v-if="isPublicAccountViewing ? accountId !== getActiveDigitalCurrencyAccount.accountId : true"
          :recipientAccountId="accountId" class="ma-2" />
        <DigitalCurrency9AccountShortIntroductionButton :accountId="accountId" class="ma-2" />
        <DigitalCurrency11QrCodeScannerButton v-if="!isPublicAccountViewing" class="ma-2" />
        <Groups1AddToGroupButton class="ma-2"
          v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
          :selectedItemId="accountId" :selectedItemType="GROUP_ITEM_TYPE_ACCOUNT" />
        <DigitalCurrency15AccountSettingsButton class="ma-2"
          v-if="isPublicAccountViewing && (accountId !== getActiveDigitalCurrencyAccount.accountId)"
          :accountId="accountId" />
          -->
      </div>

      <v-list>
        <v-progress-linear color="green" height="30" :value="33">
          <div style="color: black" class="mr-4">
            {{ 33 }}%
          </div>
          <div>
            100 Completed : 200 Failed
          </div>
        </v-progress-linear>

        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>100 Completed : 200 Failed</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Initiator Trade History Success Ratio</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-progress-linear color="green" height="30" :value="33">
          <div style="color: black" class="mr-4">
            {{ 33 }}%
          </div>
          <div>
            100 Completed : 200 Failed
          </div>
        </v-progress-linear>

        <v-divider></v-divider>
  
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>100 Completed : 200 Failed</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Buyer Trade History Success Ratio</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>

        <v-divider></v-divider>
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>trade-id</v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Trade Id</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-icon>description</v-icon>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="temporaryImageUrl"></v-img>
                </v-avatar>
                Customer #123
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Trade Initiator</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-btn>
              <v-icon left>visibility</v-icon>
              Open Account
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title>
              <v-chip>
                <v-avatar left>
                  <v-img :src="temporaryImageUrl"></v-img>
                </v-avatar>
                Customer #123
              </v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Trade Buyer</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
            <v-btn>
              <v-icon left>visibility</v-icon>
              Open Account
            </v-btn>
          </v-list-item-icon>
        </v-list-item>
        
        <v-divider></v-divider>

        <v-list-item>
          <v-list-item-content>
            <v-list-item-title style="white-space: normal !important;">
              <v-chip class="ma-1">Genre #1</v-chip>
              <v-chip class="ma-1">Genre #2</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
              <v-chip class="ma-1">Genre #3</v-chip>
            </v-list-item-title>
            <v-list-item-subtitle class="v-list-item-subtitle">Trade Genre Listing</v-list-item-subtitle>
          </v-list-item-content>

          <v-list-item-icon>
          </v-list-item-icon>
        </v-list-item>
        <v-divider></v-divider>
      </v-list>
    </div>
  </div>
</template>

<script lang="ts">
// import Vue from 'vue'
// import Component from 'vue-class-component'

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
// import { Getter, Mutation } from 'vuex-class'


import DigitalCurrency1DigitalCurrencySymbol from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-1-digital-currency-symbol.vue'
// import DigitalCurrency2SendPaymentButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-2-send-payment-button.vue'
import DigitalCurrency6AccountUserProfilePicture from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-6-account-user-profile-picture.vue'
// import DigitalCurrency7AccountBalanceNumberWithIcon from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-7-account-balance-number-with-icon.vue'
// import DigitalCurrency9AccountShortIntroductionButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-9-account-short-introduction-button.vue'
// import DigitalCurrency11QrCodeScannerButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-11-qr-code-scanner-button.vue'
// import DigitalCurrency15AccountSettingsButton from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-15-account-settings-button.vue'

// import Groups1AddToGroupButton from '../../../../html-components-type-1-basic/basic-type-5-groups/groups-1-add-to-group-button.vue'


import DigitalCurrency5AccountThumbnail from '../../../../html-components-type-1-basic/basic-type-2-digital-currency/digital-currency-5-account-thumbnail.vue'


import { projectVariables } from '../../../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


// const namespace = 'digitalCurrency'


@Component({
  components: {
    DigitalCurrency5AccountThumbnail,
    DigitalCurrency1DigitalCurrencySymbol,
    // DigitalCurrency2SendPaymentButton,
    DigitalCurrency6AccountUserProfilePicture
    // DigitalCurrency7AccountBalanceNumberWithIcon,
    // DigitalCurrency9AccountShortIntroductionButton,
    // DigitalCurrency11QrCodeScannerButton,
    // DigitalCurrency15AccountSettingsButton,
    // Groups1AddToGroupButton
  }
})
class CurrencyExchangeTradeHelperComponents2Header extends Vue {

  @Prop({ default: '' }) transactionId?: string

  temporaryImageUrl: string = 'https://ecoin-static-file-host.web.app/service-for-game-introduction/game-introduction-type-1-web-browser-introduction/web-browser-introduction-type-1-customer-website/public/img/icons/android-chrome-512x512.png'
  temporaryImageUrl2: string = 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fpixy.org%2Fsrc%2F21%2F219269.jpg&f=1&nofb=1'

  digitalCurrencyName = projectVariables.digitalCurrencyName

}

export default CurrencyExchangeTradeHelperComponents2Header
</script>
<style lang="scss" scoped>
@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';


.currency-exchange-trade-helper-components-2-header {
  position: relative;
}

.currency-exchange-trade-photograph-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;

  .photograph-item {
    width: 150px;
  }
}

</style>



