
<template>
  <div class="currency-exchange-trade-helper-components-1-main-page">
    <div>
      <CurrencyExchangeTradeHelperComponents2Header />
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State } from 'vuex-class'

import CurrencyExchangeTradeHelperComponents2Header from './currency-exchange-trade-helper-components-2-header.vue'

// const namespace = 'digitalCurrency'

@Component({
  name: 'TransactionHelperComponents1MainPage',
  components: {
    CurrencyExchangeTradeHelperComponents2Header
  }
})
class TransactionHelperComponents1MainPage extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  @Prop({ default: '' }) transactionId?: string
  @Prop({ default: false }) showInNav?: boolean


  emitToggleShowContent ({ contentName, isVisible }: { contentName: string, isVisible?: boolean}) {
    this.$emit('toggleShowContent', { contentName, isVisible })
  }
}
export default TransactionHelperComponents1MainPage
</script>
<style lang="scss">

.currency-exchange-trade-helper-components-1-main-page {
  background-color: inherit !important;
}

</style>

