<template>
  <div class="send-payment-button">
    <v-btn v-if="isIconButton" icon color="green" @click="showCreateTransactionDialog = true"><v-icon>send</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" color="success" class="mr-2" @click="showCreateTransactionDialog = true">
      <v-icon left>send</v-icon> Send Payment
    </v-btn>
    <v-dialog v-model="showCreateTransactionDialog" width="400">
      <v-card v-if="showCreateTransactionDialog" style="position: relative">
        <DigitalCurrency3CreateTransaction v-on:toggleShowContent="toggleShowContent($event)"
          :initialTransaction="initialTransaction" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrency3CreateTransaction from './digital-currency-3-create-transaction.vue'

@Component({
  components: {
    DigitalCurrency3CreateTransaction
  }
})
class DigitalCurrency2SendPaymentButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean
  @Prop({ default: null }) initialTransaction?: any

  showCreateTransactionDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.showCreateTransactionDialog = isVisible
  }
}


export default DigitalCurrency2SendPaymentButton

</script>

