<template>
  <div>
    <v-container text-center>
      <div class="headline">Frequently Asked Questions (F.A.Q.)</div>
    </v-container>
    <v-container v-for="(pageInformationItem, index) in webPageInformationList" :key="index" :class="{ 'remove-v-container-margin-and-padding': isMobileDevice }">
      <div v-if="pageInformationItem.faqList && pageInformationItem.faqList.length > 0" class="pt-10">
        <v-container>
          <div class="headline"><v-icon left>{{ pageInformationItem.icon }}</v-icon>{{ pageInformationItem.name }}</div>
          <div class="mt-1 mb-6">Frequently asked questions related to {{ pageInformationItem.name }}</div>
        </v-container>
        <v-expansion-panels tile focusable class="mt-8">
          <v-expansion-panel v-for="faqItem in pageInformationItem.faqList" :key="updateText(faqItem.question)">
            <v-expansion-panel-header>{{ updateText(faqItem.question) }}</v-expansion-panel-header>
            <v-expansion-panel-content style="text-align: left" class="pa-4">
              <div v-html="updateText(faqItem.answer)"></div>
            </v-expansion-panel-content>
          </v-expansion-panel>
        </v-expansion-panels>
      </div>
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { State } from 'vuex-class'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { WEB_PAGE_INFORMATION_LIST } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-2-customer-website-page-information'

@Component
class FrequentlyAskedQuestionsList extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean

  webPageInformationList = WEB_PAGE_INFORMATION_LIST

  projectName: string = projectVariables.projectName

  updateText (text: string): string {
    let newText = text.replace(/{{appName}}/g, this.projectName || '')
    return newText
  }


}

export default FrequentlyAskedQuestionsList

</script>

<style lang="scss" scoped>

@import '@/service-for-game-introduction/game-introduction-type-3-css/css-1-input';

a {
  text-decoration: none;
}
</style>