
<template>
  <div class="qr-code-scanner-button">
    <v-btn v-if="isIconButton" icon @click="isVisibleGetAccountByQrCodeRequestDialog = true"><v-icon>qr_code</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" @click="isVisibleGetAccountByQrCodeScannerPresentationDialog = true">
      <v-icon left>qr_code</v-icon> Scan
    </v-btn>
    <v-dialog v-model="isVisibleGetAccountByQrCodeScannerPresentationDialog" width="400">
      <v-card style="position: relative">
        <DigitalCurrency12QrCodeScannerPresentation
          v-if="isVisibleGetAccountByQrCodeScannerPresentationDialog"
          v-on:toggleShowContent="toggleShowContent($event)" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrency12QrCodeScannerPresentation from './digital-currency-12-qr-code-scanner-presentation.vue'

import {
  GET_ACCOUNT_BY_QR_CODE_REQUEST
} from './service-for-helper-constants/helper-constants-3'

@Component({
  components: {
    DigitalCurrency12QrCodeScannerPresentation
  }
})
class DigitalCurrency11QrCodeScannerButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean

  GET_ACCOUNT_BY_QR_CODE_REQUEST: string = GET_ACCOUNT_BY_QR_CODE_REQUEST

  isVisibleGetAccountByQrCodeScannerPresentationDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleGetAccountByQrCodeScannerPresentationDialog = isVisible
  }
}

export default DigitalCurrency11QrCodeScannerButton

</script>

