
<template>
  <div>
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
      <v-toolbar-title>
        <v-icon left>settings</v-icon>
        Settings
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
        <v-icon>close</v-icon>
      </v-btn>
    </v-app-bar>
    <div class="pa-4">
      <v-btn v-if="!getIsBlockedByDigitalCurrencyAccount(accountId, getActiveDigitalCurrencyAccount.accountId)"
        class="error" @click="blockAccount()">
        <v-icon left>block</v-icon>
        Block Account
      </v-btn>
      <v-btn v-else @click="unblockAccount()">
        <v-icon left>block</v-icon>
        Unblock Account
      </v-btn>
    </div>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Getter, Action } from 'vuex-class'
import { Prop } from 'vue-property-decorator'

const namespace = 'digitalCurrency'

@Component({
  components: {}
})
class DigitalCurrency16AccountSettingsIntroduction extends Vue {

  @Prop({ default: '' }) accountId?: string

  @Getter('getActiveDigitalCurrencyAccount', { namespace }) getActiveDigitalCurrencyAccount?: any
  @Getter('getDigitalCurrencyAccountSettings', { namespace }) getDigitalCurrencyAccountSettings?: any
  @Getter('getIsBlockedByDigitalCurrencyAccount', { namespace }) getIsBlockedByDigitalCurrencyAccount?: any

  @Action('updateDigitalCurrencyAccountSettings', { namespace }) updateDigitalCurrencyAccountSettings?: any

  async blockAccount () {
    const blockedAccountVariableTable = this.getDigitalCurrencyAccountSettings(this.getActiveDigitalCurrencyAccount.accountId).blockedAccountVariableTable || {}

    if (!this.accountId) {
      return
    }
    blockedAccountVariableTable[this.accountId] = true

    await this.updateDigitalCurrencyAccountSettings({
      propertyId: 'blockedAccountVariableTable',
      propertyValue: blockedAccountVariableTable
    })
  }

  async unblockAccount () {
    const blockedAccountVariableTable = this.getDigitalCurrencyAccountSettings(this.getActiveDigitalCurrencyAccount.accountId).blockedAccountVariableTable || {}

    if (!this.accountId) {
      return
    }
    delete blockedAccountVariableTable[this.accountId]

    await this.updateDigitalCurrencyAccountSettings({
      propertyId: 'blockedAccountVariableTable',
      propertyValue: blockedAccountVariableTable
    })
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }
}

export default DigitalCurrency16AccountSettingsIntroduction


</script>
<style lang="scss">

.payment-amount {
  .v-label {
    background-color: white;
  }
}
</style>


