
<template>
  <v-container text-center>
    <div style="display: flex; flex-direction: row; align-items: center; justify-content: center; overflow-x: scroll">
      <img class="mr-4" width="100" :src="digitalCurrencySymbolImageIconUrl"/>
      <div class="display-3">{{ projectName }}</div>
    </div>
    <div class="subheading ma-4">A new currency for a new era.</div>
    <v-btn class="mt-4" color="primary" @click="showDialog = !showDialog">
      <v-icon left>videocam</v-icon>
      Watch a Video Tutorial
    </v-btn>
    <v-dialog v-model="showDialog" max-width="600">
      <v-card v-if="showDialog" class="pa-4">
        <iframe width="100%" height="315" :src="projectVideoIntroductionUrl" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </v-card>
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


@Component
class DigitalCurrency8WatchVideoIntroduction extends Vue {
  projectName: string = projectVariables.projectName

  projectVideoIntroductionUrl: string = projectVariables.projectVideoIntroductionUrl

  digitalCurrencySymbolImageIconUrl: string = projectVariables.digitalCurrencySymbolImageIconUrl

  showDialog: boolean = false
}

export default DigitalCurrency8WatchVideoIntroduction
</script>

