
<template>
  <div class="account-settings-button">
    <v-btn v-if="isIconButton" icon color="green" @click="isVisibleAccountSettingsDialog = true"><v-icon>person</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" class="mr-2" @click="isVisibleAccountSettingsDialog = true">
      <v-icon left>settings</v-icon> Settings
    </v-btn>
    <v-dialog v-model="isVisibleAccountSettingsDialog" width="400">
      <v-card style="position: relative">
        <DigitalCurrency16AccountSettingsIntroduction
          :accountId="accountId"
          v-on:toggleShowContent="toggleShowContent($event)" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrency16AccountSettingsIntroduction from './digital-currency-16-account-settings-introduction.vue'

@Component({
  components: {
    DigitalCurrency16AccountSettingsIntroduction
  }
})
class DigitalCurrency15AccountSettingsButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean
  @Prop({ default: '' }) accountId?: string

  isVisibleAccountSettingsDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleAccountSettingsDialog = isVisible
  }
}

export default DigitalCurrency15AccountSettingsButton

</script>

