
<template>
  <div class="account-settings-button">
    <v-btn v-if="isIconButton" icon color="green" @click="isVisibleAccountSignInDialog = true"><v-icon>person</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" class="mr-2" @click="isVisibleAccountSignInDialog = true">
      <v-icon left>person</v-icon> Sign In
    </v-btn>
    <v-dialog v-model="isVisibleAccountSignInDialog" width="400">
      <v-card style="position: relative">
        <DigitalCurrency18AccountSignInIntroduction
          :accountId="accountId"
          v-on:toggleShowContent="toggleShowContent($event)" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import DigitalCurrency18AccountSignInIntroduction from './digital-currency-18-account-sign-in-introduction.vue'

@Component({
  components: {
    DigitalCurrency18AccountSignInIntroduction
  }
})
class DigitalCurrency15AccountSettingsButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean
  @Prop({ default: '' }) accountId?: string

  isVisibleAccountSignInDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleAccountSignInDialog = isVisible
  }
}

export default DigitalCurrency15AccountSettingsButton

</script>

