

<template>
  <div>
    <div :style="{ 'display': 'inline-block', 'position': 'relative' }">
      <!-- Background image (i.e. rainbow circle) -->
      <v-avatar ref="background-image" :size="imageSize" style="z-index:0; position: relative">
        <img :src="defaultProfilePictureBackgroundImageUrl" />
      </v-avatar>
      <!-- Profile picture image -->
      <v-avatar :size="profileImageSize" :width="profileImageSize" :style="{
        'position': 'absolute', 'background-color': 'white',
        'min-width': `calc(${imageSize}px * ${profileImageScaleRatio}) !important`,
        'width': `calc(${imageSize}px * ${profileImageScaleRatio}) !important`,
        'height': `calc(${imageSize}px * ${profileImageScaleRatio}) !important`,
        'left': `calc((${imageSize}px - (${imageSize}px * ${profileImageScaleRatio})) / 2) !important`,
        'top': `calc((${imageSize}px - (${imageSize}px * ${profileImageScaleRatio})) / 2) !important`,
        'border': `${profileImageBorderPadding}px solid white` }">
        <img :src="imageSrcUrl" style="height: inherit !important; width: initial !important" />
      </v-avatar>
    </div>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'


@Component({})
class AccountProfilePicture extends Vue {
  @Prop({ default: '' }) imageSrcUrl?: string
  @Prop({ default: 120 }) imageSize?: number

  profileImageScaleRatio: number = 0.8

  defaultProfilePictureBackgroundImageUrl: string = projectVariables.digitalCurrencyAccountDefaultBackgroundImageForColorfulEffectImageIconUrl

  get profileImageSize (): number {
    return this.imageSize! * this.profileImageScaleRatio
  }

  get getProfileImageSizeMarginDifference (): number {
    return Math.floor((this.imageSize! - this.profileImageSize) / 2)
  }

  get profileImageBorderPadding (): number {
    return Math.floor(this.getProfileImageSizeMarginDifference / 2)
  }
}
export default AccountProfilePicture
</script>
<style lang="scss">


</style>
