<template>
  <span class="animated-currency-update-label">
    <span class="animated-currency-update-text">
      <span v-if="currencyAmountAndAccountId" class="original-currency-number">
        <UserInterface7LargeNumberDisplay :numberValue="currencyAmountAndAccountId.currencyAmount" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" />
      </span>
      <span v-if="!showVerticalUpdateList && summationOfTotalCurrencyAmountForUpdateIncreaseList">
        <span class="green--text"> + <UserInterface7LargeNumberDisplay :numberValue="Math.abs(summationOfTotalCurrencyAmountForUpdateIncreaseList)" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /></span>
        <span v-if="showNumberOfTransactions"> (<UserInterface7LargeNumberDisplay :numberValue="currencyUpdateDifferenceForIncreaseList.length" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /> {{ showTransactionTextAbbreviated ? 'tx' : 'transaction' }}{{ currencyUpdateDifferenceForIncreaseList.length !== 1 ? 's' : '' }})</span>
        <span v-if="showSinceTimeUpdate"> (since {{ timeAgoSinceEarliestUpdateIncrease }})</span>
      </span>
      <span v-if="!showVerticalUpdateList && summationOfTotalCurrencyAmountForUpdateDecreaseList">
        <span class="red--text"> - <UserInterface7LargeNumberDisplay :numberValue="Math.abs(summationOfTotalCurrencyAmountForUpdateDecreaseList)" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /></span>
        <span v-if="showNumberOfTransactions"> (<UserInterface7LargeNumberDisplay :numberValue="currencyUpdateDifferenceForDecreaseList.length" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /> {{ showTransactionTextAbbreviated ? 'tx' : 'transaction' }}{{ currencyUpdateDifferenceForDecreaseList.length !== 1 ? 's' : '' }})</span>
        <span v-if="showSinceTimeUpdate"> (since {{ timeAgoSinceEarliestUpdateDecrease }})</span>
      </span>
      <span v-if="isDigitalCurrencyAccountUpdate" class="pl-1 pr-1">
        {{ digitalCurrencyName }}
      </span>
    </span>
    <div v-if="showVerticalUpdateList">
      <div class="currency-update-amount-list">
        <v-menu ref="currency-update-list-menu" attach v-model="showCurrencyUpdateList"
          :transition="'v-menu-transition'"
          :close-on-click="false" :close-on-content-click="false">
          <v-list>
            <v-list-item v-if="currencyUpdateDifferenceForIncreaseList.length > 0" dense>
              <v-list-item-content>
                <v-list-item-title>
                  <div class="pr-1 currency-text-non-mobile">
                    <div class="green--text">
                      + <UserInterface7LargeNumberDisplay :numberValue="Math.abs(summationOfTotalCurrencyAmountForUpdateIncreaseList)" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" />
                    </div>
                    <div v-if="showNumberOfTransactions">
                      (<UserInterface7LargeNumberDisplay :numberValue="currencyUpdateDifferenceForIncreaseList.length" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /> {{ showTransactionTextAbbreviated ? 'tx' : 'transaction' }}{{ currencyUpdateDifferenceForIncreaseList.length !== 1 ? 's' : '' }})
                    </div>
                    <div v-if="showSinceTimeUpdate && !isMobileDevice">
                      since {{ timeAgoSinceEarliestUpdateIncrease }}
                    </div>
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <v-divider v-if="currencyUpdateDifferenceForDecreaseList.length > 0 && currencyUpdateDifferenceForIncreaseList.length > 0"></v-divider>
            <v-list-item v-if="currencyUpdateDifferenceForDecreaseList.length > 0" dense>
              <v-list-item-content>
                <v-list-item-title>
                  <div class="pr-1 currency-text-non-mobile">
                    <div class="red--text">
                      - <UserInterface7LargeNumberDisplay :numberValue="Math.abs(summationOfTotalCurrencyAmountForUpdateDecreaseList)" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" />
                    </div>
                    <div v-if="showNumberOfTransactions">
                      (<UserInterface7LargeNumberDisplay :numberValue="currencyUpdateDifferenceForDecreaseList.length" :maximumNumberOfUnitPlaces="maximumNumberOfUnitPlaces" :maximumNumberOfDecimalPlaces="maximumNumberOfDecimalPlaces" :useENotation="useENotation" /> {{ showTransactionTextAbbreviated ? 'tx' : 'transaction' }}{{ currencyUpdateDifferenceForDecreaseList.length !== 1 ? 's' : '' }})
                    </div>
                    <div v-if="showSinceTimeUpdate && !isMobileDevice">
                      since {{ timeAgoSinceEarliestUpdateDecrease }}
                    </div>
                  </div>
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </v-list>
        </v-menu>
      </div>
    </div>
  </span>
</template>

<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop, Watch } from 'vue-property-decorator'
import { State } from 'vuex-class'


import DigitalCurrency1DigitalCurrencySymbol from './digital-currency-1-digital-currency-symbol.vue'
import UserInterface7LargeNumberDisplay from '../basic-type-4-user-interface/user-interface-7-large-number-display.vue'

import { getNumberWithFixedDecmial1 } from '../../../../../../../../service-for-game-codebase/game-codebase-type-1-app/app-type-1-general/general-type-1-algorithms/algorithms-type-9-get-number-with-fixed-decimal/get-number-with-fixed-decimal-1'

import { projectVariables } from '../../../../../../../../service-for-environment-variables/environment-variables-type-1-general-variables/general-variables-type-1-project-variables/project-variables-1-introduction'

import { getTimeUntilMillisecondDurationReached } from './service-for-helper-algorithms/helper-algorithms-4-get-time-until-millisecond-duration-reached'


@Component({
  components: {
    DigitalCurrency1DigitalCurrencySymbol,
    UserInterface7LargeNumberDisplay
  }
})
class DigitalCurrency20AnimatedCurrencyLabel extends Vue {
  @State('isMobileDevice') isMobileDevice?: boolean
  @Prop({ default: () => { return {} } }) currencyAmountAndAccountId?: any
  @Prop({ default: false }) isDigitalCurrencyAccountUpdate?: boolean
  @Prop({ default: true }) showVerticalUpdateList?: boolean
  @Prop({ default: true }) showSinceTimeUpdate?: boolean
  @Prop({ default: false }) showNumberOfTransactions?: boolean
  @Prop({ default: false }) showTransactionTextAbbreviated?: boolean
  @Prop({ default: 6 }) maximumNumberOfUnitPlaces?: number
  @Prop({ default: 2 }) maximumNumberOfDecimalPlaces?: number
  @Prop({ default: false }) useENotation?: boolean

  digitalCurrencyName = projectVariables.digitalCurrencyName

  showCurrencyUpdateList: boolean = true

  currencyUpdateDifferenceForIncreaseList: Array<{ updateDifferenceAmount: number, dateUpdateCreated: number }> = []
  currencyUpdateDifferenceForDecreaseList: Array<{ updateDifferenceAmount: number, dateUpdateCreated: number }> = []

  hasUpdatedFirstValue: boolean = false
  millisecondDelayToShowAmountUpdate: number = 10 * 1000

  hideUpdateIncreaseListTimeoutId: any = null
  hideUpdateDecreaseListTimeoutId: any = null

  get summationOfTotalCurrencyAmountForUpdateIncreaseList () {
    const updateDifferenceIncreaseList = this.currencyUpdateDifferenceForIncreaseList.map((updateDifferenceForIncrease) => updateDifferenceForIncrease.updateDifferenceAmount)
    if (updateDifferenceIncreaseList.length === 0) {
      return 0
    }
    const summationTotal = updateDifferenceIncreaseList.reduce((a, b) => getNumberWithFixedDecmial1(a + b))
    return summationTotal
  }

  get summationOfTotalCurrencyAmountForUpdateDecreaseList () {
    const updateDifferenceDecreaseList = this.currencyUpdateDifferenceForDecreaseList.map((updateDifferenceForDecrease) => updateDifferenceForDecrease.updateDifferenceAmount)
    if (updateDifferenceDecreaseList.length === 0) {
      return 0
    }
    const summationTotal = updateDifferenceDecreaseList.reduce((a, b) => getNumberWithFixedDecmial1(a + b))
    return summationTotal
  }

  get timeAgoSinceEarliestUpdateIncrease () {
    if (this.currencyUpdateDifferenceForIncreaseList.length === 0) {
      return ''
    }
    const millisecondTimeAgoSinceNow = (new Date()).getTime() - this.currencyUpdateDifferenceForIncreaseList[0].dateUpdateCreated
    return getTimeUntilMillisecondDurationReached(millisecondTimeAgoSinceNow) + ' ago'
  }

  get timeAgoSinceEarliestUpdateDecrease () {
    if (this.currencyUpdateDifferenceForDecreaseList.length === 0) {
      return ''
    }
    const millisecondTimeAgoSinceNow = (new Date()).getTime() - this.currencyUpdateDifferenceForDecreaseList[0].dateUpdateCreated
    return getTimeUntilMillisecondDurationReached(millisecondTimeAgoSinceNow) + ' ago'
  }

  @Watch('currencyAmountAndAccountId') onUpdateCurrencyAmountAndAccountId (newValue: any, oldValue: any) {
    if (!this.hasUpdatedFirstValue) {
      this.hasUpdatedFirstValue = true
      return
    }

    if (!newValue || !oldValue) {
      return
    }

    if (newValue.accountId !== oldValue.accountId) {
      return
    }

    const currentDate = (new Date()).getTime()

    newValue = { currencyAmount: getNumberWithFixedDecmial1(newValue.currencyAmount), ...newValue }
    oldValue = { currencyAmount: getNumberWithFixedDecmial1(oldValue.currencyAmount), ...oldValue }

    const currencyUpdateDifferenceAmount = getNumberWithFixedDecmial1(newValue.currencyAmount - oldValue.currencyAmount)
    const currencyUpdateObject = { updateDifferenceAmount: currencyUpdateDifferenceAmount, dateUpdateCreated: currentDate }

    if (currencyUpdateDifferenceAmount === 0) {
      return
    }

    if (currencyUpdateDifferenceAmount > 0) {
      this.currencyUpdateDifferenceForIncreaseList.push(currencyUpdateObject)
    } else if (currencyUpdateDifferenceAmount < 0) {
      this.currencyUpdateDifferenceForDecreaseList.push(currencyUpdateObject)
    }

    if (currencyUpdateDifferenceAmount > 0) {
      clearTimeout(this.hideUpdateIncreaseListTimeoutId)
      this.hideUpdateIncreaseListTimeoutId = setTimeout(() => {
        this.currencyUpdateDifferenceForIncreaseList = []
        this.hideUpdateIncreaseListTimeoutId = null
      }, this.millisecondDelayToShowAmountUpdate)
    }

    if (currencyUpdateDifferenceAmount < 0) {
      clearTimeout(this.hideUpdateDecreaseListTimeoutId)
      this.hideUpdateDecreaseListTimeoutId = setTimeout(() => {
        this.currencyUpdateDifferenceForDecreaseList = []
        this.hideUpdateDecreaseListTimeoutId = null
      }, this.millisecondDelayToShowAmountUpdate)
    }

    if (this.currencyUpdateDifferenceForIncreaseList.length > 0) {
      if (currentDate - this.currencyUpdateDifferenceForIncreaseList[0].dateUpdateCreated >= 2 * this.millisecondDelayToShowAmountUpdate) {
        this.currencyUpdateDifferenceForIncreaseList = this.currencyUpdateDifferenceForIncreaseList.slice(Math.floor(this.currencyUpdateDifferenceForIncreaseList.length / 2), this.currencyUpdateDifferenceForIncreaseList.length)
      }
    }

    if (this.currencyUpdateDifferenceForDecreaseList.length > 0) {
      if (currentDate - this.currencyUpdateDifferenceForDecreaseList[0].dateUpdateCreated >= 2 * this.millisecondDelayToShowAmountUpdate) {
        this.currencyUpdateDifferenceForDecreaseList = this.currencyUpdateDifferenceForDecreaseList.slice(Math.floor(this.currencyUpdateDifferenceForDecreaseList.length / 2), this.currencyUpdateDifferenceForDecreaseList.length)
      }
    }
  }

  destroyed () {
    clearTimeout(this.hideUpdateIncreaseListTimeoutId)
    clearTimeout(this.hideUpdateDecreaseListTimeoutId)
  }
}

export default DigitalCurrency20AnimatedCurrencyLabel

</script>

<style lang="scss" scoped>


.animated-currency-update-label {
  position: relative;
  // display: inline-block;
  // max-width: inherit;
  // max-height: 20px !important;


  // white-space: nowrap;
  word-break: break-word;

  .v-menu__content {
    z-index: 3 !important;
  }
}

.animated-currency-update-text {
  // display: inline-block;
  // max-width: inherit;
  // max-height: 20px !important;
  // overflow-y: scroll;

  // div {
  //   display: inline-block;
  //   vertical-align: top;
  // }
}

.original-currency-number {
  // max-width: inherit;
  // max-width: inherit !important;
  // overflow-x: scroll !important;
  // word-wrap: initial !important;
}


.currency-update-amount-list {
  position: relative;
}

.increased-currency-amount {
  color: green;
}

.decreased-currency-amount {
  color: red;
}

.number-list-container-1 {
  position: relative;
  padding-left: 4px;
  padding-right: 4px;
}

.number-list-container-2 {
  position: absolute;
  top: 100%;
  left: 0px;
  // float: right;
}

.number-list-container-3 {
  z-index: 1;
  opacity: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
}

.number-update-difference-amount {
  display: flex;
  flex-direction: row;
  * {
    padding-right: 4px;
  }
}

.currency-text-mobile {
  text-align: left;
}

.currency-text-non-mobile {
  display: flex;
  flex-direction: row;
  white-space: nowrap !important;

  * {
    margin-left: 2px;
  }
}

</style>
