
<template>
  <div>
    <v-app-bar color="accent-4" style="position: sticky; top: 0px; z-index: 2;">
      <v-toolbar-title>
        <div v-if="visibleDialogContent === signInContentType">
          <v-icon left>person</v-icon>
          Sign In
        </div>
        <div v-else>
          <v-btn icon @click="visibleDialogContent = signInContentType">
            <v-icon>arrow_back</v-icon>
          </v-btn>
          Back
        </div>
      </v-toolbar-title>
      <v-spacer></v-spacer>

      <v-btn icon @click="emitToggleShowContent({ isVisible: false })">
        <v-icon>close</v-icon>
      </v-btn>
    </v-app-bar>
    <div class="pa-4">
      <v-container v-if="visibleDialogContent === signInContentType" class="sign-in-dialog-content" text-center>
        <v-form ref="signInForm" v-model="isValidSignInForm">
          <v-text-field outlined v-model="signInEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
            label="Email Address"></v-text-field>
          
          <Input2PasswordInput :passwordValue="signInPassword" v-on:passwordValue="signInPassword = $event" :rules="[requireInput]" />
          <v-btn class="primary mb-4" @click="signInWithEmailAndPassword()">
            <v-icon left>person</v-icon>
            Sign In With Email
          </v-btn>
        </v-form>
        <div class="sign-in-with-provider-list">
          <v-btn class="primary mb-4" @click="signInWithGoogle()">
            Sign In With Google
          </v-btn>
          <br>
          <v-btn class="primary mb-4" @click="visibleDialogContent = createAccountContentType">
            <v-icon left>add</v-icon>
            Create New Account
          </v-btn>
          <br>
          <v-btn text class="mb-4" @click="visibleDialogContent = passwordRecoveryContentType">
            Forget Password?
          </v-btn>
        </div>
      </v-container>
      <v-container v-else-if="visibleDialogContent === createAccountContentType" class="create-account-dialog-content" text-center>
        <v-form ref="createAccountForm" v-model="isValidCreateAccountForm">
          <v-text-field outlined v-model="createAccountEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
            label="Email Address"></v-text-field>

          <Input2PasswordInput :passwordValue="createAccountPassword1" v-on:passwordValue="createAccountPassword1 = $event"
            :rules="[requireInput, requireMoreThanN1Characters]" />
          <Input2PasswordInput :passwordValue="createAccountPassword2" v-on:passwordValue="createAccountPassword2 = $event"
            :passwordInputLabel="'Repeat Password'"
            :rules="[requireInput, requirePassword1AndPassword2Match]"/>
          <v-btn class="primary mb-4" @click="createAccount()">
            <v-icon left>add</v-icon>
            Create Account
          </v-btn>
        </v-form>
      </v-container>
      <v-container v-else-if="visibleDialogContent === passwordRecoveryContentType" class="send-password-recovery-email-dialog-content" text-center>
        <v-form ref="passwordRecoveryForm" v-model="isValidPasswordRecoveryForm">
          <v-text-field outlined v-model="passwordRecoveryEmailAddress" :rules="[requireInput, requireValidEmailAddress]"
            label="Email Address"></v-text-field>

          <v-btn class="primary mb-4" @click="sendPasswordResetLink()">
            <v-icon left>send</v-icon>
            Send Password Recovery Link
          </v-btn>
        </v-form>
      </v-container>
    </div>
    <UserInterface3ErrorMessage
      :showErrorMessageDialog="showErrorMessage"
      :errorMessage="errorMessage"
      v-on:close-dialog="showErrorMessage = false" />
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'
import { State, Action } from 'vuex-class'

import Input2PasswordInput from '../../html-components-type-1-basic/basic-type-3-input/input-2-password-input.vue'
import UserInterface3ErrorMessage from '../../html-components-type-1-basic/basic-type-4-user-interface/user-interface-3-error-message.vue'

// const namespace = 'digitalCurrency'

@Component({
  components: {
    Input2PasswordInput,
    UserInterface3ErrorMessage
  }
})
class DigitalCurrency18AccountSignInIntroduction extends Vue {

  @Prop({ default: '' }) accountId?: string

  @State('serviceAccount') serviceAccount?: any

  @Action('initializeServiceAccount') initializeServiceAccount?: any
  @Action('createServiceAccount') createServiceAccount?: any
  @Action('createServiceAccountRecoveryMessage') createServiceAccountRecoveryMessage?: any

  visibleDialogContent = 'sign-in'

  signInContentType = 'sign-in'
  createAccountContentType = 'create-account'
  passwordRecoveryContentType = 'password-recovery'

  signInEmailAddress: string = ''
  signInPassword: string = ''

  isValidSignInForm: boolean = false

  createAccountEmailAddress: string = ''
  createAccountPassword1: string = ''
  createAccountPassword2: string = ''

  isValidCreateAccountForm: boolean = false

  passwordRecoveryEmailAddress: string = ''

  isValidPasswordRecoveryForm: boolean = false

  showErrorMessage: boolean = false
  errorMessage: string = ''

  async signInWithGoogle () {
    try {
      await this.initializeServiceAccount({
        isGoogleSignIn: true
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }
    this.emitToggleShowContent({ isVisible: false })
  }

  async signInWithEmailAndPassword () {
    if (!this.isValidSignInForm) {
      return
    }

    try {
      await this.initializeServiceAccount({
        isEmailAndPasswordSignIn: true,
        emailAddress: this.signInEmailAddress,
        password: this.signInPassword
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }

    this.emitToggleShowContent({ isVisible: false })

    ;(this.$refs['signInForm'] as any).reset()
  }

  async createAccount () {
    if (!this.isValidCreateAccountForm) {
      return
    }

    try {
      await this.createServiceAccount({
        emailAddress: this.createAccountEmailAddress,
        password: this.createAccountPassword1,
        linkWithExistingAccount: this.serviceAccount.isAnonymousAccount
      })
    } catch (errorMessage: any) {
      this.errorMessage = errorMessage
      this.showErrorMessage = true
      return
    }

    this.emitToggleShowContent({ isVisible: false })

    ;(this.$refs['createAccountForm'] as any).reset()

    this.visibleDialogContent = this.signInContentType
  }

  async sendPasswordResetLink () {
    if (!this.isValidPasswordRecoveryForm) {
      return
    }

    await this.createServiceAccountRecoveryMessage({
      emailAddress: this.passwordRecoveryEmailAddress
    })

    ;(this.$refs['passwordRecoveryForm'] as any).reset()

    this.visibleDialogContent = this.signInContentType
  }

  requireInput (inputValue: any) {
    return !!inputValue || 'Must have input value'
  }

  requireMoreThanN1Characters (inputValue: any) {
    return inputValue.length >= 5 || 'Must have at least than 5 characters'
  }

  requirePassword1AndPassword2Match (inputValue: any) {
    return inputValue === this.createAccountPassword1 || 'Must match password'
  }

  requireValidEmailAddress (inputValue: any) {
    const re = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
    return re.test(inputValue) || 'Must be valid email address'
  }

  // Emit Toggle show content
  emitToggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.$emit('toggleShowContent', { isVisible })
  }
}

export default DigitalCurrency18AccountSignInIntroduction


</script>
<style lang="scss">

.payment-amount {
  .v-label {
    background-color: white;
  }
}
</style>


