<template>
  <div class="product-resource-helper-components-3-resource-list" style="text-align: left">
    <v-expansion-panels tile class="mt-0" focusable multiple :value="isExandedPanelList">
      <!-- Product Description -->
      <v-expansion-panel multiple :value="isOpenAccountDescription">
        <v-expansion-panel-header>
          <span>
            <v-icon left>work_outline</v-icon>
            Job Position Description
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobEmploymentPositionResourceItem1JobPositionDescription />
        </v-expansion-panel-content>
      </v-expansion-panel>
      <!-- Product Statistics -->
      <v-expansion-panel multiple :value="isOpenAccountDescription">
        <v-expansion-panel-header>
          <span>
            <v-icon left>bar_chart</v-icon>
            Job Position Statistics
          </span>
        </v-expansion-panel-header>
        <v-expansion-panel-content>
          <JobEmploymentPositionResourceItem2JobPositionStatistics />
        </v-expansion-panel-content>
      </v-expansion-panel>
    </v-expansion-panels>
  </div>
</template>
<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'


import JobEmploymentPositionResourceItem1JobPositionDescription from './service-for-job-employment-position-resource-item/job-employment-position-resource-item-1-job-position-description.vue'
import JobEmploymentPositionResourceItem2JobPositionStatistics from './service-for-job-employment-position-resource-item/job-employment-position-resource-item-2-job-position-statistics.vue'


@Component({
  components: {
    JobEmploymentPositionResourceItem1JobPositionDescription,
    JobEmploymentPositionResourceItem2JobPositionStatistics
  }
})
class ProductResourceHelperComponents3ResourceList extends Vue {
  @Prop({ default: '' }) productResourceId?: string

  isExandedPanelList: number[] = []

  isOpenAccountDescription: number = 0
  isOpenAccountStatistics: number = 0
  isOpenTransactionStatistics: number = 0
}

export default ProductResourceHelperComponents3ResourceList

</script>
<style lang="scss">

.product-resource-helper-components-3-resource-list {
  position: relative;
}
</style>