
<template>
  <div class="add-to-group-button">
    <v-btn v-if="isIconButton" icon color="blue" @click="isVisibleAddToGroupRequestDialog = true"><v-icon>create_new_folder</v-icon></v-btn>
    <v-btn v-else tile :depressed="isDepressedButton" class="mr-2 primary" @click="isVisibleAddToGroupRequestDialog = true">
      <v-icon left>create_new_folder</v-icon> Add To Group
    </v-btn>
    <v-dialog v-model="isVisibleAddToGroupRequestDialog" width="400">
      <v-card style="position: relative">
        <Groups2AddToGroupDialogContent v-on:toggleShowContent="toggleShowContent($event)"
          :selectedItemId="selectedItemId"
          :selectedItemType="selectedItemType" />
      </v-card>
    </v-dialog>
  </div>
</template>
<script lang="ts">
import Vue from 'vue'
import Component from 'vue-class-component'
import { Prop } from 'vue-property-decorator'

import Groups2AddToGroupDialogContent from './groups-2-add-to-group-dialog-content.vue'

@Component({
  components: {
    Groups2AddToGroupDialogContent
  }
})
class Groups1AddToGroupButton extends Vue {
  @Prop({ default: false }) isIconButton?: boolean
  @Prop({ default: false }) isDepressedButton?: boolean

  @Prop({ default: '' }) selectedItemId?: string
  @Prop({ default: '' }) selectedItemType?: string

  isVisibleAddToGroupRequestDialog: boolean = false

  toggleShowContent ({ isVisible }: { isVisible: boolean }) {
    this.isVisibleAddToGroupRequestDialog = isVisible
  }
}

export default Groups1AddToGroupButton

</script>

