<template>
  <div></div>
</template>

<script lang="ts">

import Vue from 'vue'
import Component from 'vue-class-component'

@Component({
  components: {}
})
class ProductResourceResourceItem1YourShop extends Vue {

}

export default ProductResourceResourceItem1YourShop

</script>

<style lang="scss" scoped>

</style>
